# Copy Database

## Connect to Databases

In [19]:
import mysql.connector
from mysql.connector import errorcode
import pyodbc
config_aws_mysql = {
  'user': 'manodhayan',
  'password': 'Ambience^DB',
  'host': 'hospsqldatabase.czbthbfxmuzs.ap-south-1.rds.amazonaws.com',
  'database': 'hospsqldatabase',
  'raise_on_warnings': True
}



'''Connect to the aws_Database'''
try:
#     cnx = mysql.connector.connect(user='ambiencesqldb', password='Ambience^DB',
#                               host="den1.mysql2.gear.host",
#                               database='ambiencesqldb')
    aws_mysql_cnx=mysql.connector.connect(**config_aws_mysql)
    print("Connected to AWS!")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
        
aws_mysql_cursor = aws_mysql_cnx.cursor()

'''Connect to the Database'''
try:
    aws_sql_server_cnx=pyodbc.connect("Driver={SQL Server};server=hospsqlserverdatabase.czbthbfxmuzs.ap-south-1.rds.amazonaws.com,1433;database=hospsqlserverdatabase;uid=manodhayan;pwd=amazonMano98",
                      autocommit=True)
    print("Successfully connected to SQL Server Database Instance :)")

except:
    print("Error connecting to Database :(")
        
aws_sql_server_cursor = aws_sql_server_cnx.cursor()

Connected to AWS!
Successfully connected to SQL Server Database Instance :)

## Get data From Gearhost Database and Copy it to AWS Database

In [20]:
aws_mysql_cursor = aws_mysql_cnx.cursor()
aws_mysql_cursor.execute(("SELECT * FROM hospital_A"))
count=0
for data in aws_mysql_cursor:
    count+=1
    if count>14940:
        query=(("INSERT INTO hospital_A "
               "(Timestamp, Room, Temperature, Humidity) "
               "VALUES (?, ?, ?, ?)"))
        Timestamp=data[0];room=data[1];temperature=data[2];humidity=data[3]
        query_data=(Timestamp,room,temperature,humidity) 
        print(query,query_data)  
        aws_sql_server_cursor.execute(query, query_data)
        aws_sql_server_cnx.commit()
        print("Row {} is Updated!!!".format(count))
    
aws_mysql_cnx.commit()

INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 19, 3), 'Surgical Ward', 24, 72)
Row 14941 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 19, 20), 'Emergency Ward', 27, 67)
Row 14942 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 19, 22), 'Maternity Ward', 25, 71)
Row 14943 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 19, 33), 'ICU', 24, 61)
Row 14944 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 20, 24), 'Surgical Ward', 24, 72)
Row 14945 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 20, 34), 'Emergency Ward', 27, 67)
Row 14946 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 20, 42), 'Maternity Ward', 23, 71)
Row 14947 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 20, 52), 'ICU', 24, 61)
Row 14948 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 21, 43), 'Emergency Ward', 27, 67)
Row 14949 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 21, 44), 'Surgical Ward', 24, 72)
Row 14950 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 22, 3), 'Maternity Ward', 23, 71)
Row 14951 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 22, 11), 'ICU', 24, 61)
Row 14952 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 23, 4), 'Emergency Ward', 27, 67)
Row 14953 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 23, 5), 'Surgical Ward', 24, 72)
Row 14954 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 23, 23), 'Maternity Ward', 23, 71)
Row 14955 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 23, 30), 'ICU', 24, 61)
Row 14956 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 24, 25), 'Surgical Ward', 24, 72)
Row 14957 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 24, 25), 'Emergency Ward', 27, 67)
Row 14958 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 24, 44), 'Maternity Ward', 23, 71)
Row 14959 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 24, 49), 'ICU', 28, 60)
Row 14960 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 25, 45), 'Surgical Ward', 24, 72)
Row 14961 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 25, 46), 'Emergency Ward', 27, 67)
Row 14962 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 26, 4), 'Maternity Ward', 23, 71)
Row 14963 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 26, 8), 'ICU', 24, 62)
Row 14964 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 27, 6), 'Surgical Ward', 24, 72)
Row 14965 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 27, 7), 'Emergency Ward', 27, 67)
Row 14966 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 27, 24), 'Maternity Ward', 23, 71)
Row 14967 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 27, 27), 'ICU', 24, 62)
Row 14968 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 28, 27), 'Surgical Ward', 24, 72)
Row 14969 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 28, 28), 'Emergency Ward', 27, 67)
Row 14970 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 28, 45), 'Maternity Ward', 23, 71)
Row 14971 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 28, 47), 'ICU', 24, 62)
Row 14972 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 29, 47), 'Surgical Ward', 24, 72)
Row 14973 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 29, 49), 'Emergency Ward', 27, 67)
Row 14974 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 30, 5), 'Maternity Ward', 23, 71)
Row 14975 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 30, 6), 'ICU', 24, 62)
Row 14976 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 31), 'Surgical Ward', 24, 72)
Row 14977 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 31, 10), 'Emergency Ward', 27, 67)
Row 14978 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 31, 25), 'ICU', 24, 62)
Row 14979 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 31, 26), 'Maternity Ward', 23, 71)
Row 14980 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 32, 9), 'Surgical Ward', 24, 72)
Row 14981 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 32, 31), 'Emergency Ward', 27, 67)
Row 14982 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 32, 37), 'ICU', 24, 62)
Row 14983 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 32, 39), 'Maternity Ward', 24, 71)
Row 14984 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 33, 30), 'Surgical Ward', 24, 72)
Row 14985 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 33, 44), 'ICU', 24, 62)
Row 14986 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 33, 48), 'Maternity Ward', 23, 71)

Row 14987 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 33, 52), 'Emergency Ward', 27, 67)
Row 14988 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 34, 50), 'Surgical Ward', 24, 72)
Row 14989 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 35, 4), 'ICU', 24, 62)
Row 14990 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 35, 6), 'Emergency Ward', 27, 67)
Row 14991 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 35, 8), 'Maternity Ward', 23, 71)
Row 14992 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 36, 11), 'Surgical Ward', 24, 72)
Row 14993 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 36, 15), 'Emergency Ward', 27, 67)
Row 14994 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 36, 23), 'ICU', 24, 62)
Row 14995 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 36, 29), 'Maternity Ward', 23, 71)
Row 14996 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 37, 31), 'Surgical Ward', 24, 72)
Row 14997 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 37, 36), 'Emergency Ward', 27, 67)
Row 14998 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 37, 42), 'ICU', 24, 62)
Row 14999 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 37, 49), 'Maternity Ward', 23, 71)
Row 15000 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 38, 52), 'Surgical Ward', 24, 72)
Row 15001 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 38, 57), 'Emergency Ward', 27, 67)
Row 15002 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 39, 1), 'ICU', 24, 62)
Row 15003 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 39, 9), 'Maternity Ward', 23, 71)
Row 15004 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 40, 12), 'Surgical Ward', 24, 72)
Row 15005 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 40, 18), 'Emergency Ward', 27, 67)
Row 15006 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 40, 20), 'ICU', 24, 62)
Row 15007 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 40, 30), 'Maternity Ward', 23, 70)
Row 15008 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 41, 33), 'Surgical Ward', 24, 72)
Row 15009 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 41, 39), 'Emergency Ward', 27, 67)
Row 15010 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 41, 39), 'ICU', 24, 62)
Row 15011 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 41, 50), 'Maternity Ward', 24, 71)
Row 15012 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 42, 53), 'Surgical Ward', 24, 72)
Row 15013 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 42, 58), 'ICU', 24, 62)
Row 15014 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 43), 'Emergency Ward', 27, 67)
Row 15015 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 43, 11), 'Maternity Ward', 23, 70)
Row 15016 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 44, 14), 'Surgical Ward', 24, 72)
Row 15017 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 44, 17), 'ICU', 24, 62)
Row 15018 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 44, 21), 'Emergency Ward', 27, 67)
Row 15019 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 44, 31), 'Maternity Ward', 24, 70)
Row 15020 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 45, 27), 'Surgical Ward', 24, 72)
Row 15021 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 45, 36), 'ICU', 24, 62)
Row 15022 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 45, 42), 'Emergency Ward', 27, 67)
Row 15023 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 45, 52), 'Maternity Ward', 23, 71)
Row 15024 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 46, 36), 'Surgical Ward', 24, 73)
Row 15025 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 46, 49), 'ICU', 24, 63)
Row 15026 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 47, 3), 'Emergency Ward', 27, 67)
Row 15027 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 47, 5), 'Maternity Ward', 23, 71)
Row 15028 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 47, 56), 'ICU', 24, 63)
Row 15029 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 47, 57), 'Surgical Ward', 24, 73)
Row 15030 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 48, 14), 'Maternity Ward', 23, 71)
Row 15031 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 48, 24), 'Emergency Ward', 27, 67)
Row 15032 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 49, 15), 'ICU', 24, 63)
Row 15033 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 49, 17), 'Surgical Ward', 24, 73)

Row 15034 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 49, 34), 'Maternity Ward', 23, 71)
Row 15035 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 49, 38), 'Emergency Ward', 27, 67)
Row 15036 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 50, 35), 'ICU', 24, 63)
Row 15037 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 50, 37), 'Surgical Ward', 24, 73)
Row 15038 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 50, 47), 'Emergency Ward', 27, 67)
Row 15039 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 50, 55), 'Maternity Ward', 23, 71)
Row 15040 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 51, 54), 'ICU', 24, 63)
Row 15041 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 51, 58), 'Surgical Ward', 24, 73)
Row 15042 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 52, 8), 'Emergency Ward', 27, 67)
Row 15043 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 52, 15), 'Maternity Ward', 23, 71)
Row 15044 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 53, 13), 'ICU', 28, 62)
Row 15045 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 53, 18), 'Surgical Ward', 24, 73)
Row 15046 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 53, 29), 'Emergency Ward', 27, 67)
Row 15047 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 53, 36), 'Maternity Ward', 23, 71)
Row 15048 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 54, 32), 'ICU', 24, 63)
Row 15049 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 54, 39), 'Surgical Ward', 24, 73)
Row 15050 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 54, 50), 'Emergency Ward', 27, 67)
Row 15051 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 54, 56), 'Maternity Ward', 23, 71)
Row 15052 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 55, 51), 'ICU', 24, 63)
Row 15053 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 55, 59), 'Surgical Ward', 24, 73)
Row 15054 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 56, 11), 'Emergency Ward', 27, 67)
Row 15055 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 56, 16), 'Maternity Ward', 23, 71)
Row 15056 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 57, 10), 'ICU', 24, 63)
Row 15057 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 57, 20), 'Surgical Ward', 24, 73)
Row 15058 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 57, 32), 'Emergency Ward', 27, 67)
Row 15059 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 57, 37), 'Maternity Ward', 23, 71)
Row 15060 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 58, 29), 'ICU', 24, 63)
Row 15061 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 58, 40), 'Surgical Ward', 24, 73)
Row 15062 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 58, 53), 'Emergency Ward', 27, 67)
Row 15063 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 58, 58), 'Maternity Ward', 23, 71)
Row 15064 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 59, 48), 'ICU', 24, 63)
Row 15065 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 21, 59, 54), 'Surgical Ward', 24, 73)
Row 15066 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 0, 14), 'Emergency Ward', 27, 67)
Row 15067 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 0, 18), 'Maternity Ward', 24, 71)
Row 15068 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 1, 1), 'ICU', 24, 63)
Row 15069 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 1, 3), 'Surgical Ward', 24, 73)
Row 15070 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 1, 31), 'Maternity Ward', 23, 71)
Row 15071 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 1, 35), 'Emergency Ward', 27, 67)
Row 15072 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 2, 8), 'ICU', 28, 62)
Row 15073 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 2, 23), 'Surgical Ward', 24, 73)
Row 15074 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 2, 40), 'Maternity Ward', 23, 71)
Row 15075 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 2, 56), 'Emergency Ward', 27, 67)
Row 15076 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 3, 27), 'ICU', 24, 63)
Row 15077 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 3, 44), 'Surgical Ward', 24, 73)
Row 15078 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 4), 'Maternity Ward', 23, 71)
Row 15079 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 4, 10), 'Emergency Ward', 27, 67)
Row 15080 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 4, 46), 'ICU', 24, 63)
Row 15081 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 5, 4), 'Surgical Ward', 24, 73)
Row 15082 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 5, 19), 'Emergency Ward', 27, 67)
Row 15083 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 5, 21), 'Maternity Ward', 23, 71)

Row 15084 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 6, 6), 'ICU', 24, 63)
Row 15085 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 6, 25), 'Surgical Ward', 24, 73)
Row 15086 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 6, 40), 'Emergency Ward', 27, 67)
Row 15087 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 6, 41), 'Maternity Ward', 23, 71)
Row 15088 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 7, 25), 'ICU', 24, 63)
Row 15089 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 7, 45), 'Surgical Ward', 24, 73)
Row 15090 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 8, 1), 'Emergency Ward', 27, 67)
Row 15091 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 8, 2), 'Maternity Ward', 24, 71)
Row 15092 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 8, 44), 'ICU', 24, 63)
Row 15093 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 9, 6), 'Surgical Ward', 24, 74)
Row 15094 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 9, 22), 'Emergency Ward', 27, 67)
Row 15095 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 9, 22), 'Maternity Ward', 23, 71)
Row 15096 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 10, 3), 'ICU', 28, 62)
Row 15097 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 10, 26), 'Surgical Ward', 24, 74)
Row 15098 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 10, 42), 'Maternity Ward', 23, 71)
Row 15099 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 10, 43), 'Emergency Ward', 27, 67)
Row 15100 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 11, 22), 'ICU', 24, 63)
Row 15101 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 11, 47), 'Surgical Ward', 24, 74)
Row 15102 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 12, 3), 'Maternity Ward', 23, 71)
Row 15103 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 12, 4), 'Emergency Ward', 27, 67)
Row 15104 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 12, 41), 'ICU', 24, 63)
Row 15105 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 13, 7), 'Surgical Ward', 24, 74)
Row 15106 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 13, 23), 'Maternity Ward', 23, 71)
Row 15107 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 13, 25), 'Emergency Ward', 27, 67)
Row 15108 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 14), 'ICU', 28, 62)
Row 15109 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 14, 21), 'Surgical Ward', 24, 74)
Row 15110 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 14, 44), 'Maternity Ward', 23, 71)
Row 15111 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 14, 46), 'Emergency Ward', 27, 67)
Row 15112 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 15, 12), 'ICU', 24, 64)
Row 15113 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 15, 29), 'Surgical Ward', 24, 74)
Row 15114 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 15, 57), 'Maternity Ward', 23, 71)
Row 15115 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 16, 7), 'Emergency Ward', 27, 67)
Row 15116 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 16, 20), 'ICU', 24, 63)
Row 15117 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 16, 50), 'Surgical Ward', 24, 74)
Row 15118 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 17, 6), 'Maternity Ward', 23, 71)
Row 15119 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 17, 27), 'Emergency Ward', 27, 67)
Row 15120 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 17, 39), 'ICU', 24, 64)
Row 15121 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 18, 10), 'Surgical Ward', 24, 74)
Row 15122 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 18, 26), 'Maternity Ward', 23, 71)
Row 15123 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 18, 42), 'Emergency Ward', 27, 67)
Row 15124 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 18, 58), 'ICU', 24, 64)
Row 15125 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 19, 31), 'Surgical Ward', 25, 73)
Row 15126 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 19, 47), 'Maternity Ward', 23, 71)
Row 15127 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 19, 51), 'Emergency Ward', 27, 67)
Row 15128 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 20, 18), 'ICU', 24, 64)
Row 15129 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 20, 51), 'Surgical Ward', 24, 74)
Row 15130 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 21, 7), 'Maternity Ward', 23, 71)
Row 15131 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 21, 12), 'Emergency Ward', 27, 67)
Row 15132 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 21, 37), 'ICU', 24, 64)

Row 15133 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 22, 12), 'Surgical Ward', 24, 74)
Row 15134 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 22, 28), 'Maternity Ward', 23, 71)
Row 15135 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 22, 33), 'Emergency Ward', 27, 67)
Row 15136 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 22, 56), 'ICU', 24, 64)
Row 15137 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 23, 32), 'Surgical Ward', 24, 74)
Row 15138 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 23, 48), 'Maternity Ward', 23, 71)
Row 15139 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 23, 54), 'Emergency Ward', 27, 67)
Row 15140 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 24, 16), 'ICU', 28, 62)
Row 15141 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 24, 53), 'Surgical Ward', 24, 74)
Row 15142 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 25, 8), 'Maternity Ward', 23, 71)
Row 15143 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 25, 15), 'Emergency Ward', 27, 67)
Row 15144 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 25, 34), 'ICU', 24, 64)
Row 15145 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 26, 13), 'Surgical Ward', 24, 74)
Row 15146 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 26, 29), 'Maternity Ward', 23, 71)
Row 15147 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 26, 36), 'Emergency Ward', 27, 67)
Row 15148 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 26, 53), 'ICU', 24, 64)
Row 15149 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 27, 34), 'Surgical Ward', 24, 74)
Row 15150 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 27, 49), 'Maternity Ward', 24, 71)
Row 15151 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 27, 56), 'Emergency Ward', 27, 67)
Row 15152 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 28, 12), 'ICU', 24, 64)
Row 15153 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 28, 47), 'Surgical Ward', 24, 74)
Row 15154 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 29, 10), 'Maternity Ward', 23, 71)
Row 15155 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 29, 17), 'Emergency Ward', 27, 67)
Row 15156 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 29, 24), 'ICU', 28, 63)
Row 15157 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 29, 56), 'Surgical Ward', 24, 74)
Row 15158 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 30, 23), 'Maternity Ward', 23, 71)
Row 15159 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 30, 32), 'ICU', 24, 64)
Row 15160 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 30, 38), 'Emergency Ward', 27, 67)
Row 15161 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 31, 17), 'Surgical Ward', 24, 74)
Row 15162 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 31, 32), 'Maternity Ward', 23, 71)
Row 15163 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 31, 51), 'ICU', 24, 64)
Row 15164 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 32), 'Emergency Ward', 27, 67)
Row 15165 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 32, 37), 'Surgical Ward', 24, 74)
Row 15166 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 32, 53), 'Maternity Ward', 23, 71)
Row 15167 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 33, 10), 'ICU', 28, 63)
Row 15168 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 33, 13), 'Emergency Ward', 27, 67)
Row 15169 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 33, 58), 'Surgical Ward', 24, 74)
Row 15170 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 34, 13), 'Maternity Ward', 23, 71)
Row 15171 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 34, 23), 'Emergency Ward', 27, 67)
Row 15172 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 34, 29), 'ICU', 28, 63)
Row 15173 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 35, 18), 'Surgical Ward', 24, 74)
Row 15174 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 35, 33), 'Maternity Ward', 23, 71)
Row 15175 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 35, 45), 'Emergency Ward', 27, 67)
Row 15176 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 35, 49), 'ICU', 28, 63)
Row 15177 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 36, 39), 'Surgical Ward', 24, 74)
Row 15178 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 36, 54), 'Maternity Ward', 23, 71)
Row 15179 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 37, 5), 'Emergency Ward', 27, 67)
Row 15180 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 37, 8), 'ICU', 24, 64)

Row 15181 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 37, 59), 'Surgical Ward', 24, 74)
Row 15182 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 38, 14), 'Maternity Ward', 23, 71)
Row 15183 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 38, 26), 'Emergency Ward', 27, 67)
Row 15184 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 38, 27), 'ICU', 24, 64)
Row 15185 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 39, 19), 'Surgical Ward', 24, 74)
Row 15186 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 39, 35), 'Maternity Ward', 23, 71)
Row 15187 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 39, 46), 'ICU', 24, 64)
Row 15188 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 39, 47), 'Emergency Ward', 27, 67)
Row 15189 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 40, 40), 'Surgical Ward', 24, 74)
Row 15190 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 40, 55), 'Maternity Ward', 23, 71)
Row 15191 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 41, 5), 'ICU', 24, 64)
Row 15192 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 41, 7), 'Emergency Ward', 27, 67)
Row 15193 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 42), 'Surgical Ward', 24, 74)
Row 15194 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 42, 15), 'Maternity Ward', 23, 71)
Row 15195 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 42, 24), 'ICU', 24, 64)
Row 15196 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 42, 28), 'Emergency Ward', 27, 67)
Row 15197 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 43, 14), 'Surgical Ward', 24, 74)
Row 15198 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 43, 36), 'Maternity Ward', 23, 71)
Row 15199 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 43, 36), 'ICU', 24, 64)
Row 15200 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 43, 49), 'Emergency Ward', 27, 67)
Row 15201 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 44, 23), 'Surgical Ward', 24, 74)
Row 15202 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 44, 44), 'ICU', 24, 64)
Row 15203 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 44, 49), 'Maternity Ward', 23, 71)
Row 15204 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 45, 10), 'Emergency Ward', 27, 67)
Row 15205 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 45, 43), 'Surgical Ward', 24, 74)
Row 15206 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 45, 58), 'Maternity Ward', 23, 71)
Row 15207 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 46, 3), 'ICU', 24, 64)
Row 15208 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 46, 31), 'Emergency Ward', 27, 67)
Row 15209 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 47, 4), 'Surgical Ward', 24, 74)
Row 15210 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 47, 19), 'Maternity Ward', 23, 71)
Row 15211 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 47, 22), 'ICU', 24, 64)
Row 15212 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 47, 46), 'Emergency Ward', 27, 67)
Row 15213 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 48, 24), 'Surgical Ward', 24, 74)
Row 15214 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 48, 39), 'Maternity Ward', 23, 71)
Row 15215 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 48, 41), 'ICU', 24, 64)
Row 15216 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 48, 55), 'Emergency Ward', 27, 67)
Row 15217 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 49, 45), 'Surgical Ward', 24, 74)
Row 15218 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 49, 59), 'Maternity Ward', 24, 71)
Row 15219 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 50, 1), 'ICU', 24, 64)
Row 15220 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 50, 16), 'Emergency Ward', 27, 67)
Row 15221 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 51, 5), 'Surgical Ward', 24, 74)
Row 15222 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 51, 37), 'Emergency Ward', 27, 67)
Row 15223 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 52, 26), 'Surgical Ward', 24, 74)
Row 15224 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 52, 39), 'ICU', 24, 64)
Row 15225 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 52, 40), 'Maternity Ward', 23, 71)
Row 15226 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 52, 58), 'Emergency Ward', 27, 67)
Row 15227 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 53, 46), 'Surgical Ward', 24, 74)
Row 15228 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 53, 58), 'ICU', 24, 64)
Row 15229 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 54, 1), 'Maternity Ward', 23, 71)

Row 15230 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 54, 19), 'Emergency Ward', 27, 67)
Row 15231 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 55, 7), 'Surgical Ward', 24, 74)
Row 15232 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 55, 17), 'ICU', 24, 64)
Row 15233 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 55, 21), 'Maternity Ward', 24, 70)
Row 15234 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 55, 40), 'Emergency Ward', 27, 67)
Row 15235 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 56, 27), 'Surgical Ward', 24, 74)
Row 15236 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 56, 36), 'ICU', 24, 64)
Row 15237 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 56, 41), 'Maternity Ward', 23, 71)
Row 15238 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 57, 1), 'Emergency Ward', 27, 67)
Row 15239 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 57, 41), 'Surgical Ward', 24, 74)
Row 15240 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 57, 48), 'ICU', 24, 64)
Row 15241 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 58, 2), 'Maternity Ward', 23, 70)
Row 15242 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 58, 22), 'Emergency Ward', 27, 67)
Row 15243 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 58, 50), 'Surgical Ward', 24, 74)
Row 15244 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 58, 56), 'ICU', 24, 64)
Row 15245 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 59, 15), 'Maternity Ward', 23, 70)
Row 15246 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 22, 59, 42), 'Emergency Ward', 27, 67)
Row 15247 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 0, 10), 'Surgical Ward', 24, 73)
Row 15248 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 0, 15), 'ICU', 24, 64)
Row 15249 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 0, 24), 'Maternity Ward', 24, 70)
Row 15250 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 1, 4), 'Emergency Ward', 27, 67)
Row 15251 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 1, 30), 'Surgical Ward', 24, 73)
Row 15252 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 1, 34), 'ICU', 24, 64)
Row 15253 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 1, 45), 'Maternity Ward', 23, 70)
Row 15254 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 2, 17), 'Emergency Ward', 27, 67)
Row 15255 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 2, 51), 'Surgical Ward', 24, 73)
Row 15256 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 2, 53), 'ICU', 24, 64)
Row 15257 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 3, 5), 'Maternity Ward', 23, 70)
Row 15258 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 3, 27), 'Emergency Ward', 27, 67)
Row 15259 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 4, 11), 'Surgical Ward', 24, 73)
Row 15260 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 4, 12), 'ICU', 24, 64)
Row 15261 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 4, 25), 'Maternity Ward', 24, 70)
Row 15262 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 4, 48), 'Emergency Ward', 27, 67)
Row 15263 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 5, 32), 'ICU', 24, 63)
Row 15264 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 5, 32), 'Surgical Ward', 24, 73)
Row 15265 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 5, 46), 'Maternity Ward', 23, 70)
Row 15266 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 6, 9), 'Emergency Ward', 27, 67)
Row 15267 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 6, 51), 'ICU', 24, 64)
Row 15268 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 6, 52), 'Surgical Ward', 24, 73)
Row 15269 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 7, 6), 'Maternity Ward', 23, 70)
Row 15270 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 7, 30), 'Emergency Ward', 27, 67)
Row 15271 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 8, 10), 'ICU', 28, 62)
Row 15272 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 8, 13), 'Surgical Ward', 24, 73)
Row 15273 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 8, 27), 'Maternity Ward', 23, 70)
Row 15274 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 8, 51), 'Emergency Ward', 27, 67)
Row 15275 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 9, 29), 'ICU', 24, 63)
Row 15276 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 9, 33), 'Surgical Ward', 24, 73)
Row 15277 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 9, 47), 'Maternity Ward', 23, 71)
Row 15278 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 10, 12), 'Emergency Ward', 27, 67)

Row 15279 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 10, 48), 'ICU', 24, 63)
Row 15280 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 10, 54), 'Surgical Ward', 24, 73)
Row 15281 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 11, 7), 'Maternity Ward', 24, 70)
Row 15282 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 11, 32), 'Emergency Ward', 27, 67)
Row 15283 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 12), 'ICU', 24, 63)
Row 15284 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 12, 7), 'Surgical Ward', 24, 73)
Row 15285 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 12, 28), 'Maternity Ward', 23, 70)
Row 15286 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 13, 8), 'ICU', 28, 62)
Row 15287 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 13, 16), 'Surgical Ward', 24, 73)
Row 15288 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 13, 41), 'Maternity Ward', 23, 70)
Row 15289 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 14, 14), 'Emergency Ward', 27, 67)
Row 15290 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 14, 27), 'ICU', 24, 63)
Row 15291 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 14, 37), 'Surgical Ward', 24, 73)
Row 15292 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 14, 50), 'Maternity Ward', 23, 70)
Row 15293 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 15, 35), 'Emergency Ward', 27, 67)
Row 15294 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 15, 46), 'ICU', 24, 63)
Row 15295 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 15, 57), 'Surgical Ward', 24, 73)
Row 15296 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 16, 11), 'Maternity Ward', 24, 70)
Row 15297 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 16, 49), 'Emergency Ward', 27, 67)
Row 15298 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 17, 5), 'ICU', 24, 63)
Row 15299 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 17, 18), 'Surgical Ward', 24, 73)
Row 15300 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 17, 31), 'Maternity Ward', 23, 70)
Row 15301 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 17, 59), 'Emergency Ward', 27, 67)
Row 15302 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 18, 24), 'ICU', 24, 63)
Row 15303 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 18, 38), 'Surgical Ward', 24, 73)
Row 15304 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 18, 51), 'Maternity Ward', 23, 70)
Row 15305 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 19, 20), 'Emergency Ward', 27, 67)
Row 15306 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 19, 43), 'ICU', 28, 62)
Row 15307 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 19, 59), 'Surgical Ward', 24, 73)
Row 15308 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 20, 12), 'Maternity Ward', 23, 70)
Row 15309 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 20, 41), 'Emergency Ward', 27, 67)
Row 15310 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 21, 3), 'ICU', 24, 63)
Row 15311 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 21, 19), 'Surgical Ward', 24, 73)
Row 15312 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 21, 32), 'Maternity Ward', 24, 70)
Row 15313 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 22, 2), 'Emergency Ward', 27, 67)
Row 15314 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 22, 22), 'ICU', 28, 62)
Row 15315 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 22, 40), 'Surgical Ward', 24, 73)
Row 15316 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 23, 22), 'Emergency Ward', 27, 67)
Row 15317 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 23, 41), 'ICU', 24, 63)
Row 15318 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 24), 'Surgical Ward', 24, 73)
Row 15319 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 24, 13), 'Maternity Ward', 23, 70)
Row 15320 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 24, 43), 'Emergency Ward', 27, 67)
Row 15321 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 25), 'ICU', 24, 63)
Row 15322 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 25, 21), 'Surgical Ward', 24, 73)
Row 15323 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 25, 33), 'Maternity Ward', 23, 70)
Row 15324 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 26, 4), 'Emergency Ward', 27, 67)
Row 15325 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 26, 12), 'ICU', 28, 62)
Row 15326 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 26, 34), 'Surgical Ward', 24, 73)
Row 15327 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 26, 54), 'Maternity Ward', 23, 70)

Row 15328 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 27, 20), 'ICU', 24, 63)
Row 15329 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 27, 25), 'Emergency Ward', 27, 67)
Row 15330 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 27, 43), 'Surgical Ward', 24, 73)
Row 15331 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 28, 7), 'Maternity Ward', 23, 70)
Row 15332 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 28, 39), 'ICU', 24, 63)
Row 15333 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 28, 46), 'Emergency Ward', 27, 67)
Row 15334 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 29, 4), 'Surgical Ward', 24, 73)
Row 15335 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 29, 16), 'Maternity Ward', 23, 70)
Row 15336 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 29, 58), 'ICU', 24, 63)
Row 15337 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 30, 7), 'Emergency Ward', 27, 67)
Row 15338 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 30, 24), 'Surgical Ward', 24, 73)
Row 15339 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 30, 37), 'Maternity Ward', 24, 70)
Row 15340 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 31, 17), 'ICU', 24, 63)
Row 15341 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 31, 21), 'Emergency Ward', 27, 67)
Row 15342 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 31, 57), 'Maternity Ward', 24, 70)
Row 15343 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 32, 31), 'Emergency Ward', 27, 67)
Row 15344 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 32, 36), 'ICU', 24, 63)
Row 15345 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 33, 6), 'Surgical Ward', 24, 73)
Row 15346 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 33, 17), 'Maternity Ward', 24, 70)
Row 15347 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 33, 52), 'Emergency Ward', 27, 67)
Row 15348 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 33, 55), 'ICU', 24, 63)
Row 15349 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 34, 25), 'Surgical Ward', 24, 73)
Row 15350 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 34, 38), 'Maternity Ward', 23, 70)
Row 15351 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 35, 13), 'Emergency Ward', 27, 67)
Row 15352 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 35, 15), 'ICU', 24, 63)
Row 15353 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 35, 46), 'Surgical Ward', 24, 73)
Row 15354 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 35, 58), 'Maternity Ward', 24, 70)
Row 15355 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 36, 33), 'Emergency Ward', 27, 67)
Row 15356 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 36, 34), 'ICU', 24, 63)
Row 15357 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 37, 6), 'Surgical Ward', 24, 73)
Row 15358 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 37, 19), 'Maternity Ward', 24, 70)
Row 15359 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 37, 53), 'ICU', 24, 63)
Row 15360 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 37, 55), 'Emergency Ward', 27, 67)
Row 15361 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 38, 27), 'Surgical Ward', 24, 73)
Row 15362 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 38, 39), 'Maternity Ward', 23, 70)
Row 15363 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 39, 12), 'ICU', 24, 63)
Row 15364 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 39, 15), 'Emergency Ward', 27, 67)
Row 15365 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 39, 47), 'Surgical Ward', 24, 73)
Row 15366 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 39, 59), 'Maternity Ward', 23, 70)
Row 15367 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 40, 24), 'ICU', 28, 62)
Row 15368 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 40, 36), 'Emergency Ward', 27, 67)
Row 15369 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 41, 1), 'Surgical Ward', 24, 73)
Row 15370 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 41, 20), 'Maternity Ward', 24, 70)
Row 15371 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 41, 32), 'ICU', 24, 63)
Row 15372 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 41, 57), 'Emergency Ward', 27, 67)
Row 15373 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 42, 10), 'Surgical Ward', 24, 73)
Row 15374 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 42, 33), 'Maternity Ward', 24, 70)

Row 15375 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 42, 51), 'ICU', 28, 62)
Row 15376 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 43, 18), 'Emergency Ward', 27, 67)
Row 15377 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 43, 30), 'Surgical Ward', 24, 73)
Row 15378 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 43, 42), 'Maternity Ward', 24, 70)
Row 15379 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 44, 10), 'ICU', 24, 63)
Row 15380 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 44, 39), 'Emergency Ward', 27, 67)
Row 15381 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 44, 51), 'Surgical Ward', 24, 73)
Row 15382 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 45, 3), 'Maternity Ward', 24, 70)
Row 15383 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 45, 29), 'ICU', 24, 63)
Row 15384 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 45, 53), 'Emergency Ward', 27, 67)
Row 15385 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 46, 11), 'Surgical Ward', 24, 73)
Row 15386 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 46, 23), 'Maternity Ward', 23, 70)
Row 15387 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 46, 48), 'ICU', 24, 63)
Row 15388 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 47, 3), 'Emergency Ward', 27, 67)
Row 15389 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 47, 32), 'Surgical Ward', 24, 73)
Row 15390 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 47, 44), 'Maternity Ward', 23, 70)
Row 15391 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 48, 7), 'ICU', 28, 62)
Row 15392 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 48, 23), 'Emergency Ward', 27, 67)
Row 15393 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 48, 52), 'Surgical Ward', 24, 73)
Row 15394 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 49, 4), 'Maternity Ward', 24, 70)
Row 15395 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 49, 26), 'ICU', 28, 62)
Row 15396 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 49, 44), 'Emergency Ward', 27, 67)
Row 15397 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 50, 13), 'Surgical Ward', 24, 73)
Row 15398 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 50, 24), 'Maternity Ward', 24, 70)
Row 15399 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 50, 46), 'ICU', 24, 63)
Row 15400 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 51, 5), 'Emergency Ward', 27, 67)
Row 15401 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 51, 33), 'Surgical Ward', 24, 72)
Row 15402 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 51, 45), 'Maternity Ward', 24, 70)
Row 15403 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 52, 5), 'ICU', 24, 63)
Row 15404 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 52, 26), 'Emergency Ward', 27, 67)
Row 15405 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 52, 53), 'Surgical Ward', 24, 73)
Row 15406 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 53, 5), 'Maternity Ward', 23, 70)
Row 15407 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 53, 24), 'ICU', 28, 62)
Row 15408 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 53, 47), 'Emergency Ward', 27, 67)
Row 15409 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 54, 14), 'Surgical Ward', 24, 73)
Row 15410 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 54, 26), 'Maternity Ward', 24, 70)
Row 15411 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 54, 36), 'ICU', 25, 61)
Row 15412 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 55, 8), 'Emergency Ward', 27, 67)
Row 15413 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 55, 28), 'Surgical Ward', 24, 72)
Row 15414 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 55, 44), 'ICU', 25, 61)
Row 15415 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 55, 46), 'Maternity Ward', 23, 70)
Row 15416 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 56, 29), 'Emergency Ward', 27, 67)
Row 15417 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 56, 37), 'Surgical Ward', 24, 73)
Row 15418 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 56, 59), 'Maternity Ward', 23, 70)
Row 15419 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 57, 3), 'ICU', 25, 61)
Row 15420 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 57, 50), 'Emergency Ward', 27, 67)
Row 15421 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 57, 57), 'Surgical Ward', 24, 72)
Row 15422 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 58, 8), 'Maternity Ward', 24, 70)
Row 15423 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 58, 22), 'ICU', 25, 61)

Row 15424 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 59, 11), 'Emergency Ward', 27, 67)
Row 15425 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 59, 18), 'Surgical Ward', 24, 72)
Row 15426 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 59, 29), 'Maternity Ward', 23, 71)
Row 15427 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 16, 23, 59, 41), 'ICU', 25, 61)
Row 15428 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 0, 25), 'Emergency Ward', 27, 67)
Row 15429 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 0, 38), 'Surgical Ward', 24, 73)
Row 15430 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 0, 49), 'Maternity Ward', 23, 70)
Row 15431 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 1), 'ICU', 25, 61)
Row 15432 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 1, 36), 'Emergency Ward', 27, 67)
Row 15433 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 1, 59), 'Surgical Ward', 24, 72)
Row 15434 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 2, 10), 'Maternity Ward', 23, 70)
Row 15435 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 2, 19), 'ICU', 25, 61)
Row 15436 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 2, 55), 'Emergency Ward', 27, 67)
Row 15437 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 3, 19), 'Surgical Ward', 24, 72)
Row 15438 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 3, 30), 'Maternity Ward', 23, 70)
Row 15439 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 3, 38), 'ICU', 25, 61)
Row 15440 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 4, 16), 'Emergency Ward', 27, 67)
Row 15441 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 4, 40), 'Surgical Ward', 24, 72)
Row 15442 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 4, 50), 'Maternity Ward', 24, 70)
Row 15443 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 4, 58), 'ICU', 25, 61)
Row 15444 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 5, 37), 'Emergency Ward', 27, 67)
Row 15445 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 6), 'Surgical Ward', 24, 72)
Row 15446 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 6, 11), 'Maternity Ward', 24, 70)
Row 15447 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 6, 17), 'ICU', 25, 60)
Row 15448 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 6, 58), 'Emergency Ward', 27, 67)
Row 15449 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 7, 21), 'Surgical Ward', 24, 72)
Row 15450 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 7, 31), 'Maternity Ward', 24, 70)
Row 15451 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 7, 36), 'ICU', 28, 60)
Row 15452 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 8, 19), 'Emergency Ward', 27, 67)
Row 15453 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 8, 41), 'Surgical Ward', 24, 72)
Row 15454 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 8, 48), 'ICU', 25, 60)
Row 15455 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 8, 52), 'Maternity Ward', 24, 70)
Row 15456 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 9, 40), 'Emergency Ward', 27, 67)
Row 15457 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 9, 54), 'Surgical Ward', 24, 72)
Row 15458 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 9, 56), 'ICU', 25, 60)
Row 15459 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 10, 12), 'Maternity Ward', 24, 70)
Row 15460 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 11, 1), 'Emergency Ward', 27, 67)
Row 15461 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 11, 4), 'Surgical Ward', 24, 72)
Row 15462 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 11, 15), 'ICU', 25, 60)
Row 15463 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 11, 26), 'Maternity Ward', 24, 70)
Row 15464 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 12, 22), 'Emergency Ward', 27, 67)
Row 15465 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 12, 24), 'Surgical Ward', 24, 72)
Row 15466 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 12, 34), 'ICU', 25, 60)
Row 15467 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 12, 34), 'Maternity Ward', 24, 70)
Row 15468 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 13, 43), 'Emergency Ward', 27, 67)
Row 15469 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 13, 45), 'Surgical Ward', 24, 72)
Row 15470 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 13, 53), 'ICU', 25, 60)
Row 15471 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 13, 55), 'Maternity Ward', 23, 70)
Row 15472 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 14, 57), 'Emergency Ward', 27, 67)
Row 15473 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 15, 5), 'Surgical Ward', 24, 73)

Row 15474 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 15, 12), 'ICU', 25, 60)
Row 15475 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 15, 15), 'Maternity Ward', 24, 70)
Row 15476 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 16, 6), 'Emergency Ward', 27, 67)
Row 15477 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 16, 25), 'Surgical Ward', 24, 72)
Row 15478 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 16, 31), 'ICU', 25, 60)
Row 15479 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 16, 36), 'Maternity Ward', 24, 70)
Row 15480 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 17, 27), 'Emergency Ward', 27, 67)
Row 15481 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 17, 46), 'Surgical Ward', 24, 72)
Row 15482 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 17, 50), 'ICU', 25, 60)
Row 15483 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 17, 56), 'Maternity Ward', 24, 70)
Row 15484 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 18, 48), 'Emergency Ward', 27, 67)
Row 15485 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 19, 6), 'Surgical Ward', 24, 72)
Row 15486 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 19, 10), 'ICU', 25, 60)
Row 15487 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 19, 16), 'Maternity Ward', 23, 70)
Row 15488 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 20, 9), 'Emergency Ward', 27, 67)
Row 15489 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 20, 27), 'Surgical Ward', 24, 72)
Row 15490 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 20, 29), 'ICU', 25, 60)
Row 15491 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 20, 37), 'Maternity Ward', 24, 70)
Row 15492 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 21, 30), 'Emergency Ward', 27, 67)
Row 15493 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 21, 47), 'Surgical Ward', 24, 72)
Row 15494 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 21, 48), 'ICU', 25, 60)
Row 15495 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 21, 57), 'Maternity Ward', 24, 70)
Row 15496 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 22, 51), 'Emergency Ward', 27, 67)
Row 15497 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 23), 'ICU', 25, 60)
Row 15498 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 23, 8), 'Surgical Ward', 24, 72)
Row 15499 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 23, 18), 'Maternity Ward', 24, 70)
Row 15500 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 24, 8), 'ICU', 25, 60)
Row 15501 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 24, 12), 'Emergency Ward', 27, 67)
Row 15502 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 24, 21), 'Surgical Ward', 24, 72)
Row 15503 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 24, 38), 'Maternity Ward', 24, 70)
Row 15504 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 25, 27), 'ICU', 25, 60)
Row 15505 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 25, 30), 'Surgical Ward', 24, 72)
Row 15506 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 25, 33), 'Emergency Ward', 27, 67)
Row 15507 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 25, 52), 'Maternity Ward', 24, 70)
Row 15508 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 26, 46), 'ICU', 25, 60)
Row 15509 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 26, 51), 'Surgical Ward', 24, 72)
Row 15510 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 26, 54), 'Emergency Ward', 27, 67)
Row 15511 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 27), 'Maternity Ward', 24, 70)
Row 15512 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 28, 5), 'ICU', 25, 60)
Row 15513 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 28, 11), 'Surgical Ward', 24, 72)
Row 15514 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 28, 15), 'Emergency Ward', 27, 67)
Row 15515 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 28, 21), 'Maternity Ward', 24, 70)
Row 15516 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 29, 24), 'ICU', 25, 60)
Row 15517 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 29, 29), 'Emergency Ward', 27, 67)
Row 15518 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 29, 32), 'Surgical Ward', 24, 72)
Row 15519 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 29, 41), 'Maternity Ward', 23, 70)
Row 15520 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 30, 38), 'Emergency Ward', 27, 67)
Row 15521 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 30, 43), 'ICU', 25, 60)
Row 15522 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 30, 52), 'Surgical Ward', 24, 72)
Row 15523 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 31, 2), 'Maternity Ward', 24, 70)

Row 15524 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 31, 59), 'Emergency Ward', 27, 67)
Row 15525 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 32, 3), 'ICU', 25, 60)
Row 15526 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 32, 13), 'Surgical Ward', 24, 72)
Row 15527 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 32, 22), 'Maternity Ward', 23, 70)
Row 15528 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 33, 20), 'Emergency Ward', 27, 67)
Row 15529 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 33, 22), 'ICU', 25, 60)
Row 15530 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 33, 33), 'Surgical Ward', 24, 72)
Row 15531 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 33, 42), 'Maternity Ward', 23, 70)
Row 15532 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 34, 41), 'ICU', 28, 60)
Row 15533 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 34, 41), 'Emergency Ward', 27, 67)
Row 15534 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 34, 54), 'Surgical Ward', 24, 72)
Row 15535 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 35, 3), 'Maternity Ward', 23, 70)
Row 15536 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 36), 'ICU', 28, 60)
Row 15537 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 36, 2), 'Emergency Ward', 27, 67)
Row 15538 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 36, 14), 'Surgical Ward', 24, 72)
Row 15539 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 36, 23), 'Maternity Ward', 23, 70)
Row 15540 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 37, 12), 'ICU', 25, 60)
Row 15541 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 37, 23), 'Emergency Ward', 27, 67)
Row 15542 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 37, 35), 'Surgical Ward', 24, 72)
Row 15543 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 37, 44), 'Maternity Ward', 24, 70)
Row 15544 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 38, 20), 'ICU', 28, 60)
Row 15545 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 38, 44), 'Emergency Ward', 27, 67)
Row 15546 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 38, 48), 'Surgical Ward', 24, 72)
Row 15547 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 39, 4), 'Maternity Ward', 24, 70)
Row 15548 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 39, 39), 'ICU', 25, 60)
Row 15549 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 39, 57), 'Surgical Ward', 24, 72)
Row 15550 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 40, 5), 'Emergency Ward', 27, 67)
Row 15551 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 40, 18), 'Maternity Ward', 23, 70)
Row 15552 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 40, 58), 'ICU', 25, 60)
Row 15553 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 41, 17), 'Surgical Ward', 24, 72)
Row 15554 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 41, 26), 'Emergency Ward', 27, 67)
Row 15555 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 41, 26), 'Maternity Ward', 24, 70)
Row 15556 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 42, 17), 'ICU', 25, 60)
Row 15557 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 42, 38), 'Surgical Ward', 24, 72)
Row 15558 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 42, 47), 'Maternity Ward', 24, 70)
Row 15559 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 43, 36), 'ICU', 25, 60)
Row 15560 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 43, 58), 'Surgical Ward', 24, 72)
Row 15561 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 44, 1), 'Emergency Ward', 27, 67)
Row 15562 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 44, 7), 'Maternity Ward', 24, 70)
Row 15563 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 44, 55), 'ICU', 25, 60)
Row 15564 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 45, 10), 'Emergency Ward', 27, 67)
Row 15565 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 45, 19), 'Surgical Ward', 24, 72)
Row 15566 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 45, 28), 'Maternity Ward', 24, 70)
Row 15567 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 46, 15), 'ICU', 25, 60)
Row 15568 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 46, 31), 'Emergency Ward', 27, 67)
Row 15569 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 46, 39), 'Surgical Ward', 24, 72)
Row 15570 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 46, 48), 'Maternity Ward', 23, 70)
Row 15571 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 47, 34), 'ICU', 25, 60)
Row 15572 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 47, 52), 'Emergency Ward', 27, 67)

Row 15573 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 48), 'Surgical Ward', 24, 72)
Row 15574 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 48, 8), 'Maternity Ward', 24, 70)
Row 15575 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 48, 53), 'ICU', 28, 60)
Row 15576 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 49, 14), 'Emergency Ward', 27, 67)
Row 15577 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 49, 20), 'Surgical Ward', 24, 72)
Row 15578 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 49, 29), 'Maternity Ward', 24, 70)
Row 15579 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 50, 12), 'ICU', 25, 60)
Row 15580 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 50, 34), 'Emergency Ward', 27, 67)
Row 15581 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 50, 41), 'Surgical Ward', 24, 72)
Row 15582 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 50, 49), 'Maternity Ward', 23, 70)
Row 15583 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 51, 24), 'ICU', 25, 60)
Row 15584 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 51, 55), 'Emergency Ward', 27, 67)
Row 15585 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 52, 1), 'Surgical Ward', 24, 72)
Row 15586 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 52, 10), 'Maternity Ward', 23, 70)
Row 15587 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 52, 32), 'ICU', 25, 60)
Row 15588 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 53, 15), 'Surgical Ward', 24, 72)
Row 15589 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 53, 17), 'Emergency Ward', 27, 67)
Row 15590 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 53, 30), 'Maternity Ward', 24, 70)
Row 15591 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 53, 51), 'ICU', 25, 60)
Row 15592 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 54, 24), 'Surgical Ward', 24, 72)
Row 15593 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 54, 37), 'Emergency Ward', 27, 67)
Row 15594 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 54, 44), 'Maternity Ward', 24, 70)
Row 15595 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 55, 10), 'ICU', 28, 60)
Row 15596 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 55, 44), 'Surgical Ward', 24, 72)
Row 15597 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 55, 52), 'Maternity Ward', 24, 70)
Row 15598 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 55, 58), 'Emergency Ward', 27, 67)
Row 15599 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 56, 29), 'ICU', 28, 60)
Row 15600 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 57, 5), 'Surgical Ward', 24, 72)
Row 15601 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 57, 13), 'Maternity Ward', 24, 70)
Row 15602 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 57, 19), 'Emergency Ward', 27, 67)
Row 15603 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 57, 48), 'ICU', 25, 60)
Row 15604 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 58, 25), 'Surgical Ward', 24, 72)
Row 15605 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 58, 33), 'Emergency Ward', 27, 67)
Row 15606 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 58, 33), 'Maternity Ward', 24, 70)
Row 15607 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 59, 7), 'ICU', 28, 60)
Row 15608 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 59, 42), 'Emergency Ward', 27, 67)
Row 15609 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 59, 46), 'Surgical Ward', 24, 72)
Row 15610 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 0, 59, 54), 'Maternity Ward', 24, 70)
Row 15611 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 0, 27), 'ICU', 25, 60)
Row 15612 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 1, 3), 'Emergency Ward', 27, 67)
Row 15613 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 1, 6), 'Surgical Ward', 24, 72)
Row 15614 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 1, 14), 'Maternity Ward', 24, 70)
Row 15615 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 1, 46), 'ICU', 25, 60)
Row 15616 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 2, 24), 'Emergency Ward', 27, 67)
Row 15617 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 2, 27), 'Surgical Ward', 24, 72)
Row 15618 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 2, 34), 'Maternity Ward', 24, 70)
Row 15619 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 3, 5), 'ICU', 28, 60)

Row 15620 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 3, 45), 'Emergency Ward', 27, 67)
Row 15621 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 3, 47), 'Surgical Ward', 24, 72)
Row 15622 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 3, 55), 'Maternity Ward', 24, 70)
Row 15623 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 4, 24), 'ICU', 25, 60)
Row 15624 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 5, 6), 'Emergency Ward', 27, 67)
Row 15625 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 5, 8), 'Surgical Ward', 24, 72)
Row 15626 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 5, 15), 'Maternity Ward', 24, 70)
Row 15627 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 5, 36), 'ICU', 25, 60)
Row 15628 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 6, 27), 'Emergency Ward', 27, 67)
Row 15629 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 6, 28), 'Surgical Ward', 24, 72)
Row 15630 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 6, 36), 'Maternity Ward', 24, 70)
Row 15631 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 6, 44), 'ICU', 25, 60)
Row 15632 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 7, 41), 'Surgical Ward', 24, 72)
Row 15633 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 7, 48), 'Emergency Ward', 27, 67)
Row 15634 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 7, 56), 'Maternity Ward', 24, 70)
Row 15635 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 8, 3), 'ICU', 25, 60)
Row 15636 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 8, 50), 'Surgical Ward', 24, 72)
Row 15637 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 9, 8), 'Emergency Ward', 27, 67)
Row 15638 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 9, 10), 'Maternity Ward', 24, 70)
Row 15639 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 9, 22), 'ICU', 25, 60)
Row 15640 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 10, 11), 'Surgical Ward', 24, 72)
Row 15641 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 10, 18), 'Maternity Ward', 24, 70)
Row 15642 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 10, 29), 'Emergency Ward', 27, 67)
Row 15643 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 10, 41), 'ICU', 25, 60)
Row 15644 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 11, 31), 'Surgical Ward', 24, 72)
Row 15645 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 11, 39), 'Maternity Ward', 24, 70)
Row 15646 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 11, 50), 'Emergency Ward', 27, 67)
Row 15647 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 12), 'ICU', 25, 60)
Row 15648 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 12, 52), 'Surgical Ward', 24, 72)
Row 15649 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 12, 59), 'Maternity Ward', 24, 70)
Row 15650 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 13, 4), 'Emergency Ward', 27, 67)
Row 15651 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 13, 19), 'ICU', 25, 60)
Row 15652 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 14, 12), 'Surgical Ward', 24, 72)
Row 15653 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 14, 14), 'Emergency Ward', 27, 67)
Row 15654 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 14, 20), 'Maternity Ward', 24, 70)
Row 15655 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 14, 39), 'ICU', 25, 60)
Row 15656 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 15, 33), 'Surgical Ward', 24, 72)
Row 15657 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 15, 35), 'Emergency Ward', 27, 67)
Row 15658 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 15, 40), 'Maternity Ward', 24, 70)
Row 15659 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 15, 58), 'ICU', 25, 60)
Row 15660 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 16, 53), 'Surgical Ward', 24, 72)
Row 15661 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 16, 56), 'Emergency Ward', 27, 67)
Row 15662 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 17), 'Maternity Ward', 24, 70)
Row 15663 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 17, 17), 'ICU', 25, 60)
Row 15664 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 18, 14), 'Surgical Ward', 24, 72)
Row 15665 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 18, 17), 'Emergency Ward', 27, 67)
Row 15666 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 18, 21), 'Maternity Ward', 24, 70)
Row 15667 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 18, 36), 'ICU', 25, 60)
Row 15668 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 19, 34), 'Surgical Ward', 24, 72)
Row 15669 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 19, 38), 'Emergency Ward', 27, 67)

Row 15670 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 19, 41), 'Maternity Ward', 23, 70)
Row 15671 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 19, 48), 'ICU', 25, 60)
Row 15672 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 20, 55), 'Surgical Ward', 24, 72)
Row 15673 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 20, 56), 'ICU', 25, 60)
Row 15674 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 20, 59), 'Emergency Ward', 27, 67)
Row 15675 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 21, 2), 'Maternity Ward', 24, 70)
Row 15676 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 22, 8), 'Surgical Ward', 24, 72)
Row 15677 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 22, 15), 'ICU', 25, 60)
Row 15678 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 22, 20), 'Emergency Ward', 27, 67)
Row 15679 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 22, 22), 'Maternity Ward', 23, 70)
Row 15680 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 23, 17), 'Surgical Ward', 24, 72)
Row 15681 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 23, 34), 'ICU', 28, 60)
Row 15682 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 23, 36), 'Maternity Ward', 23, 70)
Row 15683 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 23, 40), 'Emergency Ward', 27, 67)
Row 15684 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 24, 38), 'Surgical Ward', 24, 72)
Row 15685 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 24, 45), 'Maternity Ward', 23, 70)
Row 15686 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 24, 53), 'ICU', 25, 60)
Row 15687 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 25, 1), 'Emergency Ward', 27, 67)
Row 15688 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 25, 58), 'Surgical Ward', 24, 72)
Row 15689 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 26, 5), 'Maternity Ward', 24, 70)
Row 15690 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 26, 12), 'ICU', 25, 60)
Row 15691 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 26, 22), 'Emergency Ward', 27, 67)
Row 15692 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 27, 19), 'Surgical Ward', 24, 72)
Row 15693 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 27, 25), 'Maternity Ward', 24, 70)
Row 15694 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 27, 31), 'ICU', 25, 60)
Row 15695 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 27, 36), 'Emergency Ward', 27, 67)
Row 15696 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 28, 39), 'Surgical Ward', 24, 72)
Row 15697 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 28, 46), 'Maternity Ward', 24, 70)
Row 15698 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 28, 46), 'Emergency Ward', 27, 67)
Row 15699 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 28, 51), 'ICU', 25, 60)
Row 15700 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 30), 'Surgical Ward', 24, 72)
Row 15701 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 30, 6), 'Maternity Ward', 23, 70)
Row 15702 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 30, 7), 'Emergency Ward', 27, 67)
Row 15703 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 30, 10), 'ICU', 28, 60)
Row 15704 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 31, 20), 'Surgical Ward', 24, 72)
Row 15705 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 31, 27), 'Maternity Ward', 23, 70)
Row 15706 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 31, 28), 'Emergency Ward', 27, 67)
Row 15707 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 31, 29), 'ICU', 28, 59)
Row 15708 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 32, 41), 'Surgical Ward', 24, 72)
Row 15709 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 32, 47), 'Maternity Ward', 24, 70)
Row 15710 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 32, 48), 'ICU', 25, 60)
Row 15711 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 32, 49), 'Emergency Ward', 27, 67)
Row 15712 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 34), 'ICU', 25, 60)
Row 15713 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 34, 1), 'Surgical Ward', 24, 72)
Row 15714 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 34, 7), 'Maternity Ward', 24, 70)
Row 15715 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 34, 9), 'Emergency Ward', 27, 67)
Row 15716 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 35, 8), 'ICU', 25, 60)

Row 15717 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 35, 21), 'Surgical Ward', 24, 72)
Row 15718 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 35, 28), 'Maternity Ward', 24, 70)
Row 15719 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 35, 31), 'Emergency Ward', 27, 67)
Row 15720 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 36, 27), 'ICU', 25, 60)
Row 15721 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 36, 35), 'Surgical Ward', 24, 72)
Row 15722 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 36, 48), 'Maternity Ward', 24, 70)
Row 15723 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 36, 51), 'Emergency Ward', 27, 67)
Row 15724 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 38, 2), 'Maternity Ward', 24, 70)
Row 15725 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 38, 12), 'Emergency Ward', 27, 67)
Row 15726 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 39, 4), 'Surgical Ward', 24, 72)
Row 15727 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 39, 5), 'ICU', 25, 60)
Row 15728 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 39, 11), 'Maternity Ward', 24, 70)
Row 15729 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 39, 33), 'Emergency Ward', 27, 67)
Row 15730 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 40, 24), 'ICU', 25, 60)
Row 15731 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 40, 25), 'Surgical Ward', 24, 72)
Row 15732 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 40, 31), 'Maternity Ward', 24, 70)
Row 15733 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 40, 54), 'Emergency Ward', 27, 67)
Row 15734 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 41, 43), 'ICU', 25, 60)
Row 15735 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 41, 45), 'Surgical Ward', 24, 72)
Row 15736 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 41, 51), 'Maternity Ward', 24, 70)
Row 15737 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 42, 8), 'Emergency Ward', 27, 67)
Row 15738 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 43, 3), 'ICU', 25, 60)
Row 15739 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 43, 6), 'Surgical Ward', 24, 72)
Row 15740 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 43, 12), 'Maternity Ward', 23, 70)
Row 15741 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 43, 18), 'Emergency Ward', 27, 67)
Row 15742 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 44, 22), 'ICU', 25, 60)
Row 15743 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 44, 26), 'Surgical Ward', 24, 72)
Row 15744 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 44, 32), 'Maternity Ward', 24, 70)
Row 15745 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 44, 40), 'Emergency Ward', 27, 67)
Row 15746 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 45, 41), 'ICU', 25, 60)
Row 15747 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 45, 47), 'Surgical Ward', 24, 72)
Row 15748 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 45, 53), 'Maternity Ward', 24, 70)
Row 15749 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 45, 59), 'Emergency Ward', 27, 67)
Row 15750 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 47), 'ICU', 25, 60)
Row 15751 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 47, 7), 'Surgical Ward', 24, 72)
Row 15752 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 47, 13), 'Maternity Ward', 23, 70)
Row 15753 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 47, 20), 'Emergency Ward', 27, 67)
Row 15754 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 48, 12), 'ICU', 25, 60)
Row 15755 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 48, 28), 'Surgical Ward', 24, 72)
Row 15756 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 48, 33), 'Maternity Ward', 24, 70)
Row 15757 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 48, 41), 'Emergency Ward', 27, 67)
Row 15758 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 49, 20), 'ICU', 25, 60)
Row 15759 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 49, 48), 'Surgical Ward', 24, 72)
Row 15760 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 49, 54), 'Maternity Ward', 24, 70)
Row 15761 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 50, 2), 'Emergency Ward', 27, 67)
Row 15762 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 50, 39), 'ICU', 25, 60)
Row 15763 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 51, 2), 'Surgical Ward', 24, 72)
Row 15764 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 51, 14), 'Maternity Ward', 24, 70)

Row 15765 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 51, 23), 'Emergency Ward', 27, 67)
Row 15766 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 51, 58), 'ICU', 25, 60)
Row 15767 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 52, 11), 'Surgical Ward', 24, 72)
Row 15768 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 52, 28), 'Maternity Ward', 24, 70)
Row 15769 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 52, 44), 'Emergency Ward', 27, 67)
Row 15770 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 53, 17), 'ICU', 25, 60)
Row 15771 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 53, 31), 'Surgical Ward', 24, 72)
Row 15772 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 53, 37), 'Maternity Ward', 24, 70)
Row 15773 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 54, 5), 'Emergency Ward', 27, 67)
Row 15774 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 54, 36), 'ICU', 25, 60)
Row 15775 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 54, 52), 'Surgical Ward', 24, 72)
Row 15776 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 54, 57), 'Maternity Ward', 24, 70)
Row 15777 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 55, 26), 'Emergency Ward', 27, 67)
Row 15778 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 55, 55), 'ICU', 25, 60)
Row 15779 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 56, 12), 'Surgical Ward', 24, 72)
Row 15780 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 56, 17), 'Maternity Ward', 23, 70)
Row 15781 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 56, 40), 'Emergency Ward', 27, 67)
Row 15782 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 57, 15), 'ICU', 25, 60)
Row 15783 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 57, 33), 'Surgical Ward', 24, 72)
Row 15784 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 57, 38), 'Maternity Ward', 23, 70)
Row 15785 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 57, 49), 'Emergency Ward', 27, 67)
Row 15786 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 58, 34), 'ICU', 25, 60)
Row 15787 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 58, 53), 'Surgical Ward', 24, 72)
Row 15788 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 58, 58), 'Maternity Ward', 24, 70)
Row 15789 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 59, 10), 'Emergency Ward', 27, 67)
Row 15790 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 1, 59, 53), 'ICU', 25, 60)
Row 15791 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 0, 13), 'Surgical Ward', 24, 72)
Row 15792 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 0, 19), 'Maternity Ward', 24, 70)
Row 15793 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 0, 31), 'Emergency Ward', 27, 67)
Row 15794 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 1, 12), 'ICU', 25, 60)
Row 15795 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 1, 34), 'Surgical Ward', 24, 72)
Row 15796 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 1, 39), 'Maternity Ward', 24, 70)
Row 15797 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 1, 52), 'Emergency Ward', 27, 67)
Row 15798 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 2, 24), 'ICU', 25, 60)
Row 15799 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 2, 55), 'Surgical Ward', 24, 72)
Row 15800 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 2, 59), 'Maternity Ward', 24, 70)
Row 15801 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 3, 13), 'Emergency Ward', 27, 67)
Row 15802 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 3, 32), 'ICU', 25, 60)
Row 15803 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 4, 15), 'Surgical Ward', 24, 72)
Row 15804 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 4, 20), 'Maternity Ward', 24, 70)
Row 15805 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 4, 34), 'Emergency Ward', 27, 67)
Row 15806 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 4, 51), 'ICU', 25, 60)
Row 15807 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 5, 28), 'Surgical Ward', 24, 72)
Row 15808 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 5, 40), 'Maternity Ward', 24, 70)
Row 15809 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 5, 55), 'Emergency Ward', 27, 67)
Row 15810 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 6, 10), 'ICU', 25, 60)
Row 15811 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 6, 37), 'Surgical Ward', 24, 72)
Row 15812 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 6, 54), 'Maternity Ward', 24, 70)
Row 15813 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 7, 16), 'Emergency Ward', 27, 67)
Row 15814 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 7, 58), 'Surgical Ward', 24, 72)

Row 15815 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 8, 3), 'Maternity Ward', 24, 70)
Row 15816 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 8, 37), 'Emergency Ward', 27, 67)
Row 15817 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 8, 48), 'ICU', 25, 60)
Row 15818 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 9, 19), 'Surgical Ward', 24, 72)
Row 15819 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 9, 26), 'Maternity Ward', 23, 70)
Row 15820 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 9, 58), 'Emergency Ward', 27, 67)
Row 15821 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 10, 8), 'ICU', 25, 60)
Row 15822 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 10, 39), 'Surgical Ward', 24, 72)
Row 15823 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 10, 43), 'Maternity Ward', 24, 70)
Row 15824 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 11, 12), 'Emergency Ward', 27, 67)
Row 15825 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 11, 27), 'ICU', 25, 60)
Row 15826 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 11, 59), 'Surgical Ward', 24, 72)
Row 15827 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 12, 4), 'Maternity Ward', 24, 70)
Row 15828 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 12, 21), 'Emergency Ward', 27, 67)
Row 15829 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 12, 46), 'ICU', 25, 60)
Row 15830 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 13, 20), 'Surgical Ward', 24, 72)
Row 15831 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 13, 24), 'Maternity Ward', 23, 70)
Row 15832 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 13, 42), 'Emergency Ward', 27, 67)
Row 15833 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 14, 5), 'ICU', 25, 60)
Row 15834 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 14, 40), 'Surgical Ward', 24, 72)
Row 15835 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 14, 45), 'Maternity Ward', 24, 70)
Row 15836 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 15, 3), 'Emergency Ward', 27, 67)
Row 15837 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 15, 24), 'ICU', 28, 59)
Row 15838 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 16, 1), 'Surgical Ward', 24, 72)
Row 15839 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 16, 5), 'Maternity Ward', 24, 70)
Row 15840 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 16, 24), 'Emergency Ward', 27, 67)
Row 15841 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 16, 36), 'ICU', 25, 60)
Row 15842 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 17, 21), 'Surgical Ward', 24, 72)
Row 15843 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 17, 25), 'Maternity Ward', 24, 70)
Row 15844 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 17, 44), 'ICU', 28, 59)
Row 15845 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 17, 45), 'Emergency Ward', 27, 67)
Row 15846 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 18, 42), 'Surgical Ward', 24, 72)
Row 15847 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 18, 46), 'Maternity Ward', 24, 70)
Row 15848 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 19, 4), 'ICU', 25, 60)
Row 15849 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 19, 6), 'Emergency Ward', 27, 67)
Row 15850 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 19, 55), 'Surgical Ward', 24, 72)
Row 15851 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 20, 7), 'Maternity Ward', 24, 70)
Row 15852 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 20, 22), 'ICU', 25, 60)
Row 15853 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 20, 27), 'Emergency Ward', 27, 67)
Row 15854 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 21, 4), 'Surgical Ward', 24, 72)
Row 15855 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 21, 20), 'Maternity Ward', 24, 70)
Row 15856 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 21, 42), 'ICU', 25, 60)
Row 15857 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 21, 48), 'Emergency Ward', 27, 67)
Row 15858 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 22, 25), 'Surgical Ward', 24, 72)
Row 15859 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 22, 29), 'Maternity Ward', 24, 70)
Row 15860 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 23, 1), 'ICU', 25, 60)
Row 15861 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 23, 9), 'Emergency Ward', 27, 67)
Row 15862 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 23, 45), 'Surgical Ward', 24, 72)
Row 15863 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 23, 49), 'Maternity Ward', 24, 70)
Row 15864 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 24, 20), 'ICU', 25, 60)

Row 15865 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 24, 30), 'Emergency Ward', 27, 67)
Row 15866 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 25, 5), 'Surgical Ward', 24, 72)
Row 15867 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 25, 10), 'Maternity Ward', 23, 70)
Row 15868 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 25, 39), 'ICU', 25, 60)
Row 15869 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 25, 44), 'Emergency Ward', 27, 67)
Row 15870 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 26, 26), 'Surgical Ward', 24, 72)
Row 15871 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 26, 30), 'Maternity Ward', 24, 70)
Row 15872 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 26, 53), 'Emergency Ward', 27, 67)
Row 15873 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 26, 58), 'ICU', 25, 60)
Row 15874 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 27, 46), 'Surgical Ward', 24, 72)
Row 15875 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 27, 50), 'Maternity Ward', 24, 70)
Row 15876 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 28, 14), 'Emergency Ward', 27, 67)
Row 15877 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 28, 17), 'ICU', 28, 59)
Row 15878 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 29, 7), 'Surgical Ward', 24, 72)
Row 15879 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 29, 11), 'Maternity Ward', 24, 70)
Row 15880 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 29, 35), 'Emergency Ward', 27, 67)
Row 15881 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 29, 36), 'ICU', 25, 60)
Row 15882 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 30, 27), 'Surgical Ward', 24, 72)
Row 15883 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 30, 31), 'Maternity Ward', 23, 70)
Row 15884 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 30, 48), 'ICU', 25, 60)
Row 15885 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 30, 56), 'Emergency Ward', 27, 67)
Row 15886 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 31, 48), 'Surgical Ward', 24, 72)
Row 15887 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 31, 52), 'Maternity Ward', 23, 70)
Row 15888 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 31, 56), 'ICU', 25, 60)
Row 15889 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 32, 17), 'Emergency Ward', 27, 67)
Row 15890 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 33, 8), 'Surgical Ward', 24, 72)
Row 15891 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 33, 12), 'Maternity Ward', 24, 70)
Row 15892 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 33, 15), 'ICU', 25, 60)
Row 15893 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 33, 38), 'Emergency Ward', 27, 67)
Row 15894 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 34, 22), 'Surgical Ward', 24, 72)
Row 15895 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 34, 32), 'Maternity Ward', 24, 70)
Row 15896 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 34, 34), 'ICU', 25, 60)
Row 15897 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 34, 59), 'Emergency Ward', 27, 67)
Row 15898 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 35, 31), 'Surgical Ward', 24, 72)
Row 15899 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 35, 46), 'Maternity Ward', 23, 70)
Row 15900 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 35, 53), 'ICU', 25, 60)
Row 15901 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 36, 20), 'Emergency Ward', 27, 67)
Row 15902 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 36, 51), 'Surgical Ward', 24, 72)
Row 15903 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 36, 55), 'Maternity Ward', 24, 70)
Row 15904 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 37, 13), 'ICU', 25, 60)
Row 15905 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 37, 40), 'Emergency Ward', 27, 67)
Row 15906 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 38, 12), 'Surgical Ward', 24, 72)
Row 15907 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 38, 15), 'Maternity Ward', 24, 70)
Row 15908 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 38, 32), 'ICU', 28, 59)
Row 15909 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 39, 1), 'Emergency Ward', 27, 67)
Row 15910 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 39, 32), 'Surgical Ward', 24, 72)
Row 15911 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 39, 35), 'Maternity Ward', 23, 70)

Row 15912 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 39, 51), 'ICU', 28, 59)
Row 15913 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 40, 15), 'Emergency Ward', 27, 67)
Row 15914 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 40, 53), 'Surgical Ward', 24, 72)
Row 15915 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 40, 56), 'Maternity Ward', 24, 70)
Row 15916 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 41, 10), 'ICU', 25, 60)
Row 15917 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 41, 25), 'Emergency Ward', 27, 67)
Row 15918 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 42, 13), 'Surgical Ward', 24, 72)
Row 15919 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 42, 16), 'Maternity Ward', 24, 70)
Row 15920 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 42, 29), 'ICU', 25, 59)
Row 15921 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 42, 46), 'Emergency Ward', 27, 67)
Row 15922 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 43, 34), 'Surgical Ward', 24, 72)
Row 15923 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 43, 37), 'Maternity Ward', 24, 70)
Row 15924 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 43, 48), 'ICU', 25, 60)
Row 15925 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 44, 7), 'Emergency Ward', 27, 67)
Row 15926 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 44, 55), 'Surgical Ward', 24, 72)
Row 15927 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 44, 57), 'Maternity Ward', 23, 70)
Row 15928 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 45, 1), 'ICU', 25, 60)
Row 15929 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 45, 28), 'Emergency Ward', 27, 67)
Row 15930 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 46, 8), 'ICU', 25, 59)
Row 15931 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 46, 15), 'Surgical Ward', 24, 72)
Row 15932 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 46, 18), 'Maternity Ward', 24, 70)
Row 15933 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 46, 48), 'Emergency Ward', 27, 67)
Row 15934 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 47, 27), 'ICU', 25, 60)
Row 15935 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 47, 36), 'Surgical Ward', 24, 72)
Row 15936 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 47, 38), 'Maternity Ward', 23, 70)
Row 15937 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 48, 9), 'Emergency Ward', 27, 67)
Row 15938 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 48, 46), 'ICU', 25, 59)
Row 15939 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 48, 48), 'Surgical Ward', 24, 72)
Row 15940 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 48, 58), 'Maternity Ward', 24, 70)
Row 15941 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 49, 30), 'Emergency Ward', 27, 67)
Row 15942 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 49, 57), 'Surgical Ward', 24, 72)
Row 15943 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 50, 6), 'ICU', 25, 60)
Row 15944 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 50, 12), 'Maternity Ward', 24, 70)
Row 15945 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 50, 51), 'Emergency Ward', 27, 67)
Row 15946 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 51, 18), 'Surgical Ward', 24, 72)
Row 15947 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 51, 21), 'Maternity Ward', 24, 70)
Row 15948 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 51, 25), 'ICU', 25, 60)
Row 15949 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 52, 12), 'Emergency Ward', 27, 67)
Row 15950 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 52, 38), 'Surgical Ward', 24, 72)
Row 15951 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 52, 41), 'Maternity Ward', 23, 70)
Row 15952 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 52, 44), 'ICU', 25, 60)
Row 15953 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 53, 33), 'Emergency Ward', 27, 67)
Row 15954 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 54), 'Surgical Ward', 24, 72)
Row 15955 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 54, 2), 'Maternity Ward', 24, 70)
Row 15956 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 54, 3), 'ICU', 25, 60)
Row 15957 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 54, 47), 'Emergency Ward', 27, 67)
Row 15958 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 55, 19), 'Surgical Ward', 24, 72)
Row 15959 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 55, 22), 'Maternity Ward', 23, 70)
Row 15960 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 55, 57), 'Emergency Ward', 27, 67)

Row 15961 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 56, 40), 'Surgical Ward', 24, 72)
Row 15962 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 56, 41), 'ICU', 25, 60)
Row 15963 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 56, 43), 'Maternity Ward', 24, 70)
Row 15964 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 57, 18), 'Emergency Ward', 27, 67)
Row 15965 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 58), 'Surgical Ward', 24, 72)
Row 15966 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 58, 1), 'ICU', 25, 59)
Row 15967 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 58, 3), 'Maternity Ward', 24, 70)
Row 15968 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 58, 38), 'Emergency Ward', 27, 67)
Row 15969 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 59, 13), 'ICU', 25, 59)
Row 15970 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 59, 21), 'Surgical Ward', 24, 72)
Row 15971 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 59, 23), 'Maternity Ward', 24, 70)
Row 15972 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 2, 59, 59), 'Emergency Ward', 27, 67)
Row 15973 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 0, 20), 'ICU', 25, 60)
Row 15974 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 0, 41), 'Surgical Ward', 24, 72)
Row 15975 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 0, 44), 'Maternity Ward', 24, 70)
Row 15976 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 1, 20), 'Emergency Ward', 27, 67)
Row 15977 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 1, 39), 'ICU', 28, 59)
Row 15978 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 2, 2), 'Surgical Ward', 24, 72)
Row 15979 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 2, 4), 'Maternity Ward', 23, 70)
Row 15980 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 2, 41), 'Emergency Ward', 27, 67)
Row 15981 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 2, 58), 'ICU', 25, 60)
Row 15982 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 3, 15), 'Surgical Ward', 24, 72)
Row 15983 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 3, 25), 'Maternity Ward', 24, 70)
Row 15984 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 4, 2), 'Emergency Ward', 27, 67)
Row 15985 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 4, 18), 'ICU', 28, 59)
Row 15986 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 4, 24), 'Surgical Ward', 24, 72)
Row 15987 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 4, 38), 'Maternity Ward', 24, 70)
Row 15988 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 5, 23), 'Emergency Ward', 27, 67)
Row 15989 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 5, 37), 'ICU', 25, 59)
Row 15990 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 5, 45), 'Surgical Ward', 24, 72)
Row 15991 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 5, 47), 'Maternity Ward', 24, 70)
Row 15992 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 6, 44), 'Emergency Ward', 27, 67)
Row 15993 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 6, 56), 'ICU', 25, 60)
Row 15994 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 7, 5), 'Surgical Ward', 24, 72)
Row 15995 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 7, 7), 'Maternity Ward', 24, 70)
Row 15996 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 8, 5), 'Emergency Ward', 27, 67)
Row 15997 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 8, 15), 'ICU', 25, 60)
Row 15998 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 8, 26), 'Surgical Ward', 24, 72)
Row 15999 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 8, 28), 'Maternity Ward', 24, 70)
Row 16000 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 9, 19), 'Emergency Ward', 27, 67)
Row 16001 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 9, 34), 'ICU', 25, 60)
Row 16002 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 9, 46), 'Surgical Ward', 24, 72)
Row 16003 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 9, 48), 'Maternity Ward', 24, 70)
Row 16004 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 10, 28), 'Emergency Ward', 27, 67)
Row 16005 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 10, 53), 'ICU', 25, 60)
Row 16006 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 11, 6), 'Surgical Ward', 24, 72)
Row 16007 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 11, 9), 'Maternity Ward', 23, 70)
Row 16008 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 11, 49), 'Emergency Ward', 27, 67)
Row 16009 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 12, 12), 'ICU', 25, 59)

Row 16010 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 12, 27), 'Surgical Ward', 24, 72)
Row 16011 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 12, 29), 'Maternity Ward', 23, 70)
Row 16012 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 13, 10), 'Emergency Ward', 27, 67)
Row 16013 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 13, 25), 'ICU', 25, 59)
Row 16014 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 13, 47), 'Surgical Ward', 24, 72)
Row 16015 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 13, 49), 'Maternity Ward', 23, 70)
Row 16016 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 14, 31), 'Emergency Ward', 27, 67)
Row 16017 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 14, 32), 'ICU', 25, 60)
Row 16018 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 15, 8), 'Surgical Ward', 24, 72)
Row 16019 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 15, 10), 'Maternity Ward', 24, 70)
Row 16020 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 15, 51), 'ICU', 25, 59)
Row 16021 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 15, 52), 'Emergency Ward', 27, 67)
Row 16022 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 16, 28), 'Surgical Ward', 24, 72)
Row 16023 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 16, 30), 'Maternity Ward', 24, 70)
Row 16024 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 17, 10), 'ICU', 25, 59)
Row 16025 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 17, 13), 'Emergency Ward', 27, 67)
Row 16026 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 17, 42), 'Surgical Ward', 24, 72)
Row 16027 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 17, 51), 'Maternity Ward', 24, 70)
Row 16028 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 18, 30), 'ICU', 25, 59)
Row 16029 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 18, 34), 'Emergency Ward', 27, 67)
Row 16030 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 18, 51), 'Surgical Ward', 24, 72)
Row 16031 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 19, 4), 'Maternity Ward', 24, 70)
Row 16032 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 19, 50), 'ICU', 25, 59)
Row 16033 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 19, 55), 'Emergency Ward', 27, 67)
Row 16034 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 20, 11), 'Surgical Ward', 24, 72)
Row 16035 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 20, 13), 'Maternity Ward', 23, 70)
Row 16036 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 21, 8), 'ICU', 25, 60)
Row 16037 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 21, 16), 'Emergency Ward', 27, 67)
Row 16038 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 21, 32), 'Surgical Ward', 24, 72)
Row 16039 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 21, 33), 'Maternity Ward', 24, 70)
Row 16040 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 22, 27), 'ICU', 25, 59)
Row 16041 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 22, 37), 'Emergency Ward', 27, 67)
Row 16042 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 22, 52), 'Surgical Ward', 24, 72)
Row 16043 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 22, 54), 'Maternity Ward', 24, 70)
Row 16044 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 23, 46), 'ICU', 28, 59)
Row 16045 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 24, 13), 'Surgical Ward', 24, 72)
Row 16046 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 24, 14), 'Maternity Ward', 24, 70)
Row 16047 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 25), 'Emergency Ward', 27, 67)
Row 16048 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 25, 5), 'ICU', 25, 60)
Row 16049 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 25, 33), 'Surgical Ward', 24, 72)
Row 16050 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 25, 35), 'Maternity Ward', 24, 70)
Row 16051 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 26, 21), 'Emergency Ward', 27, 67)
Row 16052 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 26, 24), 'ICU', 25, 59)
Row 16053 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 26, 54), 'Surgical Ward', 24, 72)
Row 16054 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 26, 55), 'Maternity Ward', 24, 70)
Row 16055 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 27, 37), 'ICU', 25, 59)
Row 16056 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 27, 42), 'Emergency Ward', 27, 67)

Row 16057 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 28, 14), 'Surgical Ward', 24, 72)
Row 16058 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 28, 16), 'Maternity Ward', 23, 70)
Row 16059 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 28, 44), 'ICU', 25, 60)
Row 16060 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 29, 3), 'Emergency Ward', 27, 67)
Row 16061 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 29, 35), 'Surgical Ward', 24, 72)
Row 16062 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 29, 36), 'Maternity Ward', 24, 70)
Row 16063 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 30, 3), 'ICU', 25, 60)
Row 16064 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 30, 24), 'Emergency Ward', 27, 67)
Row 16065 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 30, 55), 'Surgical Ward', 24, 72)
Row 16066 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 30, 56), 'Maternity Ward', 23, 70)
Row 16067 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 31, 22), 'ICU', 28, 59)
Row 16068 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 31, 45), 'Emergency Ward', 27, 67)
Row 16069 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 32, 9), 'Surgical Ward', 24, 72)
Row 16070 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 32, 17), 'Maternity Ward', 23, 70)
Row 16071 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 32, 42), 'ICU', 25, 60)
Row 16072 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 33, 6), 'Emergency Ward', 27, 67)
Row 16073 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 33, 18), 'Surgical Ward', 24, 72)
Row 16074 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 33, 30), 'Maternity Ward', 24, 70)
Row 16075 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 34, 1), 'ICU', 25, 60)
Row 16076 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 34, 27), 'Emergency Ward', 27, 67)
Row 16077 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 34, 38), 'Surgical Ward', 24, 72)
Row 16078 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 34, 40), 'Maternity Ward', 23, 70)
Row 16079 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 35, 20), 'ICU', 25, 59)
Row 16080 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 35, 48), 'Emergency Ward', 27, 67)
Row 16081 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 35, 59), 'Surgical Ward', 24, 72)
Row 16082 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 35, 59), 'Maternity Ward', 24, 70)
Row 16083 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 36, 39), 'ICU', 25, 59)
Row 16084 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 37, 9), 'Emergency Ward', 27, 67)
Row 16085 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 37, 20), 'Surgical Ward', 24, 72)
Row 16086 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 37, 21), 'Maternity Ward', 23, 70)
Row 16087 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 37, 58), 'ICU', 25, 60)
Row 16088 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 38, 23), 'Emergency Ward', 27, 67)
Row 16089 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 38, 39), 'Surgical Ward', 24, 72)
Row 16090 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 38, 40), 'Maternity Ward', 23, 70)
Row 16091 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 39, 17), 'ICU', 25, 60)
Row 16092 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 39, 32), 'Emergency Ward', 27, 67)
Row 16093 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 40), 'Surgical Ward', 24, 72)
Row 16094 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 40, 1), 'Maternity Ward', 23, 70)
Row 16095 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 40, 36), 'ICU', 25, 59)
Row 16096 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 40, 53), 'Emergency Ward', 27, 67)
Row 16097 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 41, 20), 'Surgical Ward', 24, 72)
Row 16098 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 41, 21), 'Maternity Ward', 23, 70)
Row 16099 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 41, 49), 'ICU', 25, 59)
Row 16100 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 42, 14), 'Emergency Ward', 27, 67)
Row 16101 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 42, 41), 'Surgical Ward', 24, 72)
Row 16102 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 42, 56), 'ICU', 25, 60)
Row 16103 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 43, 35), 'Emergency Ward', 27, 67)
Row 16104 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 44, 1), 'Surgical Ward', 24, 72)

Row 16105 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 44, 2), 'Maternity Ward', 23, 70)
Row 16106 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 44, 15), 'ICU', 25, 60)
Row 16107 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 44, 56), 'Emergency Ward', 27, 67)
Row 16108 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 45, 22), 'Surgical Ward', 24, 72)
Row 16109 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 45, 22), 'Maternity Ward', 23, 70)
Row 16110 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 45, 34), 'ICU', 25, 60)
Row 16111 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 46, 17), 'Emergency Ward', 27, 67)
Row 16112 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 46, 35), 'Surgical Ward', 24, 72)
Row 16113 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 46, 43), 'Maternity Ward', 23, 70)
Row 16114 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 46, 55), 'ICU', 25, 60)
Row 16115 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 47, 38), 'Emergency Ward', 27, 67)
Row 16116 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 47, 45), 'Surgical Ward', 24, 72)
Row 16117 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 47, 56), 'Maternity Ward', 24, 70)
Row 16118 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 48, 13), 'ICU', 25, 60)
Row 16119 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 48, 59), 'Emergency Ward', 27, 67)
Row 16120 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 49, 5), 'Surgical Ward', 24, 72)
Row 16121 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 49, 5), 'Maternity Ward', 23, 70)
Row 16122 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 49, 32), 'ICU', 25, 60)
Row 16123 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 50, 20), 'Emergency Ward', 27, 67)
Row 16124 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 50, 25), 'Surgical Ward', 24, 72)
Row 16125 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 50, 26), 'Maternity Ward', 24, 70)
Row 16126 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 50, 51), 'ICU', 25, 60)
Row 16127 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 51, 41), 'Emergency Ward', 27, 67)
Row 16128 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 51, 46), 'Surgical Ward', 24, 72)
Row 16129 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 51, 46), 'Maternity Ward', 23, 70)
Row 16130 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 52, 10), 'ICU', 25, 60)
Row 16131 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 52, 54), 'Emergency Ward', 27, 67)
Row 16132 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 53, 6), 'Maternity Ward', 24, 70)
Row 16133 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 53, 7), 'Surgical Ward', 24, 72)
Row 16134 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 53, 29), 'ICU', 25, 60)
Row 16135 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 54, 4), 'Emergency Ward', 27, 67)
Row 16136 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 54, 27), 'Maternity Ward', 23, 70)
Row 16137 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 54, 27), 'Surgical Ward', 24, 72)
Row 16138 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 54, 48), 'ICU', 25, 60)
Row 16139 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 55, 25), 'Emergency Ward', 27, 67)
Row 16140 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 55, 47), 'Maternity Ward', 23, 70)
Row 16141 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 55, 48), 'Surgical Ward', 24, 72)
Row 16142 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 56, 1), 'ICU', 25, 60)
Row 16143 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 56, 46), 'Emergency Ward', 27, 67)
Row 16144 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 57, 8), 'Maternity Ward', 23, 70)
Row 16145 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 57, 8), 'Surgical Ward', 24, 72)
Row 16146 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 57, 8), 'ICU', 28, 59)
Row 16147 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 58, 7), 'Emergency Ward', 27, 67)
Row 16148 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 58, 28), 'ICU', 25, 60)
Row 16149 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 58, 28), 'Maternity Ward', 24, 70)
Row 16150 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 58, 28), 'Surgical Ward', 24, 72)
Row 16151 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 59, 28), 'Emergency Ward', 27, 67)
Row 16152 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 59, 47), 'ICU', 25, 60)
Row 16153 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 59, 48), 'Maternity Ward', 23, 70)

Row 16154 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 3, 59, 49), 'Surgical Ward', 24, 72)
Row 16155 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 0, 49), 'Emergency Ward', 27, 67)
Row 16156 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 1, 2), 'Surgical Ward', 24, 72)
Row 16157 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 1, 6), 'ICU', 25, 60)
Row 16158 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 1, 9), 'Maternity Ward', 23, 71)
Row 16159 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 2, 10), 'Emergency Ward', 27, 67)
Row 16160 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 2, 11), 'Surgical Ward', 24, 72)
Row 16161 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 2, 22), 'Maternity Ward', 23, 70)
Row 16162 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 2, 25), 'ICU', 25, 60)
Row 16163 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 3, 31), 'Emergency Ward', 27, 67)
Row 16164 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 3, 31), 'Maternity Ward', 23, 70)
Row 16165 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 3, 32), 'Surgical Ward', 24, 72)
Row 16166 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 3, 44), 'ICU', 25, 60)
Row 16167 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 4, 51), 'Emergency Ward', 27, 67)
Row 16168 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 4, 52), 'Maternity Ward', 23, 70)
Row 16169 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 4, 52), 'Surgical Ward', 24, 72)
Row 16170 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 5, 3), 'ICU', 28, 59)
Row 16171 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 6, 12), 'Maternity Ward', 23, 70)
Row 16172 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 6, 12), 'Emergency Ward', 27, 67)
Row 16173 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 6, 13), 'Surgical Ward', 24, 72)
Row 16174 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 6, 22), 'ICU', 28, 59)
Row 16175 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 7, 26), 'Emergency Ward', 27, 67)
Row 16176 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 7, 32), 'Maternity Ward', 24, 71)
Row 16177 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 7, 33), 'Surgical Ward', 24, 72)
Row 16178 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 7, 42), 'ICU', 25, 59)
Row 16179 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 8, 36), 'Emergency Ward', 27, 67)
Row 16180 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 8, 53), 'Maternity Ward', 24, 70)
Row 16181 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 8, 54), 'Surgical Ward', 24, 72)
Row 16182 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 9, 1), 'ICU', 25, 60)
Row 16183 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 9, 57), 'Emergency Ward', 27, 67)
Row 16184 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 10, 13), 'ICU', 25, 59)
Row 16185 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 10, 13), 'Maternity Ward', 23, 70)
Row 16186 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 10, 14), 'Surgical Ward', 24, 72)
Row 16187 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 11, 18), 'Emergency Ward', 27, 67)
Row 16188 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 11, 21), 'ICU', 28, 59)
Row 16189 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 11, 34), 'Maternity Ward', 24, 70)
Row 16190 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 11, 35), 'Surgical Ward', 24, 72)
Row 16191 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 12, 39), 'Emergency Ward', 27, 67)
Row 16192 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 12, 40), 'ICU', 25, 60)
Row 16193 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 12, 54), 'Maternity Ward', 24, 70)
Row 16194 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 12, 55), 'Surgical Ward', 24, 72)
Row 16195 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 13, 59), 'ICU', 25, 60)
Row 16196 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 13, 59), 'Emergency Ward', 27, 67)
Row 16197 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 14, 15), 'Maternity Ward', 23, 70)
Row 16198 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 14, 15), 'Surgical Ward', 24, 72)
Row 16199 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 15, 18), 'ICU', 25, 60)
Row 16200 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 15, 21), 'Emergency Ward', 27, 67)
Row 16201 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 15, 29), 'Surgical Ward', 24, 72)
Row 16202 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 15, 35), 'Maternity Ward', 23, 70)

Row 16203 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 16, 37), 'ICU', 25, 60)
Row 16204 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 16, 38), 'Surgical Ward', 24, 72)
Row 16205 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 16, 41), 'Emergency Ward', 27, 67)
Row 16206 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 16, 48), 'Maternity Ward', 24, 70)
Row 16207 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 17, 56), 'ICU', 25, 60)
Row 16208 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 17, 57), 'Maternity Ward', 23, 70)
Row 16209 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 17, 58), 'Surgical Ward', 24, 72)
Row 16210 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 18, 2), 'Emergency Ward', 27, 67)
Row 16211 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 19, 15), 'ICU', 25, 60)
Row 16212 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 19, 18), 'Maternity Ward', 23, 70)
Row 16213 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 19, 19), 'Surgical Ward', 24, 72)
Row 16214 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 19, 23), 'Emergency Ward', 27, 67)
Row 16215 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 20, 34), 'ICU', 25, 60)
Row 16216 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 20, 38), 'Maternity Ward', 24, 70)
Row 16217 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 20, 39), 'Surgical Ward', 24, 72)
Row 16218 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 20, 44), 'Emergency Ward', 27, 67)
Row 16219 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 21, 54), 'ICU', 25, 60)
Row 16220 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 21, 58), 'Emergency Ward', 27, 67)
Row 16221 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 21, 59), 'Maternity Ward', 23, 70)
Row 16222 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 22), 'Surgical Ward', 24, 72)
Row 16223 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 23, 8), 'Emergency Ward', 27, 67)
Row 16224 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 23, 13), 'ICU', 25, 60)
Row 16225 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 23, 19), 'Maternity Ward', 23, 70)
Row 16226 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 23, 20), 'Surgical Ward', 24, 72)
Row 16227 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 24, 25), 'ICU', 25, 60)
Row 16228 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 24, 29), 'Emergency Ward', 27, 67)
Row 16229 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 24, 39), 'Maternity Ward', 24, 70)
Row 16230 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 24, 41), 'Surgical Ward', 24, 72)
Row 16231 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 25, 33), 'ICU', 25, 60)
Row 16232 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 25, 49), 'Emergency Ward', 27, 67)
Row 16233 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 26), 'Maternity Ward', 24, 70)
Row 16234 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 26, 1), 'Surgical Ward', 24, 72)
Row 16235 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 26, 52), 'ICU', 25, 60)
Row 16236 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 27, 10), 'Emergency Ward', 27, 67)
Row 16237 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 27, 20), 'Maternity Ward', 23, 70)
Row 16238 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 27, 22), 'Surgical Ward', 24, 72)
Row 16239 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 28, 11), 'ICU', 28, 59)
Row 16240 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 28, 31), 'Emergency Ward', 27, 67)
Row 16241 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 28, 41), 'Maternity Ward', 23, 70)
Row 16242 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 28, 42), 'Surgical Ward', 24, 72)
Row 16243 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 29, 30), 'ICU', 25, 60)
Row 16244 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 29, 52), 'Emergency Ward', 27, 67)
Row 16245 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 29, 56), 'Surgical Ward', 24, 72)
Row 16246 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 30, 1), 'Maternity Ward', 23, 70)
Row 16247 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 30, 49), 'ICU', 25, 60)
Row 16248 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 31, 5), 'Surgical Ward', 24, 72)
Row 16249 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 31, 13), 'Emergency Ward', 27, 67)
Row 16250 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 31, 15), 'Maternity Ward', 24, 70)
Row 16251 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 32, 8), 'ICU', 25, 60)

Row 16252 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 32, 23), 'Maternity Ward', 23, 71)
Row 16253 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 32, 25), 'Surgical Ward', 24, 72)
Row 16254 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 32, 34), 'Emergency Ward', 27, 67)
Row 16255 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 33, 27), 'ICU', 25, 60)
Row 16256 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 33, 44), 'Maternity Ward', 23, 70)
Row 16257 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 33, 46), 'Surgical Ward', 24, 72)
Row 16258 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 33, 55), 'Emergency Ward', 27, 67)
Row 16259 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 34, 47), 'ICU', 25, 60)
Row 16260 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 35, 4), 'Maternity Ward', 23, 70)
Row 16261 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 35, 6), 'Surgical Ward', 24, 72)
Row 16262 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 35, 16), 'Emergency Ward', 27, 67)
Row 16263 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 36, 6), 'ICU', 25, 60)
Row 16264 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 36, 25), 'Maternity Ward', 23, 70)
Row 16265 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 36, 27), 'Surgical Ward', 24, 72)
Row 16266 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 36, 30), 'Emergency Ward', 27, 67)
Row 16267 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 37, 25), 'ICU', 25, 60)
Row 16268 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 37, 39), 'Emergency Ward', 27, 67)
Row 16269 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 37, 45), 'Maternity Ward', 23, 70)
Row 16270 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 37, 47), 'Surgical Ward', 24, 72)
Row 16271 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 38, 37), 'ICU', 28, 59)
Row 16272 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 39), 'Emergency Ward', 27, 67)
Row 16273 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 39, 5), 'Maternity Ward', 23, 70)
Row 16274 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 39, 7), 'Surgical Ward', 24, 72)
Row 16275 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 39, 45), 'ICU', 25, 60)
Row 16276 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 40, 21), 'Emergency Ward', 27, 67)
Row 16277 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 40, 26), 'Maternity Ward', 23, 70)
Row 16278 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 40, 28), 'Surgical Ward', 24, 72)
Row 16279 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 41, 4), 'ICU', 25, 60)
Row 16280 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 41, 42), 'Emergency Ward', 27, 67)
Row 16281 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 41, 46), 'Maternity Ward', 24, 70)
Row 16282 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 41, 48), 'Surgical Ward', 24, 72)
Row 16283 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 42, 23), 'ICU', 25, 60)
Row 16284 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 43, 3), 'Emergency Ward', 27, 67)
Row 16285 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 43, 7), 'Maternity Ward', 23, 70)
Row 16286 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 43, 9), 'Surgical Ward', 24, 72)
Row 16287 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 43, 42), 'ICU', 25, 60)
Row 16288 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 44, 22), 'Surgical Ward', 24, 72)
Row 16289 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 44, 24), 'Emergency Ward', 27, 67)
Row 16290 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 44, 27), 'Maternity Ward', 23, 71)
Row 16291 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 45, 1), 'ICU', 25, 60)
Row 16292 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 45, 31), 'Surgical Ward', 24, 72)
Row 16293 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 45, 41), 'Maternity Ward', 23, 70)
Row 16294 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 45, 45), 'Emergency Ward', 27, 67)
Row 16295 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 46, 20), 'ICU', 25, 60)
Row 16296 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 46, 49), 'Maternity Ward', 23, 70)
Row 16297 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 46, 52), 'Surgical Ward', 24, 72)
Row 16298 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 47, 6), 'Emergency Ward', 27, 67)
Row 16299 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 47, 39), 'ICU', 25, 60)
Row 16300 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 48, 10), 'Maternity Ward', 23, 70)

Row 16301 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 48, 12), 'Surgical Ward', 24, 72)
Row 16302 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 48, 27), 'Emergency Ward', 27, 67)
Row 16303 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 48, 58), 'ICU', 25, 60)
Row 16304 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 49, 30), 'Maternity Ward', 24, 70)
Row 16305 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 49, 33), 'Surgical Ward', 24, 72)
Row 16306 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 49, 48), 'Emergency Ward', 27, 67)
Row 16307 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 50, 18), 'ICU', 25, 60)
Row 16308 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 50, 51), 'Maternity Ward', 24, 70)
Row 16309 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 50, 53), 'Surgical Ward', 24, 72)
Row 16310 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 51, 2), 'Emergency Ward', 27, 67)
Row 16311 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 51, 37), 'ICU', 25, 60)
Row 16312 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 52, 11), 'Maternity Ward', 24, 70)
Row 16313 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 52, 11), 'Emergency Ward', 27, 67)
Row 16314 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 52, 14), 'Surgical Ward', 24, 72)
Row 16315 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 52, 49), 'ICU', 25, 60)
Row 16316 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 53, 31), 'Maternity Ward', 23, 70)
Row 16317 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 53, 32), 'Emergency Ward', 27, 67)
Row 16318 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 53, 34), 'Surgical Ward', 24, 72)
Row 16319 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 53, 56), 'ICU', 25, 60)
Row 16320 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 54, 52), 'Maternity Ward', 23, 70)
Row 16321 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 54, 53), 'Emergency Ward', 27, 67)
Row 16322 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 54, 55), 'Surgical Ward', 24, 72)
Row 16323 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 55, 16), 'ICU', 25, 60)
Row 16324 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 56, 12), 'Maternity Ward', 23, 70)
Row 16325 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 56, 14), 'Emergency Ward', 27, 67)
Row 16326 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 56, 15), 'Surgical Ward', 24, 72)
Row 16327 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 56, 35), 'ICU', 28, 59)
Row 16328 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 57, 33), 'Maternity Ward', 23, 70)
Row 16329 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 57, 35), 'Emergency Ward', 27, 67)
Row 16330 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 57, 36), 'Surgical Ward', 24, 72)
Row 16331 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 57, 54), 'ICU', 25, 60)
Row 16332 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 58, 49), 'Surgical Ward', 24, 72)
Row 16333 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 58, 53), 'Maternity Ward', 23, 70)
Row 16334 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 58, 56), 'Emergency Ward', 27, 67)
Row 16335 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 59, 13), 'ICU', 28, 59)
Row 16336 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 4, 59, 58), 'Surgical Ward', 24, 72)
Row 16337 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 0, 7), 'Maternity Ward', 23, 70)
Row 16338 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 0, 17), 'Emergency Ward', 27, 67)
Row 16339 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 0, 32), 'ICU', 28, 59)
Row 16340 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 1, 16), 'Maternity Ward', 24, 70)
Row 16341 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 1, 18), 'Surgical Ward', 24, 72)
Row 16342 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 1, 38), 'Emergency Ward', 27, 67)
Row 16343 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 1, 51), 'ICU', 25, 60)
Row 16344 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 2, 36), 'Maternity Ward', 23, 70)
Row 16345 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 2, 39), 'Surgical Ward', 24, 72)
Row 16346 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 2, 59), 'Emergency Ward', 27, 67)
Row 16347 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 3, 10), 'ICU', 25, 60)
Row 16348 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 3, 56), 'Maternity Ward', 24, 70)
Row 16349 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 3, 59), 'Surgical Ward', 24, 72)

Row 16350 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 4, 20), 'Emergency Ward', 27, 67)
Row 16351 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 4, 30), 'ICU', 25, 60)
Row 16352 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 5, 17), 'Maternity Ward', 23, 70)
Row 16353 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 5, 20), 'Surgical Ward', 24, 72)
Row 16354 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 5, 34), 'Emergency Ward', 27, 67)
Row 16355 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 5, 49), 'ICU', 25, 60)
Row 16356 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 6, 37), 'Maternity Ward', 23, 70)
Row 16357 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 6, 40), 'Surgical Ward', 24, 72)
Row 16358 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 6, 43), 'Emergency Ward', 27, 67)
Row 16359 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 7, 1), 'ICU', 25, 60)
Row 16360 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 7, 58), 'Maternity Ward', 23, 70)
Row 16361 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 8, 1), 'Surgical Ward', 24, 72)
Row 16362 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 8, 4), 'Emergency Ward', 27, 67)
Row 16363 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 8, 8), 'ICU', 25, 60)
Row 16364 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 9, 18), 'Maternity Ward', 23, 70)
Row 16365 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 9, 21), 'Surgical Ward', 24, 72)
Row 16366 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 9, 25), 'Emergency Ward', 27, 67)
Row 16367 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 9, 28), 'ICU', 28, 59)
Row 16368 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 10, 38), 'Maternity Ward', 23, 70)
Row 16369 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 10, 42), 'Surgical Ward', 24, 72)
Row 16370 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 10, 46), 'Emergency Ward', 27, 67)
Row 16371 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 10, 47), 'ICU', 25, 60)
Row 16372 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 11, 59), 'Maternity Ward', 23, 70)
Row 16373 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 12, 2), 'Surgical Ward', 24, 72)
Row 16374 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 12, 6), 'ICU', 25, 60)
Row 16375 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 12, 7), 'Emergency Ward', 27, 67)
Row 16376 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 13, 16), 'Surgical Ward', 24, 72)
Row 16377 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 13, 19), 'Maternity Ward', 23, 70)
Row 16378 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 13, 25), 'ICU', 28, 59)
Row 16379 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 13, 28), 'Emergency Ward', 27, 67)
Row 16380 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 14, 25), 'Surgical Ward', 24, 72)
Row 16381 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 14, 33), 'Maternity Ward', 23, 70)
Row 16382 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 14, 44), 'ICU', 25, 60)
Row 16383 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 14, 49), 'Emergency Ward', 27, 67)
Row 16384 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 15, 42), 'Maternity Ward', 23, 70)
Row 16385 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 15, 45), 'Surgical Ward', 24, 72)
Row 16386 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 16, 4), 'ICU', 25, 60)
Row 16387 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 16, 10), 'Emergency Ward', 27, 67)
Row 16388 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 17, 2), 'Maternity Ward', 24, 70)
Row 16389 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 17, 6), 'Surgical Ward', 24, 72)
Row 16390 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 17, 22), 'ICU', 25, 60)
Row 16391 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 17, 31), 'Emergency Ward', 27, 67)
Row 16392 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 18, 22), 'Maternity Ward', 24, 70)
Row 16393 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 18, 26), 'Surgical Ward', 24, 72)
Row 16394 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 18, 42), 'ICU', 25, 60)
Row 16395 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 18, 52), 'Emergency Ward', 27, 67)
Row 16396 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 19, 44), 'Maternity Ward', 23, 70)
Row 16397 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 19, 47), 'Surgical Ward', 24, 72)
Row 16398 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 20, 1), 'ICU', 25, 60)

Row 16399 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 20, 5), 'Emergency Ward', 27, 67)
Row 16400 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 21, 3), 'Maternity Ward', 23, 70)
Row 16401 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 21, 7), 'Surgical Ward', 24, 72)
Row 16402 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 21, 13), 'ICU', 25, 60)
Row 16403 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 21, 15), 'Emergency Ward', 27, 67)
Row 16404 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 22, 20), 'ICU', 25, 60)
Row 16405 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 22, 24), 'Maternity Ward', 23, 70)
Row 16406 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 22, 28), 'Surgical Ward', 24, 72)
Row 16407 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 22, 36), 'Emergency Ward', 27, 67)
Row 16408 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 23, 40), 'ICU', 25, 59)
Row 16409 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 23, 44), 'Maternity Ward', 23, 70)
Row 16410 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 23, 48), 'Surgical Ward', 24, 72)
Row 16411 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 23, 57), 'Emergency Ward', 27, 67)
Row 16412 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 24, 59), 'ICU', 25, 60)
Row 16413 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 25, 5), 'Maternity Ward', 23, 70)
Row 16414 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 25, 9), 'Surgical Ward', 24, 72)
Row 16415 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 25, 18), 'Emergency Ward', 27, 67)
Row 16416 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 26, 18), 'ICU', 28, 59)
Row 16417 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 26, 25), 'Maternity Ward', 23, 70)
Row 16418 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 26, 29), 'Surgical Ward', 24, 72)
Row 16419 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 26, 39), 'Emergency Ward', 27, 67)
Row 16420 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 27, 37), 'ICU', 25, 60)
Row 16421 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 27, 42), 'Surgical Ward', 24, 72)
Row 16422 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 27, 45), 'Maternity Ward', 23, 70)
Row 16423 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 28), 'Emergency Ward', 27, 67)
Row 16424 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 28, 51), 'Surgical Ward', 24, 72)
Row 16425 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 28, 56), 'ICU', 25, 59)
Row 16426 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 28, 59), 'Maternity Ward', 23, 70)
Row 16427 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 29, 21), 'Emergency Ward', 27, 67)
Row 16428 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 30, 8), 'Maternity Ward', 23, 70)
Row 16429 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 30, 12), 'Surgical Ward', 24, 72)
Row 16430 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 30, 15), 'ICU', 25, 60)
Row 16431 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 30, 41), 'Emergency Ward', 27, 67)
Row 16432 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 31, 28), 'Maternity Ward', 24, 70)
Row 16433 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 31, 32), 'Surgical Ward', 24, 72)
Row 16434 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 31, 34), 'ICU', 25, 60)
Row 16435 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 32, 2), 'Emergency Ward', 27, 67)
Row 16436 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 32, 48), 'Maternity Ward', 23, 70)
Row 16437 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 32, 53), 'Surgical Ward', 24, 72)
Row 16438 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 32, 54), 'ICU', 25, 59)
Row 16439 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 33, 23), 'Emergency Ward', 27, 67)
Row 16440 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 34, 9), 'Maternity Ward', 23, 70)
Row 16441 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 34, 13), 'ICU', 25, 60)
Row 16442 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 34, 14), 'Surgical Ward', 24, 72)
Row 16443 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 34, 37), 'Emergency Ward', 27, 67)
Row 16444 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 35, 25), 'ICU', 25, 59)
Row 16445 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 35, 29), 'Maternity Ward', 23, 70)

Row 16446 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 35, 34), 'Surgical Ward', 24, 72)
Row 16447 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 35, 47), 'Emergency Ward', 27, 67)
Row 16448 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 36, 32), 'ICU', 28, 59)
Row 16449 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 36, 50), 'Maternity Ward', 24, 70)
Row 16450 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 36, 54), 'Surgical Ward', 24, 72)
Row 16451 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 37, 8), 'Emergency Ward', 27, 67)
Row 16452 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 37, 52), 'ICU', 28, 59)
Row 16453 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 38, 10), 'Maternity Ward', 23, 70)
Row 16454 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 38, 15), 'Surgical Ward', 24, 72)
Row 16455 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 38, 29), 'Emergency Ward', 27, 67)
Row 16456 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 39, 11), 'ICU', 25, 59)
Row 16457 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 39, 30), 'Maternity Ward', 23, 70)
Row 16458 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 39, 35), 'Surgical Ward', 24, 72)
Row 16459 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 39, 49), 'Emergency Ward', 27, 67)
Row 16460 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 40, 30), 'ICU', 25, 59)
Row 16461 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 40, 52), 'Maternity Ward', 23, 70)
Row 16462 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 40, 56), 'Surgical Ward', 24, 72)
Row 16463 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 41, 10), 'Emergency Ward', 27, 67)
Row 16464 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 41, 49), 'ICU', 25, 59)
Row 16465 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 42, 9), 'Surgical Ward', 24, 72)
Row 16466 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 42, 11), 'Maternity Ward', 23, 70)
Row 16467 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 42, 31), 'Emergency Ward', 27, 67)
Row 16468 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 43, 10), 'ICU', 25, 59)
Row 16469 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 43, 19), 'Surgical Ward', 24, 72)
Row 16470 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 43, 25), 'Maternity Ward', 23, 70)
Row 16471 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 43, 52), 'Emergency Ward', 27, 67)
Row 16472 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 44, 27), 'ICU', 25, 59)
Row 16473 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 44, 34), 'Maternity Ward', 23, 70)
Row 16474 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 44, 39), 'Surgical Ward', 24, 72)
Row 16475 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 45, 13), 'Emergency Ward', 27, 67)
Row 16476 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 45, 46), 'ICU', 25, 59)
Row 16477 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 45, 54), 'Maternity Ward', 23, 70)
Row 16478 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 45, 59), 'Surgical Ward', 24, 72)
Row 16479 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 46, 35), 'Emergency Ward', 27, 67)
Row 16480 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 47, 6), 'ICU', 25, 59)
Row 16481 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 47, 14), 'Maternity Ward', 23, 70)
Row 16482 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 47, 20), 'Surgical Ward', 24, 72)
Row 16483 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 47, 55), 'Emergency Ward', 27, 67)
Row 16484 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 48, 25), 'ICU', 25, 59)
Row 16485 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 48, 35), 'Maternity Ward', 23, 70)
Row 16486 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 48, 40), 'Surgical Ward', 24, 72)
Row 16487 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 49, 9), 'Emergency Ward', 27, 67)
Row 16488 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 49, 37), 'ICU', 25, 59)
Row 16489 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 49, 55), 'Maternity Ward', 23, 70)
Row 16490 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 50, 1), 'Surgical Ward', 24, 72)
Row 16491 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 50, 18), 'Emergency Ward', 27, 67)
Row 16492 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 50, 44), 'ICU', 25, 59)
Row 16493 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 51, 16), 'Maternity Ward', 23, 70)

Row 16494 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 51, 21), 'Surgical Ward', 24, 72)
Row 16495 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 51, 39), 'Emergency Ward', 27, 67)
Row 16496 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 52, 4), 'ICU', 25, 59)
Row 16497 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 52, 36), 'Maternity Ward', 23, 70)
Row 16498 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 52, 42), 'Surgical Ward', 24, 72)
Row 16499 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 53), 'Emergency Ward', 27, 67)
Row 16500 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 53, 23), 'ICU', 25, 59)
Row 16501 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 53, 57), 'Maternity Ward', 23, 70)
Row 16502 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 54, 2), 'Surgical Ward', 24, 72)
Row 16503 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 54, 21), 'Emergency Ward', 27, 67)
Row 16504 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 54, 42), 'ICU', 25, 59)
Row 16505 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 55, 17), 'Maternity Ward', 23, 70)
Row 16506 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 55, 22), 'Surgical Ward', 24, 72)
Row 16507 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 55, 42), 'Emergency Ward', 27, 67)
Row 16508 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 56, 1), 'ICU', 25, 59)
Row 16509 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 56, 36), 'Surgical Ward', 24, 72)
Row 16510 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 56, 37), 'Maternity Ward', 23, 70)
Row 16511 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 57, 3), 'Emergency Ward', 27, 67)
Row 16512 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 57, 20), 'ICU', 25, 60)
Row 16513 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 57, 45), 'Surgical Ward', 24, 72)
Row 16514 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 57, 51), 'Maternity Ward', 24, 70)
Row 16515 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 58, 24), 'Emergency Ward', 27, 67)
Row 16516 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 58, 39), 'ICU', 25, 59)
Row 16517 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 59, 5), 'Surgical Ward', 24, 72)
Row 16518 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 59, 45), 'Emergency Ward', 27, 67)
Row 16519 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 5, 59, 58), 'ICU', 25, 59)
Row 16520 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 0, 20), 'Maternity Ward', 23, 70)
Row 16521 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 0, 26), 'Surgical Ward', 24, 72)
Row 16522 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 1, 6), 'Emergency Ward', 27, 67)
Row 16523 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 1, 18), 'ICU', 25, 59)
Row 16524 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 1, 40), 'Maternity Ward', 23, 70)
Row 16525 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 1, 46), 'Surgical Ward', 24, 72)
Row 16526 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 2, 27), 'Emergency Ward', 27, 67)
Row 16527 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 2, 37), 'ICU', 25, 60)
Row 16528 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 3, 1), 'Maternity Ward', 23, 70)
Row 16529 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 3, 7), 'Surgical Ward', 24, 72)
Row 16530 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 3, 41), 'Emergency Ward', 27, 67)
Row 16531 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 3, 49), 'ICU', 25, 60)
Row 16532 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 4, 21), 'Maternity Ward', 23, 70)
Row 16533 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 4, 27), 'Surgical Ward', 24, 72)
Row 16534 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 4, 50), 'Emergency Ward', 27, 67)
Row 16535 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 4, 57), 'ICU', 28, 59)
Row 16536 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 5, 42), 'Maternity Ward', 23, 70)
Row 16537 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 5, 48), 'Surgical Ward', 24, 72)
Row 16538 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 6, 11), 'Emergency Ward', 27, 67)
Row 16539 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 6, 16), 'ICU', 25, 59)
Row 16540 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 7, 2), 'Maternity Ward', 24, 70)
Row 16541 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 7, 8), 'Surgical Ward', 24, 72)
Row 16542 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 7, 32), 'Emergency Ward', 26, 68)

Row 16543 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 7, 35), 'ICU', 25, 60)
Row 16544 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 8, 23), 'Maternity Ward', 23, 70)
Row 16545 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 8, 29), 'Surgical Ward', 24, 72)
Row 16546 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 8, 53), 'Emergency Ward', 27, 67)
Row 16547 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 8, 54), 'ICU', 25, 60)
Row 16548 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 9, 43), 'Maternity Ward', 24, 70)
Row 16549 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 9, 49), 'Surgical Ward', 24, 72)
Row 16550 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 10, 13), 'ICU', 25, 59)
Row 16551 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 10, 14), 'Emergency Ward', 27, 67)
Row 16552 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 11, 3), 'Surgical Ward', 24, 72)
Row 16553 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 11, 4), 'Maternity Ward', 23, 70)
Row 16554 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 11, 32), 'ICU', 25, 59)
Row 16555 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 11, 35), 'Emergency Ward', 27, 67)
Row 16556 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 12, 12), 'Surgical Ward', 24, 72)
Row 16557 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 12, 17), 'Maternity Ward', 23, 70)
Row 16558 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 12, 51), 'ICU', 25, 59)
Row 16559 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 12, 56), 'Emergency Ward', 27, 67)
Row 16560 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 13, 26), 'Maternity Ward', 23, 71)
Row 16561 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 13, 32), 'Surgical Ward', 24, 72)
Row 16562 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 14, 10), 'ICU', 25, 60)
Row 16563 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 14, 17), 'Emergency Ward', 27, 67)
Row 16564 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 14, 46), 'Maternity Ward', 23, 70)
Row 16565 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 14, 53), 'Surgical Ward', 24, 72)
Row 16566 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 15, 30), 'ICU', 25, 59)
Row 16567 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 15, 38), 'Emergency Ward', 27, 67)
Row 16568 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 16, 6), 'Maternity Ward', 23, 70)
Row 16569 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 16, 13), 'Surgical Ward', 24, 72)
Row 16570 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 16, 49), 'ICU', 25, 59)
Row 16571 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 16, 59), 'Emergency Ward', 27, 67)
Row 16572 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 17, 27), 'Maternity Ward', 23, 70)
Row 16573 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 17, 34), 'Surgical Ward', 24, 72)
Row 16574 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 18, 1), 'ICU', 28, 59)
Row 16575 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 18, 13), 'Emergency Ward', 27, 67)
Row 16576 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 18, 47), 'Maternity Ward', 23, 70)
Row 16577 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 18, 55), 'Surgical Ward', 24, 72)
Row 16578 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 19, 9), 'ICU', 25, 59)
Row 16579 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 19, 22), 'Emergency Ward', 27, 67)
Row 16580 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 20, 8), 'Maternity Ward', 23, 70)
Row 16581 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 20, 14), 'Surgical Ward', 24, 72)
Row 16582 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 20, 28), 'ICU', 25, 59)
Row 16583 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 20, 43), 'Emergency Ward', 27, 67)
Row 16584 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 21, 28), 'Maternity Ward', 23, 70)
Row 16585 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 21, 35), 'Surgical Ward', 24, 72)
Row 16586 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 21, 47), 'ICU', 25, 59)
Row 16587 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 22, 4), 'Emergency Ward', 27, 67)
Row 16588 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 22, 49), 'Maternity Ward', 23, 70)
Row 16589 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 22, 55), 'Surgical Ward', 24, 72)
Row 16590 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 23, 6), 'ICU', 25, 59)
Row 16591 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 23, 25), 'Emergency Ward', 27, 67)

Row 16592 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 24, 9), 'Maternity Ward', 23, 70)
Row 16593 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 24, 16), 'Surgical Ward', 24, 72)
Row 16594 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 24, 25), 'ICU', 25, 59)
Row 16595 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 24, 46), 'Emergency Ward', 27, 67)
Row 16596 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 25, 29), 'Surgical Ward', 24, 72)
Row 16597 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 25, 30), 'Maternity Ward', 23, 71)
Row 16598 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 25, 44), 'ICU', 25, 59)
Row 16599 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 26, 7), 'Emergency Ward', 27, 67)
Row 16600 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 26, 38), 'Surgical Ward', 24, 72)
Row 16601 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 26, 43), 'Maternity Ward', 23, 70)
Row 16602 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 27, 4), 'ICU', 28, 59)
Row 16603 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 27, 28), 'Emergency Ward', 27, 67)
Row 16604 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 27, 52), 'Maternity Ward', 23, 70)
Row 16605 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 27, 59), 'Surgical Ward', 24, 72)
Row 16606 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 28, 23), 'ICU', 25, 59)
Row 16607 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 28, 49), 'Emergency Ward', 27, 67)
Row 16608 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 29, 12), 'Maternity Ward', 24, 70)
Row 16609 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 29, 19), 'Surgical Ward', 24, 72)
Row 16610 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 29, 42), 'ICU', 25, 59)
Row 16611 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 30, 10), 'Emergency Ward', 27, 67)
Row 16612 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 30, 33), 'Maternity Ward', 24, 70)
Row 16613 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 30, 40), 'Surgical Ward', 24, 72)
Row 16614 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 31, 1), 'ICU', 25, 59)
Row 16615 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 31, 30), 'Emergency Ward', 27, 67)
Row 16616 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 31, 53), 'Maternity Ward', 23, 70)
Row 16617 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 32), 'Surgical Ward', 24, 72)
Row 16618 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 32, 13), 'ICU', 25, 59)
Row 16619 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 32, 45), 'Emergency Ward', 27, 67)
Row 16620 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 33, 13), 'Maternity Ward', 23, 71)
Row 16621 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 33, 21), 'ICU', 25, 59)
Row 16622 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 33, 54), 'Emergency Ward', 27, 67)
Row 16623 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 34, 34), 'Maternity Ward', 23, 70)
Row 16624 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 34, 40), 'ICU', 25, 59)
Row 16625 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 34, 41), 'Surgical Ward', 24, 72)
Row 16626 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 35, 15), 'Emergency Ward', 27, 67)
Row 16627 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 35, 54), 'Maternity Ward', 23, 70)
Row 16628 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 35, 59), 'ICU', 28, 59)
Row 16629 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 36, 2), 'Surgical Ward', 24, 72)
Row 16630 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 36, 36), 'Emergency Ward', 27, 66)
Row 16631 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 37, 15), 'Maternity Ward', 23, 70)
Row 16632 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 37, 18), 'ICU', 25, 59)
Row 16633 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 37, 22), 'Surgical Ward', 24, 72)
Row 16634 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 37, 57), 'Emergency Ward', 27, 66)
Row 16635 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 38, 35), 'Maternity Ward', 23, 70)
Row 16636 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 38, 37), 'ICU', 25, 58)
Row 16637 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 38, 43), 'Surgical Ward', 24, 72)
Row 16638 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 39, 18), 'Emergency Ward', 27, 66)
Row 16639 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 39, 55), 'Maternity Ward', 23, 70)
Row 16640 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 39, 56), 'Surgical Ward', 24, 72)

Row 16641 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 39, 56), 'ICU', 25, 58)
Row 16642 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 40, 39), 'Emergency Ward', 27, 66)
Row 16643 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 41, 5), 'Surgical Ward', 24, 72)
Row 16644 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 41, 9), 'Maternity Ward', 23, 70)
Row 16645 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 41, 15), 'ICU', 28, 59)
Row 16646 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 41, 59), 'Emergency Ward', 27, 66)
Row 16647 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 42, 18), 'Maternity Ward', 23, 70)
Row 16648 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 42, 25), 'Surgical Ward', 24, 72)
Row 16649 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 42, 34), 'ICU', 25, 58)
Row 16650 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 43, 20), 'Emergency Ward', 27, 66)
Row 16651 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 43, 38), 'Maternity Ward', 23, 70)
Row 16652 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 43, 46), 'Surgical Ward', 24, 72)
Row 16653 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 43, 54), 'ICU', 25, 57)
Row 16654 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 44, 41), 'Emergency Ward', 27, 66)
Row 16655 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 44, 59), 'Maternity Ward', 23, 70)
Row 16656 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 45, 6), 'Surgical Ward', 24, 72)
Row 16657 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 45, 13), 'ICU', 25, 57)
Row 16658 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 46, 2), 'Emergency Ward', 27, 66)
Row 16659 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 46, 19), 'Maternity Ward', 23, 70)
Row 16660 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 46, 25), 'ICU', 25, 56)
Row 16661 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 46, 27), 'Surgical Ward', 24, 72)
Row 16662 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 47, 16), 'Emergency Ward', 27, 66)
Row 16663 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 47, 33), 'ICU', 25, 56)
Row 16664 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 47, 39), 'Maternity Ward', 23, 70)
Row 16665 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 47, 47), 'Surgical Ward', 24, 72)
Row 16666 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 48, 26), 'Emergency Ward', 27, 66)
Row 16667 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 48, 52), 'ICU', 25, 56)
Row 16668 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 49), 'Maternity Ward', 23, 70)
Row 16669 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 49, 8), 'Surgical Ward', 24, 72)
Row 16670 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 49, 47), 'Emergency Ward', 27, 66)
Row 16671 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 50, 11), 'ICU', 25, 56)
Row 16672 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 50, 20), 'Maternity Ward', 23, 70)
Row 16673 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 50, 28), 'Surgical Ward', 24, 72)
Row 16674 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 51, 8), 'Emergency Ward', 27, 66)
Row 16675 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 51, 30), 'ICU', 25, 56)
Row 16676 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 51, 41), 'Maternity Ward', 27, 69)
Row 16677 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 51, 49), 'Surgical Ward', 24, 72)
Row 16678 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 52, 28), 'Emergency Ward', 27, 66)
Row 16679 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 52, 49), 'ICU', 25, 56)
Row 16680 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 53, 1), 'Maternity Ward', 23, 70)
Row 16681 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 53, 9), 'Surgical Ward', 24, 72)
Row 16682 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 53, 49), 'Emergency Ward', 27, 66)
Row 16683 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 54, 8), 'ICU', 25, 56)
Row 16684 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 54, 21), 'Maternity Ward', 24, 70)
Row 16685 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 54, 23), 'Surgical Ward', 24, 72)
Row 16686 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 55, 10), 'Emergency Ward', 27, 66)
Row 16687 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 55, 27), 'ICU', 25, 56)

Row 16688 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 55, 32), 'Surgical Ward', 24, 72)
Row 16689 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 55, 35), 'Maternity Ward', 23, 70)
Row 16690 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 56, 31), 'Emergency Ward', 27, 66)
Row 16691 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 56, 44), 'Maternity Ward', 23, 70)
Row 16692 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 56, 47), 'ICU', 25, 57)
Row 16693 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 56, 52), 'Surgical Ward', 24, 72)
Row 16694 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 57, 52), 'Emergency Ward', 27, 66)
Row 16695 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 58, 4), 'Maternity Ward', 23, 70)
Row 16696 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 58, 6), 'ICU', 25, 57)
Row 16697 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 58, 13), 'Surgical Ward', 24, 72)
Row 16698 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 59, 13), 'Emergency Ward', 27, 66)
Row 16699 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 59, 25), 'Maternity Ward', 23, 70)
Row 16700 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 59, 25), 'ICU', 25, 56)
Row 16701 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 6, 59, 33), 'Surgical Ward', 24, 72)
Row 16702 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 0, 34), 'Emergency Ward', 27, 66)
Row 16703 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 0, 37), 'ICU', 25, 56)
Row 16704 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 0, 45), 'Maternity Ward', 23, 70)
Row 16705 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 0, 53), 'Surgical Ward', 24, 72)
Row 16706 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 1, 45), 'ICU', 25, 56)
Row 16707 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 1, 48), 'Emergency Ward', 27, 66)
Row 16708 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 2, 5), 'Maternity Ward', 24, 70)
Row 16709 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 2, 14), 'Surgical Ward', 24, 72)
Row 16710 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 2, 57), 'Emergency Ward', 27, 66)
Row 16711 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 3, 4), 'ICU', 25, 56)
Row 16712 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 3, 26), 'Maternity Ward', 24, 70)
Row 16713 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 3, 34), 'Surgical Ward', 24, 72)
Row 16714 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 4, 18), 'Emergency Ward', 27, 66)
Row 16715 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 4, 23), 'ICU', 25, 56)
Row 16716 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 4, 46), 'Maternity Ward', 23, 70)
Row 16717 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 4, 55), 'Surgical Ward', 24, 72)
Row 16718 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 5, 39), 'Emergency Ward', 27, 66)
Row 16719 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 5, 42), 'ICU', 25, 56)
Row 16720 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 6, 7), 'Maternity Ward', 23, 70)
Row 16721 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 6, 15), 'Surgical Ward', 24, 72)
Row 16722 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 7), 'Emergency Ward', 27, 66)
Row 16723 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 7, 1), 'ICU', 25, 55)
Row 16724 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 7, 27), 'Maternity Ward', 23, 70)
Row 16725 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 7, 36), 'Surgical Ward', 24, 72)
Row 16726 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 8, 20), 'ICU', 25, 56)
Row 16727 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 8, 21), 'Emergency Ward', 27, 66)
Row 16728 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 8, 47), 'Maternity Ward', 23, 70)
Row 16729 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 8, 49), 'Surgical Ward', 24, 72)
Row 16730 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 9, 39), 'ICU', 25, 56)
Row 16731 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 9, 42), 'Emergency Ward', 27, 66)
Row 16732 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 9, 58), 'Surgical Ward', 24, 72)
Row 16733 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 10, 1), 'Maternity Ward', 23, 70)
Row 16734 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 10, 59), 'ICU', 25, 56)

Row 16735 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 11, 3), 'Emergency Ward', 27, 66)
Row 16736 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 11, 10), 'Maternity Ward', 23, 70)
Row 16737 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 11, 20), 'Surgical Ward', 24, 72)
Row 16738 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 12, 18), 'ICU', 25, 56)
Row 16739 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 12, 24), 'Emergency Ward', 27, 66)
Row 16740 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 12, 30), 'Maternity Ward', 24, 70)
Row 16741 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 12, 39), 'Surgical Ward', 24, 72)
Row 16742 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 13, 37), 'ICU', 25, 55)
Row 16743 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 13, 45), 'Emergency Ward', 27, 66)
Row 16744 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 13, 51), 'Maternity Ward', 23, 70)
Row 16745 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 14), 'Surgical Ward', 24, 72)
Row 16746 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 14, 49), 'ICU', 25, 56)
Row 16747 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 15, 6), 'Emergency Ward', 27, 66)
Row 16748 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 15, 11), 'Maternity Ward', 23, 70)
Row 16749 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 15, 20), 'Surgical Ward', 24, 72)
Row 16750 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 15, 57), 'ICU', 28, 58)
Row 16751 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 16, 20), 'Emergency Ward', 27, 66)
Row 16752 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 16, 31), 'Maternity Ward', 23, 70)
Row 16753 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 16, 41), 'Surgical Ward', 24, 72)
Row 16754 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 17, 16), 'ICU', 25, 56)
Row 16755 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 17, 29), 'Emergency Ward', 27, 66)
Row 16756 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 17, 52), 'Maternity Ward', 23, 70)
Row 16757 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 18, 1), 'Surgical Ward', 24, 72)
Row 16758 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 18, 35), 'ICU', 25, 56)
Row 16759 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 18, 50), 'Emergency Ward', 27, 66)
Row 16760 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 19, 12), 'Maternity Ward', 23, 70)
Row 16761 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 19, 22), 'Surgical Ward', 24, 72)
Row 16762 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 19, 54), 'ICU', 25, 56)
Row 16763 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 20, 11), 'Emergency Ward', 27, 66)
Row 16764 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 20, 33), 'Maternity Ward', 23, 70)
Row 16765 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 20, 42), 'Surgical Ward', 24, 72)
Row 16766 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 21, 13), 'ICU', 25, 56)
Row 16767 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 21, 33), 'Emergency Ward', 27, 66)
Row 16768 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 21, 53), 'Maternity Ward', 24, 70)
Row 16769 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 22, 2), 'Surgical Ward', 24, 72)
Row 16770 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 22, 32), 'ICU', 25, 56)
Row 16771 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 22, 53), 'Emergency Ward', 27, 66)
Row 16772 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 23, 13), 'Maternity Ward', 23, 70)
Row 16773 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 23, 16), 'Surgical Ward', 24, 72)
Row 16774 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 23, 51), 'ICU', 25, 56)
Row 16775 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 24, 14), 'Emergency Ward', 27, 66)
Row 16776 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 24, 25), 'Surgical Ward', 24, 72)
Row 16777 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 24, 27), 'Maternity Ward', 23, 70)
Row 16778 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 25, 11), 'ICU', 28, 59)
Row 16779 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 25, 35), 'Emergency Ward', 27, 66)
Row 16780 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 25, 36), 'Maternity Ward', 23, 70)
Row 16781 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 25, 45), 'Surgical Ward', 24, 72)
Row 16782 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 26, 30), 'ICU', 25, 56)
Row 16783 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 26, 56), 'Emergency Ward', 27, 66)

Row 16784 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 26, 56), 'Maternity Ward', 23, 70)
Row 16785 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 27, 6), 'Surgical Ward', 24, 72)
Row 16786 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 27, 49), 'ICU', 25, 56)
Row 16787 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 28, 17), 'Maternity Ward', 24, 70)
Row 16788 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 28, 17), 'Emergency Ward', 27, 66)
Row 16789 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 28, 26), 'Surgical Ward', 24, 72)
Row 16790 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 29, 1), 'ICU', 28, 59)
Row 16791 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 29, 37), 'Maternity Ward', 23, 70)
Row 16792 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 29, 38), 'Emergency Ward', 27, 66)
Row 16793 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 29, 47), 'Surgical Ward', 24, 72)
Row 16794 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 30, 9), 'ICU', 25, 56)
Row 16795 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 30, 52), 'Emergency Ward', 27, 66)
Row 16796 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 30, 57), 'Maternity Ward', 24, 70)
Row 16797 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 31, 7), 'Surgical Ward', 24, 72)
Row 16798 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 31, 28), 'ICU', 28, 58)
Row 16799 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 32, 1), 'Emergency Ward', 27, 66)
Row 16800 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 32, 18), 'Maternity Ward', 23, 70)
Row 16801 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 32, 28), 'Surgical Ward', 24, 72)
Row 16802 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 32, 47), 'ICU', 25, 56)
Row 16803 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 33, 22), 'Emergency Ward', 27, 66)
Row 16804 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 33, 38), 'Maternity Ward', 23, 70)
Row 16805 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 33, 48), 'Surgical Ward', 24, 72)
Row 16806 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 34, 6), 'ICU', 25, 56)
Row 16807 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 34, 43), 'Emergency Ward', 27, 66)
Row 16808 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 35, 9), 'Surgical Ward', 24, 72)
Row 16809 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 35, 25), 'ICU', 25, 55)
Row 16810 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 36, 4), 'Emergency Ward', 27, 66)
Row 16811 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 36, 19), 'Maternity Ward', 23, 70)
Row 16812 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 36, 29), 'Surgical Ward', 24, 72)
Row 16813 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 36, 44), 'ICU', 25, 56)
Row 16814 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 37, 25), 'Emergency Ward', 27, 66)
Row 16815 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 37, 39), 'Maternity Ward', 23, 70)
Row 16816 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 37, 43), 'Surgical Ward', 24, 72)
Row 16817 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 38, 4), 'ICU', 25, 56)
Row 16818 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 38, 46), 'Emergency Ward', 27, 66)
Row 16819 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 38, 52), 'Surgical Ward', 24, 72)
Row 16820 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 38, 53), 'Maternity Ward', 23, 70)
Row 16821 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 39, 23), 'ICU', 25, 56)
Row 16822 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 40, 2), 'Maternity Ward', 23, 70)
Row 16823 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 40, 7), 'Emergency Ward', 27, 66)
Row 16824 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 40, 12), 'Surgical Ward', 24, 72)
Row 16825 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 40, 42), 'ICU', 25, 56)
Row 16826 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 41, 22), 'Maternity Ward', 23, 70)
Row 16827 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 41, 28), 'Emergency Ward', 27, 66)
Row 16828 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 41, 33), 'Surgical Ward', 24, 72)
Row 16829 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 42, 1), 'ICU', 25, 56)
Row 16830 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 42, 43), 'Maternity Ward', 23, 70)

Row 16831 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 42, 48), 'Emergency Ward', 27, 66)
Row 16832 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 42, 53), 'Surgical Ward', 24, 72)
Row 16833 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 43, 13), 'ICU', 25, 56)
Row 16834 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 44, 3), 'Maternity Ward', 23, 70)
Row 16835 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 44, 9), 'Emergency Ward', 27, 66)
Row 16836 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 44, 14), 'Surgical Ward', 24, 72)
Row 16837 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 44, 21), 'ICU', 25, 56)
Row 16838 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 45, 23), 'Maternity Ward', 24, 70)
Row 16839 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 45, 24), 'Emergency Ward', 27, 66)
Row 16840 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 45, 34), 'Surgical Ward', 24, 72)
Row 16841 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 45, 40), 'ICU', 28, 58)
Row 16842 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 46, 33), 'Emergency Ward', 27, 66)
Row 16843 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 46, 44), 'Maternity Ward', 23, 70)
Row 16844 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 46, 55), 'Surgical Ward', 24, 72)
Row 16845 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 46, 59), 'ICU', 25, 56)
Row 16846 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 47, 54), 'Emergency Ward', 27, 66)
Row 16847 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 48, 4), 'Maternity Ward', 23, 70)
Row 16848 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 48, 15), 'Surgical Ward', 24, 72)
Row 16849 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 48, 18), 'ICU', 25, 56)
Row 16850 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 49, 15), 'Emergency Ward', 27, 66)
Row 16851 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 49, 25), 'Maternity Ward', 23, 70)
Row 16852 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 49, 37), 'ICU', 28, 59)
Row 16853 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 50, 36), 'Emergency Ward', 27, 66)
Row 16854 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 50, 45), 'Maternity Ward', 23, 70)
Row 16855 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 50, 56), 'Surgical Ward', 24, 72)
Row 16856 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 50, 56), 'ICU', 25, 56)
Row 16857 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 51, 57), 'Emergency Ward', 27, 66)
Row 16858 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 52, 5), 'Maternity Ward', 23, 70)
Row 16859 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 52, 9), 'Surgical Ward', 24, 72)
Row 16860 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 52, 15), 'ICU', 25, 56)
Row 16861 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 53, 17), 'Emergency Ward', 27, 66)
Row 16862 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 53, 18), 'Surgical Ward', 24, 72)
Row 16863 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 53, 19), 'Maternity Ward', 23, 70)
Row 16864 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 53, 35), 'ICU', 25, 56)
Row 16865 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 54, 28), 'Maternity Ward', 23, 70)
Row 16866 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 54, 38), 'Emergency Ward', 27, 66)
Row 16867 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 54, 39), 'Surgical Ward', 24, 72)
Row 16868 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 54, 54), 'ICU', 25, 56)
Row 16869 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 55, 48), 'Maternity Ward', 23, 70)
Row 16870 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 55, 59), 'Emergency Ward', 27, 66)
Row 16871 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 56), 'Surgical Ward', 24, 72)
Row 16872 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 57, 9), 'Maternity Ward', 23, 70)
Row 16873 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 57, 20), 'Surgical Ward', 24, 72)
Row 16874 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 57, 20), 'Emergency Ward', 27, 66)
Row 16875 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 57, 25), 'ICU', 25, 56)
Row 16876 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 58, 30), 'Maternity Ward', 23, 70)
Row 16877 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 58, 33), 'ICU', 25, 56)

Row 16878 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 58, 40), 'Surgical Ward', 24, 72)
Row 16879 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 58, 41), 'Emergency Ward', 27, 66)
Row 16880 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 59, 49), 'Maternity Ward', 23, 70)
Row 16881 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 59, 52), 'ICU', 25, 56)
Row 16882 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 7, 59, 55), 'Emergency Ward', 27, 66)
Row 16883 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 0, 1), 'Surgical Ward', 24, 72)
Row 16884 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 1, 5), 'Emergency Ward', 27, 65)
Row 16885 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 1, 10), 'Maternity Ward', 23, 70)
Row 16886 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 1, 11), 'ICU', 25, 56)
Row 16887 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 1, 21), 'Surgical Ward', 24, 72)
Row 16888 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 2, 25), 'Emergency Ward', 27, 66)
Row 16889 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 2, 30), 'ICU', 25, 56)
Row 16890 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 2, 30), 'Maternity Ward', 23, 70)
Row 16891 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 2, 42), 'Surgical Ward', 24, 72)
Row 16892 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 3, 46), 'Emergency Ward', 27, 66)
Row 16893 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 3, 49), 'ICU', 25, 56)
Row 16894 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 3, 51), 'Maternity Ward', 24, 70)
Row 16895 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 4, 2), 'Surgical Ward', 24, 72)
Row 16896 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 5, 7), 'Emergency Ward', 27, 66)
Row 16897 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 5, 8), 'ICU', 25, 57)
Row 16898 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 5, 11), 'Maternity Ward', 23, 70)
Row 16899 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 5, 23), 'Surgical Ward', 24, 72)
Row 16900 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 6, 27), 'ICU', 25, 57)
Row 16901 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 6, 28), 'Emergency Ward', 27, 66)
Row 16902 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 6, 31), 'Maternity Ward', 23, 70)
Row 16903 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 6, 36), 'Surgical Ward', 24, 72)
Row 16904 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 7, 45), 'Maternity Ward', 23, 70)
Row 16905 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 7, 45), 'Surgical Ward', 24, 72)
Row 16906 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 7, 47), 'ICU', 25, 57)
Row 16907 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 7, 49), 'Emergency Ward', 27, 66)
Row 16908 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 8, 54), 'Maternity Ward', 23, 70)
Row 16909 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 9, 6), 'Surgical Ward', 24, 71)
Row 16910 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 9, 6), 'ICU', 28, 59)
Row 16911 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 9, 10), 'Emergency Ward', 27, 66)
Row 16912 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 10, 14), 'Maternity Ward', 23, 70)
Row 16913 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 10, 25), 'ICU', 25, 57)
Row 16914 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 10, 26), 'Surgical Ward', 24, 71)
Row 16915 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 10, 31), 'Emergency Ward', 27, 66)
Row 16916 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 11, 35), 'Maternity Ward', 24, 70)
Row 16917 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 11, 37), 'ICU', 25, 58)
Row 16918 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 11, 47), 'Surgical Ward', 24, 71)
Row 16919 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 11, 53), 'Emergency Ward', 27, 66)
Row 16920 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 12, 45), 'ICU', 25, 57)
Row 16921 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 12, 55), 'Maternity Ward', 23, 70)
Row 16922 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 13, 7), 'Surgical Ward', 24, 71)
Row 16923 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 13, 13), 'Emergency Ward', 27, 66)
Row 16924 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 14, 4), 'ICU', 25, 57)
Row 16925 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 14, 16), 'Maternity Ward', 23, 70)
Row 16926 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 14, 27), 'Emergency Ward', 27, 66)

Row 16927 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 14, 28), 'Surgical Ward', 24, 71)
Row 16928 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 15, 23), 'ICU', 25, 58)
Row 16929 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 15, 36), 'Maternity Ward', 23, 70)
Row 16930 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 15, 36), 'Emergency Ward', 27, 66)
Row 16931 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 15, 48), 'Surgical Ward', 24, 71)
Row 16932 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 16, 42), 'ICU', 25, 58)
Row 16933 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 16, 56), 'Maternity Ward', 23, 70)
Row 16934 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 16, 57), 'Emergency Ward', 27, 66)
Row 16935 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 17, 9), 'Surgical Ward', 24, 71)
Row 16936 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 18, 1), 'ICU', 25, 58)
Row 16937 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 18, 17), 'Maternity Ward', 23, 70)
Row 16938 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 18, 18), 'Emergency Ward', 27, 66)
Row 16939 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 18, 29), 'Surgical Ward', 24, 71)
Row 16940 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 19, 20), 'ICU', 25, 57)
Row 16941 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 19, 37), 'Maternity Ward', 23, 70)
Row 16942 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 19, 39), 'Emergency Ward', 27, 66)
Row 16943 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 19, 49), 'Surgical Ward', 24, 71)
Row 16944 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 20, 39), 'ICU', 25, 58)
Row 16945 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 20, 58), 'Maternity Ward', 23, 70)
Row 16946 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 21), 'Emergency Ward', 27, 66)
Row 16947 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 21, 3), 'Surgical Ward', 24, 71)
Row 16948 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 21, 59), 'ICU', 25, 57)
Row 16949 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 22, 11), 'Maternity Ward', 23, 70)
Row 16950 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 22, 12), 'Surgical Ward', 24, 71)
Row 16951 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 22, 21), 'Emergency Ward', 27, 66)
Row 16952 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 23, 18), 'ICU', 25, 57)
Row 16953 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 23, 20), 'Maternity Ward', 23, 70)
Row 16954 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 23, 32), 'Surgical Ward', 24, 71)
Row 16955 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 23, 42), 'Emergency Ward', 27, 66)
Row 16956 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 24, 37), 'ICU', 25, 57)
Row 16957 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 24, 40), 'Maternity Ward', 23, 70)
Row 16958 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 24, 53), 'Surgical Ward', 24, 71)
Row 16959 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 25, 3), 'Emergency Ward', 27, 66)
Row 16960 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 25, 49), 'ICU', 25, 58)
Row 16961 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 26, 1), 'Maternity Ward', 23, 70)
Row 16962 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 26, 13), 'Surgical Ward', 24, 71)
Row 16963 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 26, 24), 'Emergency Ward', 27, 66)
Row 16964 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 26, 57), 'ICU', 25, 57)
Row 16965 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 27, 21), 'Maternity Ward', 24, 70)
Row 16966 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 27, 34), 'Surgical Ward', 24, 71)
Row 16967 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 27, 45), 'Emergency Ward', 27, 66)
Row 16968 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 28, 16), 'ICU', 25, 57)
Row 16969 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 28, 42), 'Maternity Ward', 24, 70)
Row 16970 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 28, 54), 'Surgical Ward', 24, 71)
Row 16971 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 28, 59), 'Emergency Ward', 27, 65)
Row 16972 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 29, 35), 'ICU', 25, 58)
Row 16973 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 30, 2), 'Maternity Ward', 23, 70)
Row 16974 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 30, 8), 'Emergency Ward', 27, 66)

Row 16975 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 30, 15), 'Surgical Ward', 24, 71)
Row 16976 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 30, 54), 'ICU', 25, 57)
Row 16977 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 31, 22), 'Maternity Ward', 23, 70)
Row 16978 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 31, 29), 'Emergency Ward', 27, 66)
Row 16979 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 31, 35), 'Surgical Ward', 24, 71)
Row 16980 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 32, 13), 'ICU', 25, 57)
Row 16981 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 32, 43), 'Maternity Ward', 23, 70)
Row 16982 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 32, 50), 'Emergency Ward', 27, 66)
Row 16983 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 32, 56), 'Surgical Ward', 24, 71)
Row 16984 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 33, 32), 'ICU', 28, 59)
Row 16985 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 34, 3), 'Maternity Ward', 23, 70)
Row 16986 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 34, 11), 'Emergency Ward', 27, 66)
Row 16987 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 34, 16), 'Surgical Ward', 24, 71)
Row 16988 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 34, 52), 'ICU', 25, 57)
Row 16989 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 35, 24), 'Maternity Ward', 23, 70)
Row 16990 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 35, 29), 'Surgical Ward', 24, 71)
Row 16991 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 35, 32), 'Emergency Ward', 27, 66)
Row 16992 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 36, 11), 'ICU', 25, 58)
Row 16993 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 36, 37), 'Maternity Ward', 23, 70)
Row 16994 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 36, 39), 'Surgical Ward', 24, 71)
Row 16995 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 36, 53), 'Emergency Ward', 27, 65)
Row 16996 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 37, 31), 'ICU', 25, 57)
Row 16997 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 37, 46), 'Maternity Ward', 23, 70)
Row 16998 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 37, 59), 'Surgical Ward', 24, 71)
Row 16999 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 38, 14), 'Emergency Ward', 27, 65)
Row 17000 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 38, 49), 'ICU', 28, 59)
Row 17001 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 39, 6), 'Maternity Ward', 23, 70)
Row 17002 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 39, 19), 'Surgical Ward', 24, 71)
Row 17003 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 39, 35), 'Emergency Ward', 27, 65)
Row 17004 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 40, 1), 'ICU', 28, 59)
Row 17005 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 40, 27), 'Maternity Ward', 23, 70)
Row 17006 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 40, 40), 'Surgical Ward', 24, 71)
Row 17007 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 40, 56), 'Emergency Ward', 27, 66)
Row 17008 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 41, 9), 'ICU', 25, 57)
Row 17009 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 41, 47), 'Maternity Ward', 23, 70)
Row 17010 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 42), 'Surgical Ward', 24, 71)
Row 17011 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 42, 17), 'Emergency Ward', 27, 66)
Row 17012 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 42, 28), 'ICU', 25, 57)
Row 17013 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 43, 8), 'Maternity Ward', 23, 70)
Row 17014 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 43, 21), 'Surgical Ward', 24, 71)
Row 17015 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 43, 31), 'Emergency Ward', 27, 66)
Row 17016 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 43, 47), 'ICU', 25, 57)
Row 17017 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 44, 28), 'Maternity Ward', 23, 70)
Row 17018 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 44, 40), 'Emergency Ward', 27, 66)
Row 17019 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 44, 41), 'Surgical Ward', 24, 71)
Row 17020 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 45, 6), 'ICU', 25, 57)
Row 17021 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 45, 48), 'Maternity Ward', 23, 70)

Row 17022 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 46, 1), 'Emergency Ward', 27, 66)
Row 17023 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 46, 2), 'Surgical Ward', 24, 71)
Row 17024 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 46, 25), 'ICU', 28, 59)
Row 17025 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 47, 9), 'Maternity Ward', 23, 70)
Row 17026 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 47, 22), 'Emergency Ward', 27, 66)
Row 17027 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 47, 22), 'Surgical Ward', 24, 71)
Row 17028 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 47, 44), 'ICU', 25, 57)
Row 17029 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 48, 29), 'Maternity Ward', 23, 70)
Row 17030 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 48, 43), 'Surgical Ward', 24, 71)
Row 17031 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 48, 43), 'Emergency Ward', 27, 66)
Row 17032 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 49, 4), 'ICU', 25, 57)
Row 17033 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 49, 50), 'Maternity Ward', 23, 71)
Row 17034 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 49, 56), 'Surgical Ward', 24, 71)
Row 17035 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 50, 4), 'Emergency Ward', 27, 66)
Row 17036 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 50, 23), 'ICU', 25, 57)
Row 17037 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 51, 3), 'Maternity Ward', 23, 71)
Row 17038 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 51, 5), 'Surgical Ward', 24, 71)
Row 17039 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 51, 25), 'Emergency Ward', 27, 66)
Row 17040 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 51, 42), 'ICU', 25, 57)
Row 17041 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 52, 12), 'Maternity Ward', 23, 71)
Row 17042 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 52, 26), 'Surgical Ward', 24, 71)
Row 17043 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 52, 46), 'Emergency Ward', 27, 66)
Row 17044 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 53, 1), 'ICU', 25, 57)
Row 17045 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 53, 32), 'Maternity Ward', 23, 71)
Row 17046 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 53, 46), 'Surgical Ward', 24, 71)
Row 17047 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 54, 7), 'Emergency Ward', 27, 66)
Row 17048 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 54, 13), 'ICU', 25, 57)
Row 17049 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 54, 53), 'Maternity Ward', 24, 71)
Row 17050 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 55, 7), 'Surgical Ward', 24, 71)
Row 17051 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 55, 21), 'ICU', 25, 57)
Row 17052 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 55, 28), 'Emergency Ward', 27, 66)
Row 17053 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 56, 13), 'Maternity Ward', 23, 71)
Row 17054 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 56, 27), 'Surgical Ward', 24, 71)
Row 17055 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 56, 41), 'ICU', 25, 57)
Row 17056 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 56, 49), 'Emergency Ward', 27, 66)
Row 17057 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 57, 34), 'Maternity Ward', 23, 71)
Row 17058 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 57, 48), 'Surgical Ward', 24, 71)
Row 17059 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 57, 59), 'ICU', 25, 57)
Row 17060 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 58, 3), 'Emergency Ward', 27, 66)
Row 17061 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 58, 54), 'Maternity Ward', 23, 71)
Row 17062 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 59, 8), 'Surgical Ward', 24, 71)
Row 17063 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 59, 12), 'Emergency Ward', 27, 66)
Row 17064 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 8, 59, 18), 'ICU', 25, 57)
Row 17065 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 0, 15), 'Maternity Ward', 23, 71)
Row 17066 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 0, 29), 'Surgical Ward', 24, 71)
Row 17067 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 0, 33), 'Emergency Ward', 27, 66)
Row 17068 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 0, 38), 'ICU', 25, 57)

Row 17069 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 1, 35), 'Maternity Ward', 23, 71)
Row 17070 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 1, 49), 'Surgical Ward', 24, 71)
Row 17071 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 1, 54), 'Emergency Ward', 27, 66)
Row 17072 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 1, 57), 'ICU', 25, 57)
Row 17073 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 2, 55), 'Maternity Ward', 23, 71)
Row 17074 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 3, 10), 'Surgical Ward', 24, 71)
Row 17075 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 3, 15), 'Emergency Ward', 27, 66)
Row 17076 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 3, 16), 'ICU', 25, 57)
Row 17077 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 4, 16), 'Maternity Ward', 23, 71)
Row 17078 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 4, 23), 'Surgical Ward', 24, 71)
Row 17079 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 4, 35), 'ICU', 28, 59)
Row 17080 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 4, 36), 'Emergency Ward', 27, 66)
Row 17081 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 5, 29), 'Maternity Ward', 23, 71)
Row 17082 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 5, 32), 'Surgical Ward', 24, 71)
Row 17083 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 5, 54), 'ICU', 25, 57)
Row 17084 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 5, 57), 'Emergency Ward', 27, 66)
Row 17085 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 6, 38), 'Maternity Ward', 23, 71)
Row 17086 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 6, 52), 'Surgical Ward', 24, 71)
Row 17087 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 7, 13), 'ICU', 25, 57)
Row 17088 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 7, 18), 'Emergency Ward', 27, 66)
Row 17089 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 7, 58), 'Maternity Ward', 23, 71)
Row 17090 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 8, 13), 'Surgical Ward', 24, 71)
Row 17091 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 8, 25), 'ICU', 25, 57)
Row 17092 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 8, 39), 'Emergency Ward', 27, 66)
Row 17093 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 9, 19), 'Maternity Ward', 23, 71)
Row 17094 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 9, 33), 'ICU', 25, 58)
Row 17095 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 9, 33), 'Surgical Ward', 24, 71)
Row 17096 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 10), 'Emergency Ward', 27, 66)
Row 17097 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 10, 39), 'Maternity Ward', 23, 71)
Row 17098 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 10, 52), 'ICU', 25, 58)
Row 17099 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 10, 54), 'Surgical Ward', 24, 71)
Row 17100 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 11, 20), 'Emergency Ward', 27, 66)
Row 17101 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 12), 'Maternity Ward', 23, 71)
Row 17102 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 12, 11), 'ICU', 25, 58)
Row 17103 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 12, 14), 'Surgical Ward', 24, 71)
Row 17104 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 12, 34), 'Emergency Ward', 27, 66)
Row 17105 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 13, 20), 'Maternity Ward', 23, 71)
Row 17106 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 13, 30), 'ICU', 28, 59)
Row 17107 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 13, 35), 'Surgical Ward', 24, 71)
Row 17108 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 13, 44), 'Emergency Ward', 27, 66)
Row 17109 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 14, 40), 'Maternity Ward', 23, 71)
Row 17110 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 14, 50), 'ICU', 25, 58)
Row 17111 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 14, 55), 'Surgical Ward', 24, 71)
Row 17112 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 15, 5), 'Emergency Ward', 27, 66)
Row 17113 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 16, 1), 'Maternity Ward', 23, 71)
Row 17114 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 16, 9), 'ICU', 25, 58)
Row 17115 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 16, 16), 'Surgical Ward', 24, 72)
Row 17116 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 16, 26), 'Emergency Ward', 27, 66)
Row 17117 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 17, 28), 'ICU', 25, 58)
Row 17118 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 17, 36), 'Surgical Ward', 24, 72)

Row 17119 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 17, 47), 'Emergency Ward', 27, 66)
Row 17120 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 18, 42), 'Maternity Ward', 24, 71)
Row 17121 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 18, 47), 'ICU', 25, 58)
Row 17122 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 18, 50), 'Surgical Ward', 24, 72)
Row 17123 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 19, 8), 'Emergency Ward', 27, 66)
Row 17124 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 19, 55), 'Maternity Ward', 23, 71)
Row 17125 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 19, 59), 'Surgical Ward', 24, 72)
Row 17126 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 20, 6), 'ICU', 25, 58)
Row 17127 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 20, 29), 'Emergency Ward', 27, 66)
Row 17128 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 21, 4), 'Maternity Ward', 23, 71)
Row 17129 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 21, 19), 'Surgical Ward', 24, 72)
Row 17130 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 21, 25), 'ICU', 25, 58)
Row 17131 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 21, 49), 'Emergency Ward', 27, 66)
Row 17132 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 22, 37), 'ICU', 25, 57)
Row 17133 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 22, 40), 'Surgical Ward', 24, 71)
Row 17134 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 23, 10), 'Emergency Ward', 27, 65)
Row 17135 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 23, 45), 'Maternity Ward', 23, 71)
Row 17136 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 23, 45), 'ICU', 25, 57)
Row 17137 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 24), 'Surgical Ward', 24, 70)
Row 17138 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 24, 31), 'Emergency Ward', 27, 64)
Row 17139 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 25, 4), 'ICU', 25, 56)
Row 17140 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 25, 5), 'Maternity Ward', 23, 71)
Row 17141 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 25, 21), 'Surgical Ward', 24, 69)
Row 17142 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 25, 52), 'Emergency Ward', 27, 63)
Row 17143 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 26, 23), 'ICU', 28, 57)
Row 17144 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 26, 26), 'Maternity Ward', 24, 71)
Row 17145 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 26, 41), 'Surgical Ward', 24, 69)
Row 17146 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 27, 6), 'Emergency Ward', 27, 63)
Row 17147 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 27, 42), 'ICU', 24, 55)
Row 17148 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 27, 46), 'Maternity Ward', 23, 71)
Row 17149 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 28, 2), 'Surgical Ward', 24, 68)
Row 17150 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 28, 16), 'Emergency Ward', 26, 63)
Row 17151 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 29, 1), 'ICU', 24, 54)
Row 17152 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 29, 6), 'Maternity Ward', 23, 71)
Row 17153 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 29, 22), 'Surgical Ward', 24, 67)
Row 17154 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 29, 37), 'Emergency Ward', 26, 63)
Row 17155 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 30, 21), 'ICU', 24, 52)
Row 17156 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 30, 27), 'Maternity Ward', 23, 71)
Row 17157 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 30, 42), 'Surgical Ward', 24, 66)
Row 17158 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 30, 57), 'Emergency Ward', 26, 63)
Row 17159 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 31, 40), 'ICU', 24, 51)
Row 17160 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 31, 47), 'Maternity Ward', 23, 71)
Row 17161 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 32, 3), 'Surgical Ward', 24, 66)
Row 17162 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 32, 18), 'Emergency Ward', 26, 62)
Row 17163 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 32, 59), 'ICU', 24, 49)
Row 17164 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 33, 8), 'Maternity Ward', 23, 71)
Row 17165 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 33, 16), 'Surgical Ward', 24, 65)
Row 17166 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 33, 39), 'Emergency Ward', 26, 62)
Row 17167 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 34, 18), 'ICU', 24, 49)

Row 17168 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 34, 21), 'Maternity Ward', 23, 71)
Row 17169 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 34, 25), 'Surgical Ward', 23, 65)
Row 17170 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 35, 1), 'Emergency Ward', 26, 61)
Row 17171 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 35, 30), 'Maternity Ward', 24, 71)
Row 17172 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 35, 37), 'ICU', 24, 49)
Row 17173 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 35, 47), 'Surgical Ward', 23, 64)
Row 17174 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 36, 21), 'Emergency Ward', 26, 61)
Row 17175 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 36, 49), 'ICU', 24, 48)
Row 17176 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 36, 52), 'Maternity Ward', 23, 71)
Row 17177 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 37, 6), 'Surgical Ward', 23, 64)
Row 17178 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 37, 42), 'Emergency Ward', 26, 61)
Row 17179 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 37, 57), 'ICU', 24, 48)
Row 17180 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 38, 11), 'Maternity Ward', 23, 70)
Row 17181 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 38, 27), 'Surgical Ward', 23, 64)
Row 17182 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 39, 3), 'Emergency Ward', 26, 61)
Row 17183 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 39, 16), 'ICU', 24, 47)
Row 17184 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 39, 31), 'Maternity Ward', 23, 70)
Row 17185 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 39, 47), 'Surgical Ward', 23, 64)
Row 17186 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 40, 24), 'Emergency Ward', 26, 61)
Row 17187 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 40, 52), 'Maternity Ward', 23, 70)
Row 17188 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 41, 8), 'Surgical Ward', 23, 63)
Row 17189 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 41, 38), 'Emergency Ward', 26, 60)
Row 17190 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 41, 54), 'ICU', 24, 47)
Row 17191 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 42, 12), 'Maternity Ward', 23, 70)
Row 17192 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 42, 28), 'Surgical Ward', 23, 63)
Row 17193 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 42, 47), 'Emergency Ward', 26, 60)
Row 17194 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 43, 13), 'ICU', 24, 46)
Row 17195 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 43, 32), 'Maternity Ward', 23, 70)
Row 17196 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 43, 49), 'Surgical Ward', 23, 63)
Row 17197 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 44, 8), 'Emergency Ward', 26, 60)
Row 17198 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 44, 33), 'ICU', 24, 46)
Row 17199 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 44, 53), 'Maternity Ward', 23, 70)
Row 17200 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 45, 9), 'Surgical Ward', 23, 62)
Row 17201 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 45, 29), 'Emergency Ward', 26, 60)
Row 17202 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 45, 52), 'ICU', 24, 45)
Row 17203 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 46, 13), 'Maternity Ward', 23, 70)
Row 17204 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 46, 30), 'Surgical Ward', 23, 62)
Row 17205 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 46, 50), 'Emergency Ward', 26, 60)
Row 17206 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 47, 11), 'ICU', 24, 45)
Row 17207 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 47, 34), 'Maternity Ward', 23, 70)
Row 17208 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 47, 43), 'Surgical Ward', 23, 62)
Row 17209 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 48, 11), 'Emergency Ward', 26, 60)
Row 17210 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 48, 30), 'ICU', 24, 45)
Row 17211 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 48, 47), 'Maternity Ward', 23, 70)
Row 17212 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 48, 52), 'Surgical Ward', 23, 62)
Row 17213 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 49, 32), 'Emergency Ward', 26, 60)
Row 17214 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 49, 49), 'ICU', 24, 45)
Row 17215 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 49, 56), 'Maternity Ward', 23, 70)

Row 17216 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 50, 13), 'Surgical Ward', 23, 62)
Row 17217 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 50, 53), 'Emergency Ward', 26, 59)
Row 17218 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 51, 1), 'ICU', 24, 44)
Row 17219 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 51, 17), 'Maternity Ward', 24, 70)
Row 17220 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 51, 33), 'Surgical Ward', 23, 62)
Row 17221 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 52, 8), 'ICU', 24, 44)
Row 17222 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 52, 14), 'Emergency Ward', 26, 59)
Row 17223 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 52, 53), 'Surgical Ward', 23, 61)
Row 17224 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 53, 28), 'ICU', 24, 44)
Row 17225 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 53, 35), 'Emergency Ward', 26, 59)
Row 17226 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 53, 57), 'Maternity Ward', 24, 70)
Row 17227 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 54, 14), 'Surgical Ward', 23, 61)
Row 17228 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 54, 47), 'ICU', 24, 44)
Row 17229 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 54, 56), 'Emergency Ward', 26, 59)
Row 17230 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 55, 18), 'Maternity Ward', 23, 70)
Row 17231 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 55, 34), 'Surgical Ward', 23, 61)
Row 17232 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 56, 6), 'ICU', 24, 44)
Row 17233 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 56, 9), 'Emergency Ward', 26, 59)
Row 17234 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 56, 38), 'Maternity Ward', 23, 70)
Row 17235 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 56, 55), 'Surgical Ward', 23, 61)
Row 17236 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 57, 19), 'Emergency Ward', 26, 58)
Row 17237 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 57, 25), 'ICU', 24, 44)
Row 17238 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 57, 59), 'Maternity Ward', 24, 70)
Row 17239 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 58, 15), 'Surgical Ward', 23, 61)
Row 17240 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 58, 40), 'Emergency Ward', 26, 58)
Row 17241 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 58, 44), 'ICU', 24, 43)
Row 17242 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 59, 19), 'Maternity Ward', 23, 70)
Row 17243 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 9, 59, 35), 'Surgical Ward', 23, 61)
Row 17244 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 0, 1), 'Emergency Ward', 26, 58)
Row 17245 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 0, 3), 'ICU', 24, 43)
Row 17246 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 0, 39), 'Maternity Ward', 23, 70)
Row 17247 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 0, 56), 'Surgical Ward', 23, 61)
Row 17248 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 1, 22), 'Emergency Ward', 26, 57)
Row 17249 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 1, 24), 'ICU', 24, 43)
Row 17250 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 2), 'Maternity Ward', 23, 70)
Row 17251 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 2, 9), 'Surgical Ward', 23, 61)
Row 17252 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 2, 41), 'ICU', 24, 43)
Row 17253 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 2, 43), 'Emergency Ward', 26, 57)
Row 17254 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 3, 13), 'Maternity Ward', 23, 70)
Row 17255 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 3, 18), 'Surgical Ward', 23, 61)
Row 17256 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 4, 1), 'ICU', 27, 43)
Row 17257 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 4, 4), 'Emergency Ward', 26, 57)
Row 17258 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 4, 22), 'Maternity Ward', 23, 70)
Row 17259 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 4, 39), 'Surgical Ward', 23, 61)
Row 17260 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 5, 13), 'ICU', 27, 43)
Row 17261 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 5, 24), 'Emergency Ward', 26, 56)
Row 17262 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 5, 43), 'Maternity Ward', 23, 70)
Row 17263 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 5, 59), 'Surgical Ward', 23, 60)
Row 17264 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 6, 20), 'ICU', 27, 43)

Row 17265 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 6, 45), 'Emergency Ward', 26, 56)
Row 17266 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 7, 3), 'Maternity Ward', 23, 70)
Row 17267 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 7, 20), 'Surgical Ward', 23, 60)
Row 17268 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 7, 39), 'ICU', 24, 42)
Row 17269 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 8, 6), 'Emergency Ward', 26, 56)
Row 17270 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 8, 23), 'Maternity Ward', 23, 70)
Row 17271 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 8, 40), 'Surgical Ward', 23, 60)
Row 17272 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 8, 58), 'ICU', 24, 42)
Row 17273 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 9, 27), 'Emergency Ward', 26, 56)
Row 17274 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 9, 44), 'Maternity Ward', 23, 70)
Row 17275 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 10, 1), 'Surgical Ward', 23, 60)
Row 17276 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 10, 17), 'ICU', 24, 41)
Row 17277 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 10, 41), 'Emergency Ward', 26, 56)
Row 17278 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 11, 4), 'Maternity Ward', 23, 70)
Row 17279 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 11, 21), 'Surgical Ward', 23, 60)
Row 17280 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 11, 37), 'ICU', 24, 41)
Row 17281 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 11, 51), 'Emergency Ward', 26, 56)
Row 17282 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 12, 25), 'Maternity Ward', 23, 69)
Row 17283 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 12, 41), 'Surgical Ward', 23, 60)
Row 17284 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 12, 56), 'ICU', 24, 41)
Row 17285 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 13, 12), 'Emergency Ward', 26, 55)
Row 17286 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 13, 45), 'Maternity Ward', 24, 69)
Row 17287 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 14, 2), 'Surgical Ward', 23, 59)
Row 17288 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 14, 15), 'ICU', 24, 41)
Row 17289 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 14, 32), 'Emergency Ward', 26, 55)
Row 17290 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 15, 5), 'Maternity Ward', 23, 69)
Row 17291 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 15, 22), 'Surgical Ward', 23, 59)
Row 17292 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 15, 34), 'ICU', 24, 40)
Row 17293 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 15, 53), 'Emergency Ward', 26, 55)
Row 17294 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 16, 26), 'Maternity Ward', 24, 67)
Row 17295 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 16, 36), 'Surgical Ward', 23, 59)
Row 17296 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 16, 53), 'ICU', 24, 41)
Row 17297 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 17, 14), 'Emergency Ward', 26, 55)
Row 17298 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 17, 39), 'Maternity Ward', 23, 66)
Row 17299 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 17, 45), 'Surgical Ward', 23, 59)
Row 17300 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 18, 12), 'ICU', 24, 40)
Row 17301 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 18, 35), 'Emergency Ward', 26, 55)
Row 17302 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 18, 48), 'Maternity Ward', 23, 65)
Row 17303 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 19, 5), 'Surgical Ward', 23, 58)
Row 17304 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 19, 24), 'ICU', 24, 40)
Row 17305 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 19, 56), 'Emergency Ward', 26, 55)
Row 17306 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 20, 9), 'Maternity Ward', 23, 64)
Row 17307 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 20, 26), 'Surgical Ward', 23, 58)
Row 17308 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 20, 32), 'ICU', 27, 42)
Row 17309 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 21, 17), 'Emergency Ward', 26, 55)
Row 17310 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 21, 29), 'Maternity Ward', 23, 64)
Row 17311 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 21, 46), 'Surgical Ward', 23, 58)
Row 17312 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 21, 51), 'ICU', 24, 40)
Row 17313 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 22, 38), 'Emergency Ward', 26, 55)

Row 17314 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 23, 7), 'Surgical Ward', 23, 58)
Row 17315 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 23, 10), 'ICU', 27, 42)
Row 17316 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 23, 59), 'Emergency Ward', 26, 54)
Row 17317 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 24, 10), 'Maternity Ward', 24, 64)
Row 17318 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 24, 27), 'Surgical Ward', 22, 58)
Row 17319 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 24, 29), 'ICU', 24, 40)
Row 17320 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 25, 13), 'Emergency Ward', 26, 54)
Row 17321 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 25, 30), 'Maternity Ward', 23, 64)
Row 17322 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 25, 47), 'Surgical Ward', 23, 57)
Row 17323 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 25, 48), 'ICU', 27, 42)
Row 17324 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 26, 22), 'Emergency Ward', 26, 54)
Row 17325 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 26, 51), 'Maternity Ward', 23, 63)
Row 17326 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 27, 7), 'ICU', 27, 42)
Row 17327 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 27, 8), 'Surgical Ward', 23, 57)
Row 17328 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 27, 43), 'Emergency Ward', 26, 54)
Row 17329 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 28, 11), 'Maternity Ward', 23, 63)
Row 17330 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 28, 26), 'ICU', 24, 39)
Row 17331 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 28, 28), 'Surgical Ward', 22, 58)
Row 17332 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 29, 4), 'Emergency Ward', 25, 54)
Row 17333 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 29, 31), 'Maternity Ward', 23, 63)
Row 17334 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 29, 45), 'ICU', 24, 39)
Row 17335 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 29, 49), 'Surgical Ward', 22, 58)
Row 17336 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 30, 25), 'Emergency Ward', 26, 54)
Row 17337 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 30, 52), 'Maternity Ward', 23, 63)
Row 17338 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 31, 2), 'Surgical Ward', 23, 56)
Row 17339 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 31, 5), 'ICU', 24, 38)
Row 17340 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 31, 46), 'Emergency Ward', 26, 54)
Row 17341 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 32, 5), 'Maternity Ward', 23, 62)
Row 17342 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 32, 11), 'Surgical Ward', 23, 56)
Row 17343 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 32, 24), 'ICU', 24, 38)
Row 17344 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 33, 7), 'Emergency Ward', 26, 53)
Row 17345 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 33, 14), 'Maternity Ward', 23, 62)
Row 17346 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 33, 31), 'Surgical Ward', 22, 57)
Row 17347 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 33, 36), 'ICU', 24, 38)
Row 17348 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 34, 28), 'Emergency Ward', 26, 53)
Row 17349 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 34, 35), 'Maternity Ward', 23, 61)
Row 17350 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 34, 43), 'ICU', 24, 38)
Row 17351 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 34, 53), 'Surgical Ward', 22, 57)
Row 17352 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 35, 48), 'Emergency Ward', 26, 53)
Row 17353 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 35, 55), 'Maternity Ward', 24, 61)
Row 17354 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 36, 2), 'ICU', 24, 37)
Row 17355 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 36, 12), 'Surgical Ward', 22, 57)
Row 17356 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 37, 9), 'Emergency Ward', 26, 53)
Row 17357 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 37, 16), 'Maternity Ward', 23, 61)
Row 17358 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 37, 22), 'ICU', 24, 37)
Row 17359 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 37, 33), 'Surgical Ward', 22, 57)
Row 17360 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 38, 30), 'Emergency Ward', 25, 53)

Row 17361 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 38, 36), 'Maternity Ward', 23, 61)
Row 17362 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 38, 41), 'ICU', 24, 37)
Row 17363 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 38, 53), 'Surgical Ward', 22, 57)
Row 17364 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 39, 44), 'Emergency Ward', 25, 52)
Row 17365 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 39, 56), 'Maternity Ward', 23, 61)
Row 17366 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 40), 'ICU', 24, 37)
Row 17367 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 40, 14), 'Surgical Ward', 22, 57)
Row 17368 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 40, 53), 'Emergency Ward', 25, 52)
Row 17369 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 41, 17), 'Maternity Ward', 23, 61)
Row 17370 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 41, 19), 'ICU', 24, 37)
Row 17371 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 41, 34), 'Surgical Ward', 22, 57)
Row 17372 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 42, 14), 'Emergency Ward', 25, 52)
Row 17373 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 42, 37), 'Maternity Ward', 23, 61)
Row 17374 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 42, 38), 'ICU', 27, 41)
Row 17375 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 42, 55), 'Surgical Ward', 22, 56)
Row 17376 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 43, 35), 'Emergency Ward', 25, 52)
Row 17377 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 43, 57), 'ICU', 24, 36)
Row 17378 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 43, 57), 'Maternity Ward', 23, 60)
Row 17379 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 44, 15), 'Surgical Ward', 22, 57)
Row 17380 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 44, 56), 'Emergency Ward', 25, 51)
Row 17381 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 45, 16), 'ICU', 24, 36)
Row 17382 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 45, 18), 'Maternity Ward', 23, 61)
Row 17383 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 45, 28), 'Surgical Ward', 22, 56)
Row 17384 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 46, 17), 'Emergency Ward', 25, 51)
Row 17385 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 46, 31), 'Maternity Ward', 23, 60)
Row 17386 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 46, 35), 'ICU', 24, 36)
Row 17387 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 46, 37), 'Surgical Ward', 22, 56)
Row 17388 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 47, 38), 'Emergency Ward', 25, 51)
Row 17389 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 47, 40), 'Maternity Ward', 23, 61)
Row 17390 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 47, 47), 'ICU', 27, 41)
Row 17391 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 47, 58), 'Surgical Ward', 22, 56)
Row 17392 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 48, 55), 'ICU', 24, 35)
Row 17393 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 48, 59), 'Emergency Ward', 25, 51)
Row 17394 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 49, 1), 'Maternity Ward', 23, 61)
Row 17395 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 49, 18), 'Surgical Ward', 22, 56)
Row 17396 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 50, 14), 'ICU', 24, 36)
Row 17397 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 50, 20), 'Emergency Ward', 25, 50)
Row 17398 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 50, 21), 'Maternity Ward', 23, 59)
Row 17399 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 50, 39), 'Surgical Ward', 22, 56)
Row 17400 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 51, 33), 'ICU', 24, 35)
Row 17401 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 51, 41), 'Emergency Ward', 25, 50)
Row 17402 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 51, 41), 'Maternity Ward', 23, 58)
Row 17403 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 51, 59), 'Surgical Ward', 22, 56)
Row 17404 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 52, 52), 'ICU', 24, 35)
Row 17405 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 53, 2), 'Emergency Ward', 25, 50)
Row 17406 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 53, 3), 'Maternity Ward', 23, 57)
Row 17407 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 53, 19), 'Surgical Ward', 22, 56)
Row 17408 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 54, 11), 'ICU', 27, 40)

Row 17409 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 54, 15), 'Emergency Ward', 25, 50)
Row 17410 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 54, 22), 'Maternity Ward', 23, 57)
Row 17411 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 54, 40), 'Surgical Ward', 22, 55)
Row 17412 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 55, 25), 'Emergency Ward', 25, 50)
Row 17413 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 55, 30), 'ICU', 24, 35)
Row 17414 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 55, 43), 'Maternity Ward', 23, 56)
Row 17415 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 56), 'Surgical Ward', 22, 55)
Row 17416 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 56, 46), 'Emergency Ward', 25, 49)
Row 17417 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 56, 49), 'ICU', 27, 40)
Row 17418 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 57, 3), 'Maternity Ward', 23, 56)
Row 17419 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 57, 21), 'Surgical Ward', 22, 55)
Row 17420 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 58, 7), 'Emergency Ward', 25, 49)
Row 17421 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 58, 8), 'ICU', 23, 35)
Row 17422 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 58, 24), 'Maternity Ward', 23, 55)
Row 17423 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 58, 41), 'Surgical Ward', 22, 55)
Row 17424 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 59, 28), 'Emergency Ward', 25, 49)
Row 17425 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 59, 44), 'Maternity Ward', 23, 53)
Row 17426 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 10, 59, 55), 'Surgical Ward', 22, 54)
Row 17427 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 0, 47), 'ICU', 24, 35)
Row 17428 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 0, 48), 'Emergency Ward', 25, 49)
Row 17429 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 0, 57), 'Maternity Ward', 23, 53)
Row 17430 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 1, 4), 'Surgical Ward', 22, 54)
Row 17431 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 1, 59), 'ICU', 24, 34)
Row 17432 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 2, 6), 'Maternity Ward', 23, 51)
Row 17433 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 2, 9), 'Emergency Ward', 25, 49)
Row 17434 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 2, 24), 'Surgical Ward', 22, 54)
Row 17435 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 3, 6), 'ICU', 23, 34)
Row 17436 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 3, 27), 'Maternity Ward', 23, 51)
Row 17437 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 3, 31), 'Emergency Ward', 25, 49)
Row 17438 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 3, 45), 'Surgical Ward', 22, 54)
Row 17439 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 4, 25), 'ICU', 24, 34)
Row 17440 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 4, 47), 'Maternity Ward', 23, 51)
Row 17441 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 4, 51), 'Emergency Ward', 25, 48)
Row 17442 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 5, 5), 'Surgical Ward', 22, 53)
Row 17443 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 5, 44), 'ICU', 23, 34)
Row 17444 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 6, 7), 'Maternity Ward', 23, 49)
Row 17445 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 6, 12), 'Emergency Ward', 25, 48)
Row 17446 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 6, 25), 'Surgical Ward', 22, 53)
Row 17447 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 7, 4), 'ICU', 24, 33)
Row 17448 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 7, 28), 'Maternity Ward', 23, 49)
Row 17449 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 7, 33), 'Emergency Ward', 25, 48)
Row 17450 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 7, 46), 'Surgical Ward', 22, 53)
Row 17451 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 8, 23), 'ICU', 23, 34)
Row 17452 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 8, 47), 'Emergency Ward', 25, 48)
Row 17453 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 8, 48), 'Maternity Ward', 23, 49)
Row 17454 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 9, 6), 'Surgical Ward', 22, 53)
Row 17455 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 9, 42), 'ICU', 23, 34)
Row 17456 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 9, 56), 'Emergency Ward', 25, 48)
Row 17457 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 10, 9), 'Maternity Ward', 23, 49)

Row 17458 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 10, 27), 'Surgical Ward', 22, 53)
Row 17459 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 11, 1), 'ICU', 23, 33)
Row 17460 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 11, 17), 'Emergency Ward', 25, 48)
Row 17461 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 11, 29), 'Maternity Ward', 23, 48)
Row 17462 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 11, 47), 'Surgical Ward', 22, 53)
Row 17463 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 12, 20), 'ICU', 23, 33)
Row 17464 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 12, 38), 'Emergency Ward', 25, 48)
Row 17465 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 12, 49), 'Maternity Ward', 23, 48)
Row 17466 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 13, 7), 'Surgical Ward', 22, 52)
Row 17467 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 13, 39), 'ICU', 23, 33)
Row 17468 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 13, 59), 'Emergency Ward', 25, 48)
Row 17469 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 14, 10), 'Maternity Ward', 23, 48)
Row 17470 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 14, 21), 'Surgical Ward', 22, 52)
Row 17471 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 14, 58), 'ICU', 23, 33)
Row 17472 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 15, 20), 'Emergency Ward', 25, 48)
Row 17473 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 15, 23), 'Maternity Ward', 23, 48)
Row 17474 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 15, 30), 'Surgical Ward', 22, 52)
Row 17475 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 16, 10), 'ICU', 23, 33)
Row 17476 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 16, 33), 'Maternity Ward', 23, 48)
Row 17477 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 16, 41), 'Emergency Ward', 25, 48)
Row 17478 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 16, 50), 'Surgical Ward', 22, 52)
Row 17479 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 17, 18), 'ICU', 23, 33)
Row 17480 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 17, 52), 'Maternity Ward', 23, 48)
Row 17481 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 18, 2), 'Emergency Ward', 25, 48)
Row 17482 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 18, 11), 'Surgical Ward', 22, 52)
Row 17483 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 18, 37), 'ICU', 23, 33)
Row 17484 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 19, 13), 'Maternity Ward', 23, 47)
Row 17485 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 19, 23), 'Emergency Ward', 25, 48)
Row 17486 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 19, 31), 'Surgical Ward', 22, 51)
Row 17487 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 19, 56), 'ICU', 23, 33)
Row 17488 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 20, 33), 'Maternity Ward', 23, 47)
Row 17489 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 20, 43), 'Emergency Ward', 25, 48)
Row 17490 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 20, 52), 'Surgical Ward', 22, 51)
Row 17491 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 21, 15), 'ICU', 23, 33)
Row 17492 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 21, 54), 'Maternity Ward', 23, 48)
Row 17493 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 22, 4), 'Emergency Ward', 25, 48)
Row 17494 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 22, 12), 'Surgical Ward', 22, 51)
Row 17495 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 23, 14), 'Maternity Ward', 23, 47)
Row 17496 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 23, 18), 'Emergency Ward', 25, 48)
Row 17497 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 23, 32), 'Surgical Ward', 22, 50)
Row 17498 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 23, 53), 'ICU', 23, 32)
Row 17499 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 24, 27), 'Emergency Ward', 25, 47)
Row 17500 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 24, 34), 'Maternity Ward', 22, 49)
Row 17501 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 24, 53), 'Surgical Ward', 22, 50)
Row 17502 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 25, 12), 'ICU', 23, 32)
Row 17503 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 25, 48), 'Emergency Ward', 25, 47)
Row 17504 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 25, 55), 'Maternity Ward', 23, 47)

Row 17505 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 26, 13), 'Surgical Ward', 22, 50)
Row 17506 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 26, 31), 'ICU', 23, 32)
Row 17507 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 27, 9), 'Emergency Ward', 25, 47)
Row 17508 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 27, 15), 'Maternity Ward', 22, 47)
Row 17509 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 27, 34), 'Surgical Ward', 22, 50)
Row 17510 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 27, 50), 'ICU', 23, 31)
Row 17511 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 28, 30), 'Emergency Ward', 24, 48)
Row 17512 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 28, 36), 'Maternity Ward', 22, 47)
Row 17513 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 28, 47), 'Surgical Ward', 22, 50)
Row 17514 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 29, 9), 'ICU', 23, 31)
Row 17515 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 29, 49), 'Maternity Ward', 23, 47)
Row 17516 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 29, 51), 'Emergency Ward', 24, 48)
Row 17517 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 29, 56), 'Surgical Ward', 21, 50)
Row 17518 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 30, 22), 'ICU', 23, 31)
Row 17519 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 30, 58), 'Maternity Ward', 23, 47)
Row 17520 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 31, 12), 'Emergency Ward', 24, 48)
Row 17521 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 31, 17), 'Surgical Ward', 21, 50)
Row 17522 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 31, 29), 'ICU', 23, 31)
Row 17523 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 32, 18), 'Maternity Ward', 23, 46)
Row 17524 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 32, 33), 'Emergency Ward', 25, 47)
Row 17525 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 32, 37), 'Surgical Ward', 21, 50)
Row 17526 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 32, 48), 'ICU', 23, 31)
Row 17527 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 33, 39), 'Maternity Ward', 22, 47)
Row 17528 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 33, 54), 'Emergency Ward', 25, 47)
Row 17529 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 33, 57), 'Surgical Ward', 22, 50)
Row 17530 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 34, 7), 'ICU', 26, 40)
Row 17531 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 34, 59), 'Maternity Ward', 23, 46)
Row 17532 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 35, 15), 'Emergency Ward', 25, 47)
Row 17533 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 35, 18), 'Surgical Ward', 22, 50)
Row 17534 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 35, 26), 'ICU', 23, 31)
Row 17535 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 36, 19), 'Maternity Ward', 22, 48)
Row 17536 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 36, 36), 'Emergency Ward', 25, 47)
Row 17537 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 36, 38), 'Surgical Ward', 22, 50)
Row 17538 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 36, 45), 'ICU', 23, 31)
Row 17539 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 37, 40), 'Maternity Ward', 22, 47)
Row 17540 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 37, 50), 'Emergency Ward', 25, 47)
Row 17541 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 37, 59), 'Surgical Ward', 22, 50)
Row 17542 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 38, 4), 'ICU', 23, 31)
Row 17543 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 38, 59), 'Emergency Ward', 25, 47)
Row 17544 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 39, 1), 'Maternity Ward', 22, 47)
Row 17545 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 39, 19), 'Surgical Ward', 21, 50)
Row 17546 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 39, 24), 'ICU', 23, 32)
Row 17547 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 40, 20), 'Emergency Ward', 25, 48)
Row 17548 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 40, 22), 'Maternity Ward', 22, 48)
Row 17549 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 40, 39), 'Surgical Ward', 22, 50)
Row 17550 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 40, 43), 'ICU', 23, 31)
Row 17551 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 41, 41), 'Emergency Ward', 25, 48)
Row 17552 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 41, 41), 'Maternity Ward', 22, 47)
Row 17553 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 42), 'Surgical Ward', 22, 51)

Row 17554 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 42, 2), 'ICU', 23, 32)
Row 17555 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 43, 1), 'Maternity Ward', 22, 48)
Row 17556 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 43, 2), 'Emergency Ward', 25, 48)
Row 17557 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 43, 13), 'Surgical Ward', 21, 51)
Row 17558 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 43, 21), 'ICU', 23, 32)
Row 17559 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 44, 15), 'Maternity Ward', 22, 48)
Row 17560 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 44, 22), 'Surgical Ward', 22, 51)
Row 17561 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 44, 23), 'Emergency Ward', 25, 48)
Row 17562 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 44, 33), 'ICU', 26, 40)
Row 17563 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 45, 24), 'Maternity Ward', 22, 48)
Row 17564 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 45, 40), 'ICU', 23, 32)
Row 17565 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 45, 42), 'Surgical Ward', 21, 51)
Row 17566 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 45, 43), 'Emergency Ward', 24, 49)
Row 17567 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 46, 44), 'Maternity Ward', 22, 48)
Row 17568 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 46, 59), 'ICU', 26, 40)
Row 17569 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 47, 3), 'Surgical Ward', 22, 52)
Row 17570 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 47, 4), 'Emergency Ward', 25, 48)
Row 17571 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 48, 5), 'Maternity Ward', 22, 48)
Row 17572 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 48, 18), 'ICU', 23, 33)
Row 17573 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 48, 23), 'Surgical Ward', 22, 52)
Row 17574 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 48, 25), 'Emergency Ward', 25, 48)
Row 17575 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 49, 38), 'ICU', 23, 33)
Row 17576 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 49, 44), 'Surgical Ward', 22, 52)
Row 17577 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 49, 46), 'Emergency Ward', 25, 49)
Row 17578 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 50, 45), 'Maternity Ward', 22, 48)
Row 17579 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 50, 57), 'ICU', 23, 33)
Row 17580 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 51, 4), 'Surgical Ward', 22, 53)
Row 17581 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 51, 7), 'Emergency Ward', 25, 49)
Row 17582 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 52, 6), 'Maternity Ward', 22, 49)
Row 17583 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 52, 16), 'ICU', 23, 33)
Row 17584 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 52, 21), 'Emergency Ward', 25, 49)
Row 17585 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 52, 25), 'Surgical Ward', 22, 54)
Row 17586 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 53, 26), 'Maternity Ward', 22, 49)
Row 17587 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 53, 30), 'Emergency Ward', 25, 49)
Row 17588 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 53, 35), 'ICU', 23, 33)
Row 17589 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 53, 45), 'Surgical Ward', 22, 55)
Row 17590 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 54, 46), 'Maternity Ward', 22, 49)
Row 17591 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 54, 51), 'Emergency Ward', 25, 50)
Row 17592 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 54, 54), 'ICU', 23, 34)
Row 17593 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 55, 5), 'Surgical Ward', 22, 55)
Row 17594 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 56, 7), 'Maternity Ward', 22, 49)
Row 17595 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 56, 12), 'Emergency Ward', 25, 51)
Row 17596 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 56, 13), 'ICU', 23, 34)
Row 17597 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 56, 26), 'Surgical Ward', 22, 55)
Row 17598 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 57, 27), 'Maternity Ward', 22, 49)
Row 17599 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 57, 32), 'ICU', 23, 34)
Row 17600 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 57, 33), 'Emergency Ward', 25, 51)
Row 17601 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 57, 40), 'Surgical Ward', 22, 56)

Row 17602 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 58, 40), 'Maternity Ward', 22, 49)
Row 17603 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 58, 45), 'ICU', 23, 34)
Row 17604 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 58, 49), 'Surgical Ward', 22, 56)
Row 17605 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 58, 54), 'Emergency Ward', 25, 52)
Row 17606 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 59, 49), 'Maternity Ward', 22, 50)
Row 17607 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 11, 59, 52), 'ICU', 23, 34)
Row 17608 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 0, 15), 'Emergency Ward', 25, 52)
Row 17609 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 1, 10), 'Maternity Ward', 22, 50)
Row 17610 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 1, 11), 'ICU', 23, 35)
Row 17611 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 1, 29), 'Surgical Ward', 22, 57)
Row 17612 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 1, 35), 'Emergency Ward', 25, 53)
Row 17613 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 2, 30), 'ICU', 23, 35)
Row 17614 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 2, 30), 'Maternity Ward', 22, 50)
Row 17615 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 2, 49), 'Surgical Ward', 22, 57)
Row 17616 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 2, 56), 'Emergency Ward', 25, 53)
Row 17617 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 3, 49), 'ICU', 23, 35)
Row 17618 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 3, 51), 'Maternity Ward', 22, 51)
Row 17619 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 4, 10), 'Surgical Ward', 22, 57)
Row 17620 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 4, 18), 'Emergency Ward', 25, 54)
Row 17621 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 5, 8), 'ICU', 23, 36)
Row 17622 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 5, 11), 'Maternity Ward', 22, 51)
Row 17623 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 5, 31), 'Surgical Ward', 22, 57)
Row 17624 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 5, 38), 'Emergency Ward', 25, 54)
Row 17625 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 6, 27), 'ICU', 23, 36)
Row 17626 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 6, 32), 'Maternity Ward', 23, 50)
Row 17627 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 6, 51), 'Surgical Ward', 22, 58)
Row 17628 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 6, 52), 'Emergency Ward', 25, 54)
Row 17629 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 7, 46), 'ICU', 23, 37)
Row 17630 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 7, 52), 'Maternity Ward', 22, 50)
Row 17631 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 8, 3), 'Emergency Ward', 25, 54)
Row 17632 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 8, 11), 'Surgical Ward', 22, 58)
Row 17633 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 9, 5), 'ICU', 23, 37)
Row 17634 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 9, 12), 'Maternity Ward', 22, 51)
Row 17635 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 9, 23), 'Emergency Ward', 25, 55)
Row 17636 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 9, 32), 'Surgical Ward', 22, 58)
Row 17637 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 10, 24), 'ICU', 23, 37)
Row 17638 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 10, 33), 'Maternity Ward', 22, 51)
Row 17639 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 10, 44), 'Emergency Ward', 25, 55)
Row 17640 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 10, 52), 'Surgical Ward', 22, 59)
Row 17641 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 11, 44), 'ICU', 26, 42)
Row 17642 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 11, 53), 'Maternity Ward', 22, 51)
Row 17643 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 12, 5), 'Emergency Ward', 25, 55)
Row 17644 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 12, 6), 'Surgical Ward', 22, 59)
Row 17645 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 12, 56), 'ICU', 23, 38)
Row 17646 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 13, 6), 'Maternity Ward', 22, 52)
Row 17647 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 13, 14), 'Surgical Ward', 22, 59)
Row 17648 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 13, 25), 'Emergency Ward', 25, 55)
Row 17649 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 14, 4), 'ICU', 23, 38)
Row 17650 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 14, 15), 'Maternity Ward', 22, 54)

Row 17651 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 14, 35), 'Surgical Ward', 22, 60)
Row 17652 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 14, 46), 'Emergency Ward', 25, 55)
Row 17653 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 15, 23), 'ICU', 23, 39)
Row 17654 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 15, 36), 'Maternity Ward', 22, 53)
Row 17655 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 15, 55), 'Surgical Ward', 22, 60)
Row 17656 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 16, 7), 'Emergency Ward', 25, 55)
Row 17657 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 16, 42), 'ICU', 23, 39)
Row 17658 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 16, 57), 'Maternity Ward', 22, 53)
Row 17659 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 17, 16), 'Surgical Ward', 22, 60)
Row 17660 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 17, 28), 'Emergency Ward', 25, 55)
Row 17661 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 18, 2), 'ICU', 26, 43)
Row 17662 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 18, 17), 'Maternity Ward', 22, 55)
Row 17663 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 18, 36), 'Surgical Ward', 22, 60)
Row 17664 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 18, 49), 'Emergency Ward', 25, 55)
Row 17665 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 19, 20), 'ICU', 23, 40)
Row 17666 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 19, 37), 'Maternity Ward', 22, 55)
Row 17667 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 19, 57), 'Surgical Ward', 22, 61)
Row 17668 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 20, 10), 'Emergency Ward', 25, 56)
Row 17669 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 20, 39), 'ICU', 23, 40)
Row 17670 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 20, 57), 'Maternity Ward', 22, 55)
Row 17671 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 21, 17), 'Surgical Ward', 22, 61)
Row 17672 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 21, 23), 'Emergency Ward', 25, 56)
Row 17673 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 21, 58), 'ICU', 23, 40)
Row 17674 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 22, 18), 'Maternity Ward', 22, 55)
Row 17675 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 22, 33), 'Emergency Ward', 25, 56)
Row 17676 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 22, 37), 'Surgical Ward', 22, 61)
Row 17677 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 23, 17), 'ICU', 23, 40)
Row 17678 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 23, 38), 'Maternity Ward', 22, 56)
Row 17679 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 23, 54), 'Emergency Ward', 25, 56)
Row 17680 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 23, 58), 'Surgical Ward', 22, 61)
Row 17681 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 24, 36), 'ICU', 23, 40)
Row 17682 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 24, 59), 'Maternity Ward', 22, 57)
Row 17683 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 25, 15), 'Emergency Ward', 25, 56)
Row 17684 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 25, 18), 'Surgical Ward', 22, 62)
Row 17685 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 25, 55), 'ICU', 23, 40)
Row 17686 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 26, 19), 'Maternity Ward', 22, 56)
Row 17687 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 26, 32), 'Surgical Ward', 22, 62)
Row 17688 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 26, 36), 'Emergency Ward', 25, 56)
Row 17689 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 27, 7), 'ICU', 23, 40)
Row 17690 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 27, 33), 'Maternity Ward', 22, 57)
Row 17691 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 27, 41), 'Surgical Ward', 22, 62)
Row 17692 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 27, 57), 'Emergency Ward', 25, 57)
Row 17693 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 28, 15), 'ICU', 26, 43)
Row 17694 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 28, 41), 'Maternity Ward', 22, 57)
Row 17695 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 29, 2), 'Surgical Ward', 22, 62)
Row 17696 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 29, 18), 'Emergency Ward', 25, 56)
Row 17697 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 29, 34), 'ICU', 23, 41)

Row 17698 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 30, 2), 'Maternity Ward', 22, 57)
Row 17699 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 30, 21), 'Surgical Ward', 22, 62)
Row 17700 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 30, 38), 'Emergency Ward', 25, 57)
Row 17701 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 30, 53), 'ICU', 23, 41)
Row 17702 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 31, 22), 'Maternity Ward', 22, 57)
Row 17703 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 31, 44), 'Surgical Ward', 22, 62)
Row 17704 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 31, 59), 'Emergency Ward', 25, 57)
Row 17705 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 32, 12), 'ICU', 26, 43)
Row 17706 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 32, 42), 'Maternity Ward', 22, 59)
Row 17707 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 33, 2), 'Surgical Ward', 22, 62)
Row 17708 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 33, 20), 'Emergency Ward', 25, 57)
Row 17709 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 33, 31), 'ICU', 23, 41)
Row 17710 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 34, 3), 'Maternity Ward', 22, 57)
Row 17711 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 34, 23), 'Surgical Ward', 22, 62)
Row 17712 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 34, 42), 'Emergency Ward', 25, 57)
Row 17713 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 34, 50), 'ICU', 26, 43)
Row 17714 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 35, 23), 'Maternity Ward', 22, 58)
Row 17715 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 35, 43), 'Surgical Ward', 22, 62)
Row 17716 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 35, 55), 'Emergency Ward', 25, 57)
Row 17717 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 36, 10), 'ICU', 23, 41)
Row 17718 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 36, 43), 'Maternity Ward', 22, 58)
Row 17719 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 37, 5), 'Surgical Ward', 22, 62)
Row 17720 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 37, 5), 'Emergency Ward', 25, 57)
Row 17721 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 37, 29), 'ICU', 23, 42)
Row 17722 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 38, 4), 'Maternity Ward', 22, 58)
Row 17723 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 38, 24), 'Surgical Ward', 22, 62)
Row 17724 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 38, 25), 'Emergency Ward', 25, 58)
Row 17725 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 38, 48), 'ICU', 23, 42)
Row 17726 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 39, 24), 'Maternity Ward', 22, 58)
Row 17727 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 39, 45), 'Surgical Ward', 22, 62)
Row 17728 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 39, 47), 'Emergency Ward', 25, 58)
Row 17729 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 40, 7), 'ICU', 23, 42)
Row 17730 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 40, 45), 'Maternity Ward', 22, 58)
Row 17731 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 40, 59), 'Surgical Ward', 22, 62)
Row 17732 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 41, 8), 'Emergency Ward', 25, 58)
Row 17733 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 41, 19), 'ICU', 23, 42)
Row 17734 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 41, 58), 'Maternity Ward', 22, 60)
Row 17735 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 42, 7), 'Surgical Ward', 22, 62)
Row 17736 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 42, 27), 'ICU', 26, 44)
Row 17737 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 42, 28), 'Emergency Ward', 25, 58)
Row 17738 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 43, 7), 'Maternity Ward', 22, 60)
Row 17739 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 43, 27), 'Surgical Ward', 22, 62)
Row 17740 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 43, 45), 'ICU', 23, 42)
Row 17741 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 43, 49), 'Emergency Ward', 25, 58)
Row 17742 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 44, 27), 'Maternity Ward', 22, 58)
Row 17743 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 44, 48), 'Surgical Ward', 22, 62)
Row 17744 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 45, 5), 'ICU', 23, 42)

Row 17745 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 45, 10), 'Emergency Ward', 25, 58)
Row 17746 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 45, 48), 'Maternity Ward', 22, 59)
Row 17747 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 46, 8), 'Surgical Ward', 22, 62)
Row 17748 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 46, 24), 'ICU', 26, 44)
Row 17749 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 46, 31), 'Emergency Ward', 25, 58)
Row 17750 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 47, 8), 'Maternity Ward', 22, 59)
Row 17751 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 47, 28), 'Surgical Ward', 22, 62)
Row 17752 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 47, 43), 'ICU', 23, 42)
Row 17753 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 47, 52), 'Emergency Ward', 25, 59)
Row 17754 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 48, 29), 'Maternity Ward', 22, 59)
Row 17755 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 48, 49), 'Surgical Ward', 22, 62)
Row 17756 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 49, 2), 'ICU', 26, 44)
Row 17757 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 49, 13), 'Emergency Ward', 25, 58)
Row 17758 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 49, 49), 'Maternity Ward', 22, 59)
Row 17759 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 50, 9), 'Surgical Ward', 22, 62)
Row 17760 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 50, 21), 'ICU', 23, 42)
Row 17761 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 50, 26), 'Emergency Ward', 25, 58)
Row 17762 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 51, 9), 'Maternity Ward', 22, 60)
Row 17763 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 51, 30), 'Surgical Ward', 22, 62)
Row 17764 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 51, 36), 'Emergency Ward', 25, 59)
Row 17765 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 51, 40), 'ICU', 26, 44)
Row 17766 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 52, 30), 'Maternity Ward', 22, 59)
Row 17767 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 52, 50), 'Surgical Ward', 22, 62)
Row 17768 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 52, 57), 'Emergency Ward', 25, 59)
Row 17769 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 52, 59), 'ICU', 23, 42)
Row 17770 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 53, 50), 'Maternity Ward', 22, 60)
Row 17771 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 54, 11), 'Surgical Ward', 22, 62)
Row 17772 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 54, 18), 'Emergency Ward', 25, 59)
Row 17773 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 54, 18), 'ICU', 23, 43)
Row 17774 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 55, 24), 'Surgical Ward', 22, 62)
Row 17775 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 55, 30), 'ICU', 23, 43)
Row 17776 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 55, 39), 'Emergency Ward', 25, 59)
Row 17777 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 56, 24), 'Maternity Ward', 22, 61)
Row 17778 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 56, 33), 'Surgical Ward', 22, 63)
Row 17779 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 56, 38), 'ICU', 23, 43)
Row 17780 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 57, 1), 'Emergency Ward', 25, 59)
Row 17781 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 57, 33), 'Maternity Ward', 22, 60)
Row 17782 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 57, 54), 'Surgical Ward', 22, 62)
Row 17783 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 57, 57), 'ICU', 23, 43)
Row 17784 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 58, 21), 'Emergency Ward', 25, 59)
Row 17785 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 58, 53), 'Maternity Ward', 22, 61)
Row 17786 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 59, 14), 'Surgical Ward', 22, 63)
Row 17787 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 59, 16), 'ICU', 23, 43)
Row 17788 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 12, 59, 41), 'Emergency Ward', 25, 59)
Row 17789 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 0, 13), 'Maternity Ward', 22, 61)
Row 17790 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 0, 34), 'Surgical Ward', 22, 63)
Row 17791 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 0, 35), 'ICU', 23, 43)
Row 17792 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 1, 2), 'Emergency Ward', 25, 59)

Row 17793 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 1, 34), 'Maternity Ward', 22, 61)
Row 17794 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 1, 54), 'ICU', 23, 43)
Row 17795 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 1, 55), 'Surgical Ward', 22, 63)
Row 17796 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 2, 23), 'Emergency Ward', 25, 59)
Row 17797 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 2, 54), 'Maternity Ward', 22, 62)
Row 17798 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 3, 13), 'ICU', 26, 45)
Row 17799 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 3, 15), 'Surgical Ward', 22, 63)
Row 17800 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 3, 44), 'Emergency Ward', 25, 59)
Row 17801 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 4, 15), 'Maternity Ward', 23, 60)
Row 17802 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 4, 32), 'ICU', 23, 43)
Row 17803 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 4, 36), 'Surgical Ward', 22, 63)
Row 17804 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 4, 58), 'Emergency Ward', 25, 59)
Row 17805 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 5, 35), 'Maternity Ward', 23, 60)
Row 17806 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 5, 51), 'ICU', 23, 43)
Row 17807 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 5, 56), 'Surgical Ward', 22, 63)
Row 17808 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 6, 7), 'Emergency Ward', 25, 59)
Row 17809 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 6, 55), 'Maternity Ward', 22, 61)
Row 17810 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 7, 10), 'ICU', 23, 43)
Row 17811 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 7, 17), 'Surgical Ward', 22, 63)
Row 17812 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 7, 28), 'Emergency Ward', 25, 59)
Row 17813 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 8, 16), 'Maternity Ward', 22, 61)
Row 17814 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 8, 30), 'ICU', 23, 43)
Row 17815 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 8, 37), 'Surgical Ward', 22, 63)
Row 17816 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 8, 49), 'Emergency Ward', 25, 59)
Row 17817 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 9, 36), 'Maternity Ward', 22, 61)
Row 17818 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 9, 42), 'ICU', 23, 43)
Row 17819 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 9, 51), 'Surgical Ward', 22, 63)
Row 17820 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 10, 10), 'Emergency Ward', 25, 59)
Row 17821 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 10, 49), 'ICU', 23, 43)
Row 17822 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 10, 50), 'Maternity Ward', 22, 61)
Row 17823 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 10, 59), 'Surgical Ward', 22, 62)
Row 17824 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 11, 31), 'Emergency Ward', 25, 59)
Row 17825 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 11, 59), 'Maternity Ward', 22, 60)
Row 17826 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 12, 8), 'ICU', 23, 43)
Row 17827 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 12, 20), 'Surgical Ward', 22, 62)
Row 17828 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 12, 52), 'Emergency Ward', 25, 59)
Row 17829 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 13, 19), 'Maternity Ward', 22, 60)
Row 17830 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 13, 27), 'ICU', 23, 43)
Row 17831 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 13, 40), 'Surgical Ward', 22, 62)
Row 17832 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 14, 13), 'Emergency Ward', 25, 58)
Row 17833 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 14, 39), 'Maternity Ward', 22, 59)
Row 17834 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 14, 47), 'ICU', 23, 43)
Row 17835 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 15, 1), 'Surgical Ward', 22, 62)
Row 17836 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 15, 34), 'Emergency Ward', 25, 58)
Row 17837 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 16), 'Maternity Ward', 22, 59)
Row 17838 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 16, 6), 'ICU', 23, 43)
Row 17839 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 16, 21), 'Surgical Ward', 22, 62)
Row 17840 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 16, 54), 'Emergency Ward', 25, 58)

Row 17841 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 17, 20), 'Maternity Ward', 22, 59)
Row 17842 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 17, 25), 'ICU', 26, 44)
Row 17843 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 17, 41), 'Surgical Ward', 22, 62)
Row 17844 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 18, 15), 'Emergency Ward', 25, 57)
Row 17845 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 18, 41), 'Maternity Ward', 22, 58)
Row 17846 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 18, 44), 'ICU', 23, 42)
Row 17847 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 19, 2), 'Surgical Ward', 22, 62)
Row 17848 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 19, 29), 'Emergency Ward', 25, 57)
Row 17849 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 20, 1), 'Maternity Ward', 22, 58)
Row 17850 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 20, 3), 'ICU', 23, 42)
Row 17851 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 20, 22), 'Surgical Ward', 22, 62)
Row 17852 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 20, 39), 'Emergency Ward', 25, 56)
Row 17853 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 21, 21), 'Maternity Ward', 22, 58)
Row 17854 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 21, 22), 'ICU', 26, 44)
Row 17855 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 21, 43), 'Surgical Ward', 22, 62)
Row 17856 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 22), 'Emergency Ward', 25, 56)
Row 17857 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 22, 41), 'ICU', 23, 42)
Row 17858 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 22, 42), 'Maternity Ward', 22, 57)
Row 17859 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 23, 3), 'Surgical Ward', 22, 61)
Row 17860 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 23, 20), 'Emergency Ward', 25, 55)
Row 17861 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 23, 53), 'ICU', 23, 41)
Row 17862 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 24, 2), 'Maternity Ward', 22, 57)
Row 17863 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 24, 18), 'Surgical Ward', 22, 61)
Row 17864 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 24, 41), 'Emergency Ward', 25, 55)
Row 17865 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 25, 1), 'ICU', 23, 41)
Row 17866 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 25, 15), 'Maternity Ward', 22, 57)
Row 17867 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 25, 26), 'Surgical Ward', 22, 60)
Row 17868 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 26, 2), 'Emergency Ward', 25, 55)
Row 17869 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 26, 20), 'ICU', 23, 41)
Row 17870 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 26, 24), 'Maternity Ward', 22, 56)
Row 17871 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 26, 46), 'Surgical Ward', 22, 60)
Row 17872 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 27, 23), 'Emergency Ward', 25, 55)
Row 17873 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 27, 39), 'ICU', 23, 41)
Row 17874 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 27, 45), 'Maternity Ward', 22, 56)
Row 17875 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 28, 6), 'Surgical Ward', 22, 59)
Row 17876 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 28, 44), 'Emergency Ward', 25, 54)
Row 17877 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 28, 58), 'ICU', 26, 43)
Row 17878 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 29, 5), 'Maternity Ward', 22, 56)
Row 17879 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 29, 27), 'Surgical Ward', 22, 59)
Row 17880 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 30, 5), 'Emergency Ward', 25, 54)
Row 17881 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 30, 17), 'ICU', 23, 40)
Row 17882 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 30, 25), 'Maternity Ward', 22, 57)
Row 17883 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 30, 47), 'Surgical Ward', 22, 59)
Row 17884 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 31, 26), 'Emergency Ward', 25, 54)
Row 17885 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 31, 36), 'ICU', 23, 40)
Row 17886 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 31, 46), 'Maternity Ward', 22, 55)
Row 17887 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 32, 8), 'Surgical Ward', 22, 58)
Row 17888 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 32, 47), 'Emergency Ward', 25, 54)

Row 17889 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 32, 55), 'ICU', 23, 40)
Row 17890 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 33, 6), 'Maternity Ward', 22, 54)
Row 17891 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 34, 1), 'Emergency Ward', 25, 53)
Row 17892 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 34, 14), 'ICU', 23, 40)
Row 17893 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 34, 27), 'Maternity Ward', 22, 53)
Row 17894 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 34, 49), 'Surgical Ward', 21, 57)
Row 17895 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 35, 10), 'Emergency Ward', 25, 53)
Row 17896 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 35, 33), 'ICU', 23, 39)
Row 17897 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 35, 47), 'Maternity Ward', 22, 53)
Row 17898 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 36, 9), 'Surgical Ward', 21, 57)
Row 17899 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 36, 31), 'Emergency Ward', 25, 53)
Row 17900 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 36, 52), 'ICU', 26, 43)
Row 17901 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 37, 7), 'Maternity Ward', 22, 51)
Row 17902 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 37, 29), 'Surgical Ward', 21, 57)
Row 17903 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 37, 52), 'Emergency Ward', 25, 52)
Row 17904 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 38, 4), 'ICU', 23, 39)
Row 17905 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 38, 28), 'Maternity Ward', 22, 52)
Row 17906 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 38, 43), 'Surgical Ward', 21, 57)
Row 17907 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 39, 12), 'ICU', 23, 39)
Row 17908 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 39, 12), 'Emergency Ward', 24, 53)
Row 17909 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 39, 41), 'Maternity Ward', 22, 52)
Row 17910 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 39, 52), 'Surgical Ward', 21, 57)
Row 17911 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 40, 31), 'ICU', 26, 42)
Row 17912 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 40, 33), 'Emergency Ward', 25, 51)
Row 17913 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 40, 50), 'Maternity Ward', 22, 51)
Row 17914 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 41, 12), 'Surgical Ward', 21, 56)
Row 17915 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 41, 50), 'ICU', 23, 38)
Row 17916 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 41, 54), 'Emergency Ward', 24, 51)
Row 17917 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 42, 10), 'Maternity Ward', 22, 51)
Row 17918 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 42, 32), 'Surgical Ward', 21, 56)
Row 17919 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 43, 9), 'ICU', 23, 37)
Row 17920 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 43, 15), 'Emergency Ward', 24, 51)
Row 17921 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 43, 31), 'Maternity Ward', 22, 50)
Row 17922 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 43, 53), 'Surgical Ward', 21, 56)
Row 17923 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 44, 28), 'ICU', 23, 37)
Row 17924 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 44, 36), 'Emergency Ward', 24, 51)
Row 17925 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 44, 51), 'Maternity Ward', 22, 50)
Row 17926 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 45, 13), 'Surgical Ward', 21, 56)
Row 17927 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 45, 47), 'ICU', 23, 37)
Row 17928 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 45, 57), 'Emergency Ward', 24, 50)
Row 17929 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 46, 12), 'Maternity Ward', 22, 50)
Row 17930 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 46, 34), 'Surgical Ward', 21, 55)
Row 17931 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 47, 6), 'ICU', 26, 42)
Row 17932 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 47, 18), 'Emergency Ward', 24, 50)
Row 17933 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 47, 32), 'Maternity Ward', 22, 50)
Row 17934 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 47, 54), 'Surgical Ward', 21, 55)
Row 17935 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 48, 25), 'ICU', 23, 36)
Row 17936 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 48, 32), 'Emergency Ward', 24, 50)
Row 17937 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 48, 52), 'Maternity Ward', 23, 49)

Row 17938 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 49, 15), 'Surgical Ward', 21, 55)
Row 17939 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 49, 41), 'Emergency Ward', 24, 50)
Row 17940 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 49, 44), 'ICU', 23, 36)
Row 17941 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 50, 13), 'Maternity Ward', 22, 50)
Row 17942 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 50, 35), 'Surgical Ward', 21, 54)
Row 17943 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 51, 2), 'Emergency Ward', 24, 49)
Row 17944 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 51, 3), 'ICU', 23, 36)
Row 17945 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 51, 33), 'Maternity Ward', 22, 50)
Row 17946 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 51, 55), 'Surgical Ward', 21, 54)
Row 17947 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 52, 15), 'ICU', 23, 35)
Row 17948 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 52, 23), 'Emergency Ward', 24, 49)
Row 17949 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 52, 53), 'Maternity Ward', 22, 50)
Row 17950 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 53, 9), 'Surgical Ward', 21, 53)
Row 17951 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 53, 23), 'ICU', 23, 35)
Row 17952 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 53, 44), 'Emergency Ward', 24, 49)
Row 17953 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 54, 7), 'Maternity Ward', 22, 49)
Row 17954 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 54, 18), 'Surgical Ward', 21, 53)
Row 17955 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 54, 42), 'ICU', 26, 41)
Row 17956 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 55, 5), 'Emergency Ward', 24, 49)
Row 17957 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 55, 16), 'Maternity Ward', 22, 49)
Row 17958 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 55, 38), 'Surgical Ward', 21, 53)
Row 17959 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 56, 1), 'ICU', 23, 35)
Row 17960 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 56, 25), 'Emergency Ward', 24, 49)
Row 17961 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 56, 36), 'Maternity Ward', 22, 50)
Row 17962 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 56, 59), 'Surgical Ward', 21, 52)
Row 17963 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 57, 20), 'ICU', 26, 41)
Row 17964 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 57, 46), 'Emergency Ward', 24, 49)
Row 17965 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 57, 56), 'Maternity Ward', 22, 49)
Row 17966 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 58, 19), 'Surgical Ward', 21, 52)
Row 17967 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 58, 39), 'ICU', 23, 34)
Row 17968 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 59, 7), 'Emergency Ward', 24, 49)
Row 17969 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 59, 17), 'Maternity Ward', 22, 49)
Row 17970 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 59, 39), 'Surgical Ward', 21, 52)
Row 17971 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 13, 59, 58), 'ICU', 26, 41)
Row 17972 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 0, 28), 'Emergency Ward', 24, 49)
Row 17973 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 0, 37), 'Maternity Ward', 22, 49)
Row 17974 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 1), 'Surgical Ward', 21, 52)
Row 17975 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 1, 17), 'ICU', 23, 34)
Row 17976 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 1, 50), 'Emergency Ward', 24, 49)
Row 17977 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 1, 58), 'Maternity Ward', 22, 49)
Row 17978 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 2, 20), 'Surgical Ward', 21, 51)
Row 17979 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 2, 37), 'ICU', 26, 41)
Row 17980 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 3, 3), 'Emergency Ward', 24, 49)
Row 17981 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 3, 18), 'Maternity Ward', 22, 49)
Row 17982 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 3, 42), 'Surgical Ward', 21, 51)
Row 17983 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 3, 55), 'ICU', 23, 34)
Row 17984 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 4, 12), 'Emergency Ward', 24, 49)

Row 17985 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 4, 38), 'Maternity Ward', 22, 49)
Row 17986 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 5, 2), 'Surgical Ward', 21, 51)
Row 17987 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 5, 15), 'ICU', 23, 33)
Row 17988 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 5, 33), 'Emergency Ward', 24, 49)
Row 17989 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 5, 59), 'Maternity Ward', 22, 49)
Row 17990 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 6, 21), 'Surgical Ward', 21, 51)
Row 17991 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 6, 27), 'ICU', 23, 34)
Row 17992 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 6, 54), 'Emergency Ward', 24, 49)
Row 17993 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 7, 19), 'Maternity Ward', 22, 48)
Row 17994 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 7, 34), 'ICU', 23, 34)
Row 17995 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 7, 35), 'Surgical Ward', 21, 51)
Row 17996 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 8, 15), 'Emergency Ward', 24, 49)
Row 17997 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 8, 33), 'Maternity Ward', 22, 48)
Row 17998 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 8, 44), 'Surgical Ward', 21, 51)
Row 17999 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 8, 53), 'ICU', 23, 33)
Row 18000 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 9, 36), 'Emergency Ward', 24, 49)
Row 18001 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 9, 42), 'Maternity Ward', 22, 48)
Row 18002 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 10, 4), 'Surgical Ward', 21, 51)
Row 18003 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 10, 12), 'ICU', 23, 33)
Row 18004 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 10, 57), 'Emergency Ward', 24, 49)
Row 18005 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 11, 2), 'Maternity Ward', 22, 48)
Row 18006 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 11, 25), 'Surgical Ward', 21, 51)
Row 18007 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 11, 31), 'ICU', 23, 33)
Row 18008 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 12, 17), 'Emergency Ward', 24, 49)
Row 18009 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 12, 22), 'Maternity Ward', 22, 48)
Row 18010 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 12, 45), 'Surgical Ward', 21, 51)
Row 18011 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 12, 50), 'ICU', 26, 41)
Row 18012 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 13, 39), 'Emergency Ward', 24, 49)
Row 18013 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 13, 43), 'Maternity Ward', 22, 48)
Row 18014 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 14, 6), 'Surgical Ward', 21, 51)
Row 18015 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 14, 10), 'ICU', 23, 34)
Row 18016 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 15), 'Emergency Ward', 24, 49)
Row 18017 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 15, 3), 'Maternity Ward', 22, 48)
Row 18018 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 15, 26), 'Surgical Ward', 21, 51)
Row 18019 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 15, 29), 'ICU', 23, 33)
Row 18020 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 16, 20), 'Emergency Ward', 24, 49)
Row 18021 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 16, 23), 'Maternity Ward', 22, 49)
Row 18022 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 16, 46), 'Surgical Ward', 21, 52)
Row 18023 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 16, 47), 'ICU', 23, 34)
Row 18024 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 17, 34), 'Emergency Ward', 24, 49)
Row 18025 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 17, 44), 'Maternity Ward', 22, 49)
Row 18026 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 18, 7), 'Surgical Ward', 21, 52)
Row 18027 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 18, 43), 'Emergency Ward', 24, 49)
Row 18028 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 19, 5), 'Maternity Ward', 22, 49)
Row 18029 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 19, 26), 'ICU', 23, 34)
Row 18030 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 19, 27), 'Surgical Ward', 21, 52)
Row 18031 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 20, 5), 'Emergency Ward', 24, 49)
Row 18032 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 20, 25), 'Maternity Ward', 22, 49)

Row 18033 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 20, 38), 'ICU', 23, 34)
Row 18034 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 20, 47), 'Surgical Ward', 21, 52)
Row 18035 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 21, 25), 'Emergency Ward', 24, 50)
Row 18036 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 21, 45), 'Maternity Ward', 22, 49)
Row 18037 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 21, 45), 'ICU', 23, 34)
Row 18038 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 22, 1), 'Surgical Ward', 21, 53)
Row 18039 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 22, 46), 'Emergency Ward', 24, 50)
Row 18040 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 22, 59), 'Maternity Ward', 22, 49)
Row 18041 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 23, 5), 'ICU', 23, 35)
Row 18042 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 23, 11), 'Surgical Ward', 21, 54)
Row 18043 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 24, 7), 'Emergency Ward', 24, 50)
Row 18044 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 24, 7), 'Maternity Ward', 22, 49)
Row 18045 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 24, 23), 'ICU', 23, 35)
Row 18046 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 24, 31), 'Surgical Ward', 21, 55)
Row 18047 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 25, 28), 'Maternity Ward', 21, 50)
Row 18048 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 25, 28), 'Emergency Ward', 24, 51)
Row 18049 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 25, 42), 'ICU', 23, 35)
Row 18050 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 25, 51), 'Surgical Ward', 21, 55)
Row 18051 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 26, 48), 'Maternity Ward', 22, 50)
Row 18052 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 26, 49), 'Emergency Ward', 24, 52)
Row 18053 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 27, 1), 'ICU', 26, 42)
Row 18054 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 27, 12), 'Surgical Ward', 21, 56)
Row 18055 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 28, 8), 'Maternity Ward', 22, 50)
Row 18056 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 28, 10), 'Emergency Ward', 24, 53)
Row 18057 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 28, 22), 'ICU', 26, 42)
Row 18058 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 28, 32), 'Surgical Ward', 22, 56)
Row 18059 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 29, 36), 'Maternity Ward', 22, 50)
Row 18060 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 29, 36), 'Emergency Ward', 24, 53)
Row 18061 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 29, 40), 'ICU', 26, 42)
Row 18062 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 29, 52), 'Surgical Ward', 22, 56)
Row 18063 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 30, 49), 'Maternity Ward', 22, 52)
Row 18064 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 30, 51), 'Emergency Ward', 24, 54)
Row 18065 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 30, 59), 'ICU', 23, 37)
Row 18066 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 31, 13), 'Surgical Ward', 22, 57)
Row 18067 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 32, 5), 'Emergency Ward', 24, 54)
Row 18068 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 32, 11), 'Maternity Ward', 22, 50)
Row 18069 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 32, 18), 'ICU', 23, 37)
Row 18070 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 32, 33), 'Surgical Ward', 22, 57)
Row 18071 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 33, 16), 'Emergency Ward', 25, 54)
Row 18072 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 33, 30), 'Maternity Ward', 21, 51)
Row 18073 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 33, 37), 'ICU', 23, 38)
Row 18074 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 33, 54), 'Surgical Ward', 22, 57)
Row 18075 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 34, 36), 'Emergency Ward', 25, 54)
Row 18076 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 34, 49), 'ICU', 23, 38)
Row 18077 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 34, 50), 'Maternity Ward', 22, 51)
Row 18078 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 35, 14), 'Surgical Ward', 22, 58)
Row 18079 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 35, 56), 'Emergency Ward', 25, 54)
Row 18080 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 36, 11), 'Maternity Ward', 22, 52)
Row 18081 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 36, 27), 'Surgical Ward', 22, 58)
Row 18082 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 37, 17), 'ICU', 23, 39)

Row 18083 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 37, 18), 'Emergency Ward', 25, 55)
Row 18084 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 37, 24), 'Maternity Ward', 21, 52)
Row 18085 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 37, 36), 'Surgical Ward', 22, 58)
Row 18086 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 38, 33), 'Maternity Ward', 22, 53)
Row 18087 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 38, 35), 'ICU', 23, 39)
Row 18088 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 38, 38), 'Emergency Ward', 25, 55)
Row 18089 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 38, 57), 'Surgical Ward', 22, 59)
Row 18090 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 39, 53), 'Maternity Ward', 21, 53)
Row 18091 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 39, 54), 'ICU', 23, 40)
Row 18092 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 39, 59), 'Emergency Ward', 25, 55)
Row 18093 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 40, 17), 'Surgical Ward', 22, 59)
Row 18094 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 41, 13), 'ICU', 23, 40)
Row 18095 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 41, 14), 'Maternity Ward', 22, 54)
Row 18096 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 41, 20), 'Emergency Ward', 25, 55)
Row 18097 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 41, 38), 'Surgical Ward', 22, 59)
Row 18098 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 42, 32), 'ICU', 23, 40)
Row 18099 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 42, 34), 'Maternity Ward', 22, 55)
Row 18100 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 42, 41), 'Emergency Ward', 25, 55)
Row 18101 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 42, 59), 'Surgical Ward', 22, 60)
Row 18102 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 43, 51), 'ICU', 23, 40)
Row 18103 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 43, 54), 'Maternity Ward', 21, 55)
Row 18104 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 44, 2), 'Emergency Ward', 25, 55)
Row 18105 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 44, 19), 'Surgical Ward', 22, 60)
Row 18106 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 45, 10), 'ICU', 23, 40)
Row 18107 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 45, 15), 'Maternity Ward', 22, 56)
Row 18108 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 45, 23), 'Emergency Ward', 25, 55)
Row 18109 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 45, 39), 'Surgical Ward', 22, 61)
Row 18110 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 46, 29), 'ICU', 23, 40)
Row 18111 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 46, 35), 'Maternity Ward', 21, 56)
Row 18112 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 46, 37), 'Emergency Ward', 25, 56)
Row 18113 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 46, 59), 'Surgical Ward', 22, 61)
Row 18114 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 47, 47), 'Emergency Ward', 25, 56)
Row 18115 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 47, 48), 'ICU', 23, 41)
Row 18116 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 47, 56), 'Maternity Ward', 21, 57)
Row 18117 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 48, 20), 'Surgical Ward', 22, 61)
Row 18118 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 49), 'ICU', 23, 41)
Row 18119 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 49, 7), 'Emergency Ward', 25, 56)
Row 18120 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 49, 16), 'Maternity Ward', 21, 56)
Row 18121 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 49, 40), 'Surgical Ward', 22, 61)
Row 18122 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 50, 8), 'ICU', 23, 41)
Row 18123 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 50, 28), 'Emergency Ward', 25, 56)
Row 18124 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 50, 36), 'Maternity Ward', 21, 57)
Row 18125 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 14, 50, 53), 'Surgical Ward', 22, 61)
Row 18126 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 42, 35), 'Surgical Ward', 24, 65)
Row 18127 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 43, 6), 'Emergency Ward', 27, 60)
Row 18128 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 43, 12), 'ICU', 24, 55)
Row 18129 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 43, 17), 'Maternity Ward', 23, 64)
Row 18130 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 43, 55), 'Surgical Ward', 24, 65)
Row 18131 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 44, 19), 'ICU', 24, 55)

Row 18132 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 44, 27), 'Emergency Ward', 27, 60)
Row 18133 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 44, 37), 'Maternity Ward', 23, 64)
Row 18134 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 45, 16), 'Surgical Ward', 24, 65)
Row 18135 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 45, 39), 'ICU', 24, 55)
Row 18136 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 45, 47), 'Emergency Ward', 27, 60)
Row 18137 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 45, 58), 'Maternity Ward', 22, 65)
Row 18138 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 46, 36), 'Surgical Ward', 24, 65)
Row 18139 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 46, 58), 'ICU', 24, 55)
Row 18140 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 47, 8), 'Emergency Ward', 27, 60)
Row 18141 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 47, 18), 'Maternity Ward', 23, 64)
Row 18142 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 47, 57), 'Surgical Ward', 24, 65)
Row 18143 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 48, 17), 'ICU', 27, 55)
Row 18144 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 48, 29), 'Emergency Ward', 27, 60)
Row 18145 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 48, 38), 'Maternity Ward', 22, 65)
Row 18146 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 49, 17), 'Surgical Ward', 24, 65)
Row 18147 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 49, 36), 'ICU', 27, 55)
Row 18148 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 49, 43), 'Emergency Ward', 27, 60)
Row 18149 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 49, 59), 'Maternity Ward', 23, 64)
Row 18150 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 50, 38), 'Surgical Ward', 24, 65)
Row 18151 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 50, 53), 'Emergency Ward', 27, 60)
Row 18152 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 50, 55), 'ICU', 24, 54)
Row 18153 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 51, 19), 'Maternity Ward', 22, 65)
Row 18154 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 51, 51), 'Surgical Ward', 24, 65)
Row 18155 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 52, 14), 'Emergency Ward', 27, 60)
Row 18156 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 52, 14), 'ICU', 24, 54)
Row 18157 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 52, 32), 'Maternity Ward', 22, 65)
Row 18158 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 53), 'Surgical Ward', 24, 65)
Row 18159 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 53, 33), 'ICU', 24, 54)
Row 18160 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 53, 35), 'Emergency Ward', 27, 60)
Row 18161 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 53, 41), 'Maternity Ward', 23, 64)
Row 18162 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 54, 21), 'Surgical Ward', 24, 65)
Row 18163 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 54, 52), 'ICU', 24, 54)
Row 18164 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 54, 55), 'Emergency Ward', 27, 60)
Row 18165 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 55, 2), 'Maternity Ward', 23, 64)
Row 18166 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 55, 41), 'Surgical Ward', 24, 65)
Row 18167 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 56, 11), 'ICU', 24, 54)
Row 18168 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 56, 16), 'Emergency Ward', 27, 60)
Row 18169 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 56, 22), 'Maternity Ward', 23, 64)
Row 18170 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 57, 2), 'Surgical Ward', 24, 65)
Row 18171 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 57, 23), 'ICU', 24, 54)
Row 18172 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 57, 44), 'Maternity Ward', 23, 64)
Row 18173 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 58, 22), 'Surgical Ward', 24, 65)
Row 18174 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 58, 31), 'ICU', 24, 54)
Row 18175 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 58, 58), 'Emergency Ward', 27, 60)
Row 18176 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 59, 3), 'Maternity Ward', 23, 64)
Row 18177 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 59, 43), 'Surgical Ward', 24, 65)
Row 18178 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 20, 59, 50), 'ICU', 24, 54)

Row 18179 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 0, 19), 'Emergency Ward', 27, 60)
Row 18180 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 0, 23), 'Maternity Ward', 22, 65)
Row 18181 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 1, 3), 'Surgical Ward', 24, 65)
Row 18182 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 1, 10), 'ICU', 24, 54)
Row 18183 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 1, 40), 'Emergency Ward', 27, 60)
Row 18184 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 1, 44), 'Maternity Ward', 22, 65)
Row 18185 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 2, 23), 'Surgical Ward', 24, 65)
Row 18186 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 2, 28), 'ICU', 24, 54)
Row 18187 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 3, 1), 'Emergency Ward', 27, 60)
Row 18188 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 3, 4), 'Maternity Ward', 23, 64)
Row 18189 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 3, 44), 'Surgical Ward', 24, 65)
Row 18190 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 3, 47), 'ICU', 24, 54)
Row 18191 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 4, 15), 'Emergency Ward', 27, 60)
Row 18192 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 4, 25), 'Maternity Ward', 23, 65)
Row 18193 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 5, 5), 'Surgical Ward', 24, 66)
Row 18194 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 5, 6), 'ICU', 27, 55)
Row 18195 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 5, 24), 'Emergency Ward', 27, 60)
Row 18196 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 5, 45), 'Maternity Ward', 23, 64)
Row 18197 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 6, 18), 'Surgical Ward', 24, 66)
Row 18198 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 6, 26), 'ICU', 24, 54)
Row 18199 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 6, 45), 'Emergency Ward', 27, 60)
Row 18200 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 6, 58), 'Maternity Ward', 23, 64)
Row 18201 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 7, 27), 'Surgical Ward', 24, 65)
Row 18202 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 7, 45), 'ICU', 24, 54)
Row 18203 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 8, 6), 'Emergency Ward', 27, 60)
Row 18204 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 8, 7), 'Maternity Ward', 23, 64)
Row 18205 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 8, 47), 'Surgical Ward', 24, 65)
Row 18206 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 9, 4), 'ICU', 27, 55)
Row 18207 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 9, 27), 'Emergency Ward', 27, 60)
Row 18208 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 9, 28), 'Maternity Ward', 23, 64)
Row 18209 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 10, 8), 'Surgical Ward', 24, 66)
Row 18210 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 10, 23), 'ICU', 27, 55)
Row 18211 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 10, 48), 'Maternity Ward', 23, 64)
Row 18212 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 11, 28), 'Surgical Ward', 24, 65)
Row 18213 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 11, 35), 'ICU', 24, 54)
Row 18214 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 12, 8), 'Maternity Ward', 23, 64)
Row 18215 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 12, 9), 'Emergency Ward', 27, 60)
Row 18216 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 12, 42), 'ICU', 24, 54)
Row 18217 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 12, 49), 'Surgical Ward', 24, 66)
Row 18218 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 13, 29), 'Maternity Ward', 23, 64)
Row 18219 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 13, 30), 'Emergency Ward', 27, 60)
Row 18220 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 14, 2), 'ICU', 27, 55)
Row 18221 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 14, 9), 'Surgical Ward', 24, 65)
Row 18222 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 14, 49), 'Maternity Ward', 23, 64)
Row 18223 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 14, 51), 'Emergency Ward', 27, 60)
Row 18224 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 15, 21), 'ICU', 24, 53)
Row 18225 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 15, 29), 'Surgical Ward', 24, 65)

Row 18226 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 16, 10), 'Maternity Ward', 23, 65)
Row 18227 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 16, 12), 'Emergency Ward', 27, 60)
Row 18228 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 16, 40), 'ICU', 24, 54)
Row 18229 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 16, 50), 'Surgical Ward', 24, 65)
Row 18230 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 17, 30), 'Maternity Ward', 23, 64)
Row 18231 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 17, 33), 'Emergency Ward', 27, 60)
Row 18232 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 17, 59), 'ICU', 24, 54)
Row 18233 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 18, 10), 'Surgical Ward', 24, 65)
Row 18234 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 18, 47), 'Emergency Ward', 27, 60)
Row 18235 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 18, 50), 'Maternity Ward', 23, 64)
Row 18236 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 19, 18), 'ICU', 24, 54)
Row 18237 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 19, 31), 'Surgical Ward', 24, 65)
Row 18238 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 19, 56), 'Emergency Ward', 27, 60)
Row 18239 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 20, 11), 'Maternity Ward', 23, 64)
Row 18240 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 20, 37), 'ICU', 24, 53)
Row 18241 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 20, 44), 'Surgical Ward', 24, 65)
Row 18242 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 21, 17), 'Emergency Ward', 27, 60)
Row 18243 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 21, 24), 'Maternity Ward', 23, 64)
Row 18244 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 21, 53), 'Surgical Ward', 24, 65)
Row 18245 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 21, 56), 'ICU', 24, 54)
Row 18246 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 22, 33), 'Maternity Ward', 23, 64)
Row 18247 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 22, 38), 'Emergency Ward', 27, 60)
Row 18248 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 23, 14), 'Surgical Ward', 24, 65)
Row 18249 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 23, 16), 'ICU', 24, 54)
Row 18250 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 23, 53), 'Maternity Ward', 23, 64)
Row 18251 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 23, 59), 'Emergency Ward', 27, 60)
Row 18252 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 24, 34), 'Surgical Ward', 24, 65)
Row 18253 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 25, 14), 'Maternity Ward', 23, 64)
Row 18254 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 25, 20), 'Emergency Ward', 27, 60)
Row 18255 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 25, 46), 'ICU', 24, 54)
Row 18256 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 25, 56), 'Surgical Ward', 24, 65)
Row 18257 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 26, 34), 'Maternity Ward', 23, 64)
Row 18258 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 26, 41), 'Emergency Ward', 27, 60)
Row 18259 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 26, 54), 'ICU', 24, 53)
Row 18260 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 27, 15), 'Surgical Ward', 24, 65)
Row 18261 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 27, 55), 'Maternity Ward', 23, 64)
Row 18262 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 28, 2), 'Emergency Ward', 27, 60)
Row 18263 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 28, 13), 'ICU', 27, 55)
Row 18264 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 28, 36), 'Surgical Ward', 24, 65)
Row 18265 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 29, 15), 'Maternity Ward', 23, 64)
Row 18266 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 29, 23), 'Emergency Ward', 27, 60)
Row 18267 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 29, 32), 'ICU', 27, 54)
Row 18268 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 29, 56), 'Surgical Ward', 24, 65)
Row 18269 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 30, 35), 'Maternity Ward', 23, 64)
Row 18270 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 30, 44), 'Emergency Ward', 27, 60)
Row 18271 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 30, 51), 'ICU', 24, 53)
Row 18272 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 31, 17), 'Surgical Ward', 24, 65)
Row 18273 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 31, 56), 'Maternity Ward', 23, 65)
Row 18274 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 32, 5), 'Emergency Ward', 27, 60)

Row 18275 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 32, 10), 'ICU', 24, 53)
Row 18276 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 32, 37), 'Surgical Ward', 24, 65)
Row 18277 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 33, 16), 'Maternity Ward', 23, 64)
Row 18278 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 33, 19), 'Emergency Ward', 27, 60)
Row 18279 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 33, 29), 'ICU', 24, 53)
Row 18280 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 33, 57), 'Surgical Ward', 24, 65)
Row 18281 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 34, 28), 'Emergency Ward', 27, 60)
Row 18282 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 34, 37), 'Maternity Ward', 23, 64)
Row 18283 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 34, 49), 'ICU', 24, 53)
Row 18284 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 35, 11), 'Surgical Ward', 24, 65)
Row 18285 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 35, 49), 'Emergency Ward', 27, 60)
Row 18286 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 35, 50), 'Maternity Ward', 23, 64)
Row 18287 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 36, 8), 'ICU', 24, 53)
Row 18288 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 36, 20), 'Surgical Ward', 24, 65)
Row 18289 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 36, 59), 'Maternity Ward', 23, 65)
Row 18290 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 37, 10), 'Emergency Ward', 27, 60)
Row 18291 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 37, 27), 'ICU', 24, 53)
Row 18292 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 37, 41), 'Surgical Ward', 24, 65)
Row 18293 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 38, 19), 'Maternity Ward', 23, 65)
Row 18294 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 38, 31), 'Emergency Ward', 27, 60)
Row 18295 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 38, 46), 'ICU', 24, 53)
Row 18296 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 39, 1), 'Surgical Ward', 24, 65)
Row 18297 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 39, 40), 'Maternity Ward', 23, 65)
Row 18298 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 39, 52), 'Emergency Ward', 27, 60)
Row 18299 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 39, 58), 'ICU', 24, 53)
Row 18300 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 40, 21), 'Surgical Ward', 24, 65)
Row 18301 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 41), 'Maternity Ward', 23, 65)
Row 18302 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 41, 6), 'ICU', 24, 52)
Row 18303 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 41, 13), 'Emergency Ward', 27, 60)
Row 18304 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 41, 42), 'Surgical Ward', 24, 65)
Row 18305 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 42, 21), 'Maternity Ward', 23, 65)
Row 18306 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 42, 25), 'ICU', 24, 52)
Row 18307 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 42, 35), 'Emergency Ward', 27, 60)
Row 18308 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 43, 2), 'Surgical Ward', 24, 65)
Row 18309 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 43, 41), 'Maternity Ward', 23, 66)
Row 18310 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 43, 44), 'ICU', 24, 52)
Row 18311 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 43, 55), 'Emergency Ward', 27, 60)
Row 18312 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 44, 23), 'Surgical Ward', 24, 65)
Row 18313 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 45, 2), 'Maternity Ward', 23, 65)
Row 18314 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 45, 3), 'ICU', 24, 52)
Row 18315 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 45, 16), 'Emergency Ward', 27, 60)
Row 18316 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 45, 43), 'Surgical Ward', 24, 65)
Row 18317 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 46, 22), 'Maternity Ward', 23, 65)
Row 18318 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 46, 22), 'ICU', 27, 54)
Row 18319 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 46, 37), 'Emergency Ward', 27, 60)
Row 18320 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 47, 4), 'Surgical Ward', 24, 65)
Row 18321 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 47, 41), 'ICU', 24, 52)
Row 18322 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 47, 42), 'Maternity Ward', 23, 65)

Row 18323 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 47, 50), 'Emergency Ward', 27, 60)
Row 18324 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 48, 24), 'Surgical Ward', 24, 65)
Row 18325 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 49), 'Emergency Ward', 27, 60)
Row 18326 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 49), 'ICU', 24, 52)
Row 18327 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 49, 3), 'Maternity Ward', 23, 65)
Row 18328 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 49, 38), 'Surgical Ward', 24, 65)
Row 18329 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 50, 16), 'Maternity Ward', 23, 65)
Row 18330 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 50, 19), 'ICU', 24, 52)
Row 18331 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 50, 21), 'Emergency Ward', 27, 60)
Row 18332 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 50, 47), 'Surgical Ward', 24, 65)
Row 18333 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 51, 25), 'Maternity Ward', 23, 66)
Row 18334 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 51, 38), 'ICU', 24, 52)
Row 18335 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 51, 42), 'Emergency Ward', 27, 60)
Row 18336 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 52, 7), 'Surgical Ward', 24, 65)
Row 18337 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 52, 45), 'Maternity Ward', 23, 65)
Row 18338 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 52, 57), 'ICU', 24, 52)
Row 18339 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 53, 3), 'Emergency Ward', 27, 60)
Row 18340 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 53, 28), 'Surgical Ward', 24, 65)
Row 18341 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 54, 6), 'Maternity Ward', 23, 65)
Row 18342 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 54, 10), 'ICU', 24, 52)
Row 18343 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 54, 24), 'Emergency Ward', 27, 60)
Row 18344 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 54, 48), 'Surgical Ward', 24, 65)
Row 18345 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 55, 17), 'ICU', 24, 52)
Row 18346 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 55, 26), 'Maternity Ward', 23, 65)
Row 18347 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 55, 45), 'Emergency Ward', 27, 60)
Row 18348 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 56, 9), 'Surgical Ward', 24, 65)
Row 18349 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 56, 36), 'ICU', 24, 52)
Row 18350 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 56, 47), 'Maternity Ward', 23, 65)
Row 18351 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 57, 6), 'Emergency Ward', 27, 60)
Row 18352 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 57, 29), 'Surgical Ward', 24, 65)
Row 18353 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 57, 55), 'ICU', 24, 52)
Row 18354 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 58, 7), 'Maternity Ward', 23, 65)
Row 18355 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 58, 26), 'Emergency Ward', 27, 60)
Row 18356 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 58, 50), 'Surgical Ward', 24, 65)
Row 18357 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 59, 15), 'ICU', 24, 51)
Row 18358 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 59, 27), 'Maternity Ward', 23, 65)
Row 18359 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 21, 59, 47), 'Emergency Ward', 27, 60)
Row 18360 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 0, 10), 'Surgical Ward', 24, 65)
Row 18361 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 0, 34), 'ICU', 24, 51)
Row 18362 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 0, 48), 'Maternity Ward', 23, 65)
Row 18363 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 1, 8), 'Emergency Ward', 27, 60)
Row 18364 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 1, 30), 'Surgical Ward', 24, 65)
Row 18365 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 1, 53), 'ICU', 24, 52)
Row 18366 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 2, 8), 'Maternity Ward', 23, 65)
Row 18367 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 2, 22), 'Emergency Ward', 27, 60)
Row 18368 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 2, 51), 'Surgical Ward', 24, 65)
Row 18369 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 3, 12), 'ICU', 24, 51)
Row 18370 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 3, 29), 'Maternity Ward', 23, 65)
Row 18371 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 3, 32), 'Emergency Ward', 27, 60)
Row 18372 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 4, 4), 'Surgical Ward', 24, 65)

Row 18373 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 4, 31), 'ICU', 24, 51)
Row 18374 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 4, 42), 'Maternity Ward', 23, 65)
Row 18375 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 4, 53), 'Emergency Ward', 27, 60)
Row 18376 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 5, 13), 'Surgical Ward', 24, 65)
Row 18377 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 5, 50), 'ICU', 24, 51)
Row 18378 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 5, 51), 'Maternity Ward', 23, 65)
Row 18379 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 6, 14), 'Emergency Ward', 27, 60)
Row 18380 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 6, 34), 'Surgical Ward', 24, 65)
Row 18381 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 7, 9), 'ICU', 24, 51)
Row 18382 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 7, 11), 'Maternity Ward', 23, 65)
Row 18383 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 7, 34), 'Emergency Ward', 27, 60)
Row 18384 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 7, 54), 'Surgical Ward', 24, 65)
Row 18385 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 8, 21), 'ICU', 24, 51)
Row 18386 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 8, 32), 'Maternity Ward', 23, 66)
Row 18387 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 8, 55), 'Emergency Ward', 27, 60)
Row 18388 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 9, 15), 'Surgical Ward', 24, 65)
Row 18389 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 9, 29), 'ICU', 24, 51)
Row 18390 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 9, 52), 'Maternity Ward', 23, 65)
Row 18391 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 10, 16), 'Emergency Ward', 27, 60)
Row 18392 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 10, 35), 'Surgical Ward', 24, 65)
Row 18393 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 10, 48), 'ICU', 27, 54)
Row 18394 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 11, 12), 'Maternity Ward', 23, 65)
Row 18395 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 11, 37), 'Emergency Ward', 27, 60)
Row 18396 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 11, 56), 'Surgical Ward', 24, 65)
Row 18397 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 12, 7), 'ICU', 27, 54)
Row 18398 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 12, 33), 'Maternity Ward', 23, 66)
Row 18399 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 12, 58), 'Emergency Ward', 27, 60)
Row 18400 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 13, 16), 'Surgical Ward', 24, 65)
Row 18401 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 13, 26), 'ICU', 24, 51)
Row 18402 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 13, 53), 'Maternity Ward', 23, 66)
Row 18403 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 14, 19), 'Emergency Ward', 27, 60)
Row 18404 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 14, 37), 'Surgical Ward', 24, 65)
Row 18405 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 14, 45), 'ICU', 24, 51)
Row 18406 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 15, 14), 'Maternity Ward', 23, 66)
Row 18407 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 15, 40), 'Emergency Ward', 27, 60)
Row 18408 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 15, 57), 'Surgical Ward', 24, 65)
Row 18409 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 16, 5), 'ICU', 24, 51)
Row 18410 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 16, 34), 'Maternity Ward', 23, 65)
Row 18411 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 16, 54), 'Emergency Ward', 27, 60)
Row 18412 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 17, 17), 'Surgical Ward', 24, 65)
Row 18413 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 17, 24), 'ICU', 24, 51)
Row 18414 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 17, 54), 'Maternity Ward', 23, 66)
Row 18415 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 18, 4), 'Emergency Ward', 27, 60)
Row 18416 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 18, 31), 'Surgical Ward', 24, 65)
Row 18417 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 18, 43), 'ICU', 24, 51)
Row 18418 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 19, 8), 'Maternity Ward', 23, 66)
Row 18419 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 19, 24), 'Emergency Ward', 27, 60)
Row 18420 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 19, 40), 'Surgical Ward', 24, 65)

Row 18421 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 20, 2), 'ICU', 24, 51)
Row 18422 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 20, 17), 'Maternity Ward', 23, 66)
Row 18423 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 20, 45), 'Emergency Ward', 27, 60)
Row 18424 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 21), 'Surgical Ward', 24, 65)
Row 18425 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 21, 21), 'ICU', 24, 51)
Row 18426 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 21, 37), 'Maternity Ward', 23, 66)
Row 18427 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 22, 6), 'Emergency Ward', 27, 60)
Row 18428 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 22, 21), 'Surgical Ward', 24, 65)
Row 18429 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 22, 33), 'ICU', 24, 51)
Row 18430 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 22, 58), 'Maternity Ward', 23, 66)
Row 18431 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 23, 27), 'Emergency Ward', 27, 60)
Row 18432 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 23, 41), 'ICU', 24, 51)
Row 18433 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 23, 42), 'Surgical Ward', 24, 65)
Row 18434 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 24, 18), 'Maternity Ward', 23, 66)
Row 18435 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 24, 48), 'Emergency Ward', 27, 60)
Row 18436 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 25), 'ICU', 27, 54)
Row 18437 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 25, 3), 'Surgical Ward', 24, 65)
Row 18438 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 25, 38), 'Maternity Ward', 23, 66)
Row 18439 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 26, 9), 'Emergency Ward', 27, 60)
Row 18440 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 26, 19), 'ICU', 24, 51)
Row 18441 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 26, 22), 'Surgical Ward', 24, 65)
Row 18442 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 26, 59), 'Maternity Ward', 23, 66)
Row 18443 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 27, 31), 'Emergency Ward', 27, 60)
Row 18444 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 27, 38), 'ICU', 24, 51)
Row 18445 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 27, 43), 'Surgical Ward', 24, 65)
Row 18446 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 28, 19), 'Maternity Ward', 23, 66)
Row 18447 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 28, 51), 'Emergency Ward', 27, 60)
Row 18448 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 28, 57), 'ICU', 24, 51)
Row 18449 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 29, 3), 'Surgical Ward', 24, 65)
Row 18450 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 29, 40), 'Maternity Ward', 23, 66)
Row 18451 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 30, 12), 'Emergency Ward', 27, 60)
Row 18452 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 30, 16), 'ICU', 24, 51)
Row 18453 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 30, 24), 'Surgical Ward', 24, 65)
Row 18454 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 31), 'Maternity Ward', 23, 66)
Row 18455 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 31, 26), 'Emergency Ward', 27, 60)
Row 18456 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 31, 35), 'ICU', 24, 51)
Row 18457 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 31, 44), 'Surgical Ward', 24, 65)
Row 18458 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 32, 20), 'Maternity Ward', 23, 66)
Row 18459 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 32, 35), 'Emergency Ward', 27, 60)
Row 18460 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 32, 55), 'ICU', 24, 51)
Row 18461 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 32, 58), 'Surgical Ward', 24, 65)
Row 18462 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 33, 34), 'Maternity Ward', 23, 66)
Row 18463 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 33, 56), 'Emergency Ward', 27, 60)
Row 18464 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 34, 7), 'Surgical Ward', 24, 65)
Row 18465 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 34, 14), 'ICU', 24, 51)
Row 18466 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 34, 43), 'Maternity Ward', 23, 66)
Row 18467 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 35, 17), 'Emergency Ward', 27, 60)
Row 18468 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 35, 27), 'Surgical Ward', 24, 65)
Row 18469 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 35, 32), 'ICU', 24, 51)

Row 18470 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 36, 3), 'Maternity Ward', 23, 66)
Row 18471 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 36, 38), 'Emergency Ward', 27, 60)
Row 18472 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 36, 44), 'ICU', 24, 51)
Row 18473 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 36, 47), 'Surgical Ward', 24, 65)
Row 18474 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 37, 25), 'Maternity Ward', 23, 66)
Row 18475 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 37, 52), 'ICU', 24, 51)
Row 18476 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 38), 'Emergency Ward', 27, 60)
Row 18477 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 38, 8), 'Surgical Ward', 24, 65)
Row 18478 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 38, 44), 'Maternity Ward', 23, 67)
Row 18479 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 39, 13), 'ICU', 24, 51)
Row 18480 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 39, 20), 'Emergency Ward', 27, 60)
Row 18481 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 39, 28), 'Surgical Ward', 24, 65)
Row 18482 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 40, 4), 'Maternity Ward', 23, 67)
Row 18483 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 40, 30), 'ICU', 24, 51)
Row 18484 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 40, 41), 'Emergency Ward', 28, 60)
Row 18485 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 40, 49), 'Surgical Ward', 24, 65)
Row 18486 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 41, 25), 'Maternity Ward', 23, 67)
Row 18487 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 41, 50), 'ICU', 24, 51)
Row 18488 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 42, 2), 'Emergency Ward', 27, 60)
Row 18489 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 42, 9), 'Surgical Ward', 24, 65)
Row 18490 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 42, 45), 'Maternity Ward', 23, 67)
Row 18491 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 43, 9), 'ICU', 24, 50)
Row 18492 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 43, 23), 'Emergency Ward', 27, 60)
Row 18493 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 43, 31), 'Surgical Ward', 24, 65)
Row 18494 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 44, 5), 'Maternity Ward', 23, 67)
Row 18495 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 44, 28), 'ICU', 24, 50)
Row 18496 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 44, 44), 'Emergency Ward', 27, 60)
Row 18497 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 44, 50), 'Surgical Ward', 24, 65)
Row 18498 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 45, 26), 'Maternity Ward', 23, 67)
Row 18499 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 45, 47), 'ICU', 27, 54)
Row 18500 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 45, 58), 'Emergency Ward', 27, 60)
Row 18501 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 46, 11), 'Surgical Ward', 24, 65)
Row 18502 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 46, 47), 'Maternity Ward', 23, 67)
Row 18503 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 47, 6), 'ICU', 24, 50)
Row 18504 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 47, 7), 'Emergency Ward', 27, 60)
Row 18505 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 47, 24), 'Surgical Ward', 24, 65)
Row 18506 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 48, 2), 'Maternity Ward', 23, 67)
Row 18507 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 48, 25), 'ICU', 24, 51)
Row 18508 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 48, 28), 'Emergency Ward', 27, 60)
Row 18509 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 48, 34), 'Surgical Ward', 24, 65)
Row 18510 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 49, 9), 'Maternity Ward', 23, 67)
Row 18511 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 49, 44), 'ICU', 24, 51)
Row 18512 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 49, 49), 'Emergency Ward', 27, 60)
Row 18513 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 49, 54), 'Surgical Ward', 24, 65)
Row 18514 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 50, 29), 'Maternity Ward', 23, 67)
Row 18515 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 50, 58), 'ICU', 24, 50)
Row 18516 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 51, 10), 'Emergency Ward', 27, 60)

Row 18517 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 51, 14), 'Surgical Ward', 24, 65)
Row 18518 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 51, 50), 'Maternity Ward', 23, 67)
Row 18519 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 52, 4), 'ICU', 24, 51)
Row 18520 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 52, 31), 'Emergency Ward', 27, 60)
Row 18521 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 52, 35), 'Surgical Ward', 24, 65)
Row 18522 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 53, 10), 'Maternity Ward', 23, 67)
Row 18523 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 53, 23), 'ICU', 24, 51)
Row 18524 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 53, 52), 'Emergency Ward', 27, 60)
Row 18525 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 53, 55), 'Surgical Ward', 24, 65)
Row 18526 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 54, 30), 'Maternity Ward', 23, 67)
Row 18527 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 54, 42), 'ICU', 24, 50)
Row 18528 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 55, 13), 'Emergency Ward', 27, 60)
Row 18529 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 55, 15), 'Surgical Ward', 24, 65)
Row 18530 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 55, 51), 'Maternity Ward', 23, 67)
Row 18531 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 56, 1), 'ICU', 24, 51)
Row 18532 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 56, 34), 'Emergency Ward', 27, 60)
Row 18533 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 56, 36), 'Surgical Ward', 24, 65)
Row 18534 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 57, 11), 'Maternity Ward', 23, 67)
Row 18535 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 57, 20), 'ICU', 24, 51)
Row 18536 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 57, 55), 'Emergency Ward', 27, 60)
Row 18537 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 57, 56), 'Surgical Ward', 24, 65)
Row 18538 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 58, 31), 'Maternity Ward', 23, 67)
Row 18539 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 58, 39), 'ICU', 24, 51)
Row 18540 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 59, 15), 'Emergency Ward', 27, 60)
Row 18541 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 59, 17), 'Surgical Ward', 24, 65)
Row 18542 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 59, 52), 'Maternity Ward', 23, 67)
Row 18543 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 22, 59, 58), 'ICU', 24, 50)
Row 18544 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 0, 30), 'Emergency Ward', 27, 60)
Row 18545 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 0, 37), 'Surgical Ward', 24, 65)
Row 18546 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 1, 12), 'Maternity Ward', 23, 67)
Row 18547 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 1, 17), 'ICU', 24, 50)
Row 18548 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 1, 39), 'Emergency Ward', 27, 60)
Row 18549 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 1, 51), 'Surgical Ward', 24, 65)
Row 18550 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 2, 26), 'Maternity Ward', 24, 67)
Row 18551 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 2, 37), 'ICU', 24, 50)
Row 18552 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 3), 'Surgical Ward', 24, 65)
Row 18553 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 3), 'Emergency Ward', 27, 60)
Row 18554 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 3, 35), 'Maternity Ward', 23, 67)
Row 18555 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 3, 56), 'ICU', 27, 53)
Row 18556 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 4, 25), 'Surgical Ward', 24, 65)
Row 18557 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 4, 26), 'Emergency Ward', 27, 60)
Row 18558 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 4, 55), 'Maternity Ward', 24, 67)
Row 18559 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 5, 8), 'ICU', 24, 50)
Row 18560 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 5, 41), 'Surgical Ward', 24, 65)
Row 18561 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 5, 42), 'Emergency Ward', 27, 60)
Row 18562 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 6, 15), 'Maternity Ward', 23, 67)
Row 18563 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 6, 16), 'ICU', 24, 50)
Row 18564 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 7, 1), 'Surgical Ward', 24, 65)
Row 18565 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 7, 3), 'Emergency Ward', 27, 60)

Row 18566 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 7, 34), 'ICU', 24, 50)
Row 18567 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 7, 36), 'Maternity Ward', 23, 67)
Row 18568 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 8, 22), 'Surgical Ward', 24, 65)
Row 18569 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 8, 24), 'Emergency Ward', 27, 60)
Row 18570 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 8, 54), 'ICU', 24, 50)
Row 18571 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 8, 56), 'Maternity Ward', 23, 67)
Row 18572 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 9, 42), 'Surgical Ward', 24, 65)
Row 18573 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 9, 45), 'Emergency Ward', 27, 60)
Row 18574 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 10, 13), 'ICU', 24, 50)
Row 18575 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 10, 17), 'Maternity Ward', 23, 67)
Row 18576 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 11, 3), 'Surgical Ward', 24, 65)
Row 18577 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 11, 6), 'Emergency Ward', 27, 60)
Row 18578 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 11, 32), 'ICU', 24, 51)
Row 18579 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 11, 37), 'Maternity Ward', 23, 68)
Row 18580 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 12, 23), 'Surgical Ward', 24, 65)
Row 18581 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 12, 26), 'Emergency Ward', 27, 60)
Row 18582 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 12, 51), 'ICU', 24, 50)
Row 18583 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 12, 57), 'Maternity Ward', 23, 67)
Row 18584 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 13, 43), 'Surgical Ward', 24, 65)
Row 18585 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 13, 47), 'Emergency Ward', 27, 60)
Row 18586 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 14, 10), 'ICU', 24, 51)
Row 18587 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 14, 18), 'Maternity Ward', 23, 67)
Row 18588 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 15, 1), 'Emergency Ward', 27, 60)
Row 18589 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 15, 4), 'Surgical Ward', 24, 65)
Row 18590 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 15, 29), 'ICU', 24, 51)
Row 18591 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 15, 38), 'Maternity Ward', 23, 67)
Row 18592 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 16, 11), 'Emergency Ward', 27, 60)
Row 18593 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 16, 17), 'Surgical Ward', 24, 65)
Row 18594 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 16, 48), 'ICU', 24, 50)
Row 18595 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 16, 52), 'Maternity Ward', 23, 67)
Row 18596 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 17, 26), 'Surgical Ward', 24, 65)
Row 18597 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 17, 32), 'Emergency Ward', 27, 60)
Row 18598 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 18, 1), 'Maternity Ward', 23, 67)
Row 18599 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 18, 8), 'ICU', 24, 51)
Row 18600 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 18, 47), 'Surgical Ward', 24, 66)
Row 18601 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 18, 53), 'Emergency Ward', 28, 60)
Row 18602 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 19, 19), 'ICU', 27, 53)
Row 18603 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 19, 21), 'Maternity Ward', 23, 68)
Row 18604 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 20, 7), 'Surgical Ward', 24, 65)
Row 18605 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 20, 13), 'Emergency Ward', 27, 60)
Row 18606 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 20, 27), 'ICU', 24, 50)
Row 18607 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 20, 41), 'Maternity Ward', 23, 67)
Row 18608 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 21, 28), 'Surgical Ward', 24, 65)
Row 18609 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 21, 34), 'Emergency Ward', 27, 60)
Row 18610 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 21, 46), 'ICU', 24, 50)
Row 18611 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 22, 2), 'Maternity Ward', 24, 67)
Row 18612 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 22, 48), 'Surgical Ward', 24, 65)
Row 18613 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 22, 56), 'Emergency Ward', 27, 60)
Row 18614 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 23, 5), 'ICU', 24, 50)

Row 18615 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 23, 22), 'Maternity Ward', 23, 67)
Row 18616 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 24, 9), 'Surgical Ward', 24, 65)
Row 18617 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 24, 16), 'Emergency Ward', 27, 60)
Row 18618 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 24, 24), 'ICU', 24, 50)
Row 18619 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 24, 43), 'Maternity Ward', 23, 68)
Row 18620 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 25, 29), 'Surgical Ward', 24, 66)
Row 18621 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 25, 37), 'Emergency Ward', 27, 60)
Row 18622 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 25, 43), 'ICU', 27, 53)
Row 18623 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 26, 3), 'Maternity Ward', 23, 68)
Row 18624 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 26, 50), 'Surgical Ward', 24, 66)
Row 18625 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 26, 58), 'Emergency Ward', 27, 60)
Row 18626 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 27, 3), 'ICU', 27, 53)
Row 18627 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 27, 23), 'Maternity Ward', 23, 68)
Row 18628 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 28, 11), 'Surgical Ward', 24, 65)
Row 18629 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 28, 19), 'Emergency Ward', 27, 60)
Row 18630 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 28, 22), 'ICU', 24, 50)
Row 18631 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 28, 44), 'Maternity Ward', 23, 68)
Row 18632 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 29, 31), 'Surgical Ward', 24, 65)
Row 18633 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 29, 33), 'Emergency Ward', 27, 60)
Row 18634 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 29, 41), 'ICU', 24, 50)
Row 18635 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 30, 4), 'Maternity Ward', 23, 68)
Row 18636 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 30, 43), 'Emergency Ward', 27, 60)
Row 18637 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 30, 44), 'Surgical Ward', 24, 66)
Row 18638 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 31), 'ICU', 24, 50)
Row 18639 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 31, 18), 'Maternity Ward', 23, 68)
Row 18640 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 31, 53), 'Surgical Ward', 24, 66)
Row 18641 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 32, 5), 'Emergency Ward', 27, 60)
Row 18642 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 32, 19), 'ICU', 27, 53)
Row 18643 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 32, 26), 'Maternity Ward', 23, 68)
Row 18644 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 33, 14), 'Surgical Ward', 24, 66)
Row 18645 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 33, 25), 'Emergency Ward', 27, 60)
Row 18646 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 33, 31), 'ICU', 24, 51)
Row 18647 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 33, 47), 'Maternity Ward', 23, 68)
Row 18648 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 34, 34), 'Surgical Ward', 24, 66)
Row 18649 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 34, 39), 'ICU', 24, 51)
Row 18650 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 34, 46), 'Emergency Ward', 27, 60)
Row 18651 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 35, 7), 'Maternity Ward', 23, 68)
Row 18652 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 35, 54), 'Surgical Ward', 24, 65)
Row 18653 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 35, 58), 'ICU', 24, 51)
Row 18654 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 36, 7), 'Emergency Ward', 27, 60)
Row 18655 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 36, 28), 'Maternity Ward', 23, 68)
Row 18656 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 37, 15), 'Surgical Ward', 24, 65)
Row 18657 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 37, 17), 'ICU', 24, 51)
Row 18658 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 37, 28), 'Emergency Ward', 27, 60)
Row 18659 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 37, 48), 'Maternity Ward', 23, 68)
Row 18660 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 38, 35), 'Surgical Ward', 24, 66)
Row 18661 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 38, 36), 'ICU', 24, 51)
Row 18662 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 38, 48), 'Emergency Ward', 28, 60)
Row 18663 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 39, 8), 'Maternity Ward', 23, 68)

Row 18664 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 39, 55), 'ICU', 24, 51)
Row 18665 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 39, 56), 'Surgical Ward', 24, 66)
Row 18666 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 41, 14), 'ICU', 24, 51)
Row 18667 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 41, 16), 'Surgical Ward', 24, 66)
Row 18668 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 41, 30), 'Emergency Ward', 27, 60)
Row 18669 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 41, 49), 'Maternity Ward', 23, 68)
Row 18670 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 42, 33), 'ICU', 27, 54)
Row 18671 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 42, 37), 'Surgical Ward', 24, 66)
Row 18672 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 42, 51), 'Emergency Ward', 27, 60)
Row 18673 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 43, 10), 'Maternity Ward', 23, 68)
Row 18674 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 43, 52), 'ICU', 24, 51)
Row 18675 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 43, 57), 'Surgical Ward', 24, 66)
Row 18676 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 44, 5), 'Emergency Ward', 27, 60)
Row 18677 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 44, 30), 'Maternity Ward', 23, 68)
Row 18678 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 45, 10), 'Surgical Ward', 24, 66)
Row 18679 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 45, 12), 'ICU', 24, 51)
Row 18680 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 45, 15), 'Emergency Ward', 27, 60)
Row 18681 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 45, 44), 'Maternity Ward', 23, 68)
Row 18682 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 46, 20), 'Surgical Ward', 24, 66)
Row 18683 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 46, 31), 'ICU', 24, 50)
Row 18684 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 46, 36), 'Emergency Ward', 27, 60)
Row 18685 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 46, 52), 'Maternity Ward', 23, 68)
Row 18686 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 47, 40), 'Surgical Ward', 24, 66)
Row 18687 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 47, 43), 'ICU', 24, 51)
Row 18688 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 47, 57), 'Emergency Ward', 27, 60)
Row 18689 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 48, 13), 'Maternity Ward', 23, 68)
Row 18690 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 48, 50), 'ICU', 24, 51)
Row 18691 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 49), 'Surgical Ward', 24, 66)
Row 18692 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 49, 18), 'Emergency Ward', 27, 60)
Row 18693 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 49, 33), 'Maternity Ward', 23, 68)
Row 18694 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 50, 9), 'ICU', 24, 51)
Row 18695 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 50, 21), 'Surgical Ward', 24, 66)
Row 18696 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 50, 38), 'Emergency Ward', 27, 60)
Row 18697 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 50, 54), 'Maternity Ward', 23, 68)
Row 18698 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 51, 29), 'ICU', 24, 51)
Row 18699 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 51, 41), 'Surgical Ward', 24, 66)
Row 18700 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 51, 59), 'Emergency Ward', 27, 60)
Row 18701 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 52, 14), 'Maternity Ward', 23, 68)
Row 18702 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 52, 48), 'ICU', 24, 51)
Row 18703 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 53, 2), 'Surgical Ward', 24, 66)
Row 18704 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 53, 20), 'Emergency Ward', 27, 60)
Row 18705 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 53, 34), 'Maternity Ward', 23, 68)
Row 18706 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 54, 7), 'ICU', 24, 51)
Row 18707 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 54, 22), 'Surgical Ward', 24, 66)
Row 18708 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 54, 41), 'Emergency Ward', 27, 60)
Row 18709 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 54, 55), 'Maternity Ward', 23, 68)
Row 18710 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 55, 26), 'ICU', 24, 51)
Row 18711 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 55, 43), 'Surgical Ward', 24, 66)
Row 18712 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 56, 2), 'Emergency Ward', 27, 60)
Row 18713 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 56, 15), 'Maternity Ward', 23, 68)

Row 18714 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 56, 45), 'ICU', 24, 51)
Row 18715 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 57, 3), 'Surgical Ward', 24, 66)
Row 18716 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 57, 23), 'Emergency Ward', 28, 60)
Row 18717 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 57, 36), 'Maternity Ward', 23, 68)
Row 18718 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 58, 4), 'ICU', 24, 51)
Row 18719 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 58, 24), 'Surgical Ward', 24, 66)
Row 18720 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 58, 37), 'Emergency Ward', 27, 60)
Row 18721 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 58, 56), 'Maternity Ward', 23, 68)
Row 18722 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 59, 23), 'ICU', 24, 51)
Row 18723 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 59, 37), 'Surgical Ward', 24, 66)
Row 18724 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 17, 23, 59, 47), 'Emergency Ward', 27, 60)
Row 18725 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 0, 10), 'Maternity Ward', 23, 69)
Row 18726 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 0, 42), 'ICU', 24, 51)
Row 18727 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 0, 46), 'Surgical Ward', 24, 66)
Row 18728 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 1, 7), 'Emergency Ward', 27, 60)
Row 18729 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 1, 18), 'Maternity Ward', 23, 68)
Row 18730 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 1, 54), 'ICU', 24, 51)
Row 18731 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 2, 7), 'Surgical Ward', 24, 66)
Row 18732 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 2, 29), 'Emergency Ward', 27, 60)
Row 18733 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 2, 39), 'Maternity Ward', 23, 68)
Row 18734 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 3, 2), 'ICU', 24, 51)
Row 18735 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 3, 27), 'Surgical Ward', 24, 66)
Row 18736 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 3, 49), 'Emergency Ward', 27, 60)
Row 18737 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 3, 59), 'Maternity Ward', 23, 68)
Row 18738 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 4, 21), 'ICU', 24, 51)
Row 18739 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 4, 48), 'Surgical Ward', 24, 66)
Row 18740 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 5, 10), 'Emergency Ward', 27, 60)
Row 18741 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 5, 20), 'Maternity Ward', 23, 68)
Row 18742 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 5, 40), 'ICU', 24, 51)
Row 18743 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 6, 8), 'Surgical Ward', 24, 66)
Row 18744 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 6, 31), 'Emergency Ward', 27, 60)
Row 18745 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 6, 40), 'Maternity Ward', 23, 68)
Row 18746 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 6, 59), 'ICU', 24, 51)
Row 18747 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 7, 28), 'Surgical Ward', 24, 66)
Row 18748 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 7, 52), 'Emergency Ward', 27, 60)
Row 18749 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 8, 1), 'Maternity Ward', 23, 68)
Row 18750 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 8, 18), 'ICU', 24, 51)
Row 18751 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 8, 49), 'Surgical Ward', 24, 66)
Row 18752 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 9, 13), 'Emergency Ward', 27, 60)
Row 18753 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 9, 21), 'Maternity Ward', 23, 69)
Row 18754 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 9, 37), 'ICU', 24, 51)
Row 18755 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 10, 9), 'Surgical Ward', 24, 66)
Row 18756 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 10, 34), 'Emergency Ward', 27, 60)
Row 18757 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 10, 41), 'Maternity Ward', 23, 70)
Row 18758 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 10, 57), 'ICU', 24, 51)
Row 18759 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 11, 30), 'Surgical Ward', 24, 66)
Row 18760 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 11, 55), 'Emergency Ward', 27, 60)
Row 18761 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 12, 2), 'Maternity Ward', 23, 69)
Row 18762 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 12, 16), 'ICU', 24, 51)

Row 18763 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 12, 50), 'Surgical Ward', 24, 66)
Row 18764 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 13, 9), 'Emergency Ward', 27, 60)
Row 18765 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 13, 22), 'Maternity Ward', 23, 69)
Row 18766 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 13, 35), 'ICU', 24, 51)
Row 18767 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 14, 4), 'Surgical Ward', 24, 66)
Row 18768 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 14, 18), 'Emergency Ward', 27, 60)
Row 18769 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 14, 35), 'Maternity Ward', 23, 68)
Row 18770 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 14, 54), 'ICU', 24, 51)
Row 18771 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 15, 13), 'Surgical Ward', 24, 66)
Row 18772 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 15, 39), 'Emergency Ward', 27, 60)
Row 18773 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 15, 44), 'Maternity Ward', 23, 69)
Row 18774 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 16, 6), 'ICU', 24, 51)
Row 18775 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 16, 33), 'Surgical Ward', 24, 66)
Row 18776 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 17), 'Emergency Ward', 28, 60)
Row 18777 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 17, 5), 'Maternity Ward', 23, 69)
Row 18778 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 17, 14), 'ICU', 24, 51)
Row 18779 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 17, 54), 'Surgical Ward', 24, 66)
Row 18780 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 18, 22), 'Emergency Ward', 27, 60)
Row 18781 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 18, 25), 'Maternity Ward', 23, 69)
Row 18782 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 18, 33), 'ICU', 27, 54)
Row 18783 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 19, 14), 'Surgical Ward', 24, 66)
Row 18784 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 19, 42), 'Emergency Ward', 27, 60)
Row 18785 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 19, 46), 'Maternity Ward', 23, 69)
Row 18786 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 19, 52), 'ICU', 24, 51)
Row 18787 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 20, 35), 'Surgical Ward', 24, 66)
Row 18788 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 21, 3), 'Emergency Ward', 27, 60)
Row 18789 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 21, 6), 'Maternity Ward', 23, 69)
Row 18790 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 21, 11), 'ICU', 24, 51)
Row 18791 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 21, 55), 'Surgical Ward', 24, 66)
Row 18792 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 22, 24), 'Emergency Ward', 28, 60)
Row 18793 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 22, 26), 'Maternity Ward', 23, 69)
Row 18794 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 22, 30), 'ICU', 27, 54)
Row 18795 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 23, 16), 'Surgical Ward', 24, 66)
Row 18796 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 23, 45), 'Emergency Ward', 28, 60)
Row 18797 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 23, 47), 'Maternity Ward', 23, 69)
Row 18798 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 23, 49), 'ICU', 24, 51)
Row 18799 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 24, 36), 'Surgical Ward', 24, 66)
Row 18800 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 25, 6), 'Emergency Ward', 27, 60)
Row 18801 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 25, 7), 'Maternity Ward', 23, 69)
Row 18802 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 25, 8), 'ICU', 24, 51)
Row 18803 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 25, 57), 'Surgical Ward', 24, 66)
Row 18804 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 26, 27), 'Emergency Ward', 27, 60)
Row 18805 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 26, 27), 'ICU', 27, 54)
Row 18806 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 26, 28), 'Maternity Ward', 23, 69)
Row 18807 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 27, 41), 'Emergency Ward', 27, 60)
Row 18808 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 27, 46), 'ICU', 24, 51)
Row 18809 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 27, 48), 'Maternity Ward', 23, 69)
Row 18810 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 28, 30), 'Surgical Ward', 24, 66)
Row 18811 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 28, 50), 'Emergency Ward', 27, 60)
Row 18812 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 29, 1), 'Maternity Ward', 23, 69)

Row 18813 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 29, 5), 'ICU', 24, 51)
Row 18814 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 29, 39), 'Surgical Ward', 24, 66)
Row 18815 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 30, 10), 'Maternity Ward', 23, 69)
Row 18816 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 30, 11), 'Emergency Ward', 27, 60)
Row 18817 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 30, 19), 'ICU', 24, 51)
Row 18818 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 31), 'Surgical Ward', 24, 66)
Row 18819 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 31, 25), 'ICU', 24, 51)
Row 18820 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 31, 31), 'Maternity Ward', 23, 69)
Row 18821 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 31, 32), 'Emergency Ward', 27, 60)
Row 18822 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 32, 20), 'Surgical Ward', 24, 66)
Row 18823 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 32, 44), 'ICU', 24, 51)
Row 18824 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 32, 51), 'Maternity Ward', 23, 69)
Row 18825 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 32, 53), 'Emergency Ward', 27, 60)
Row 18826 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 33, 41), 'Surgical Ward', 24, 66)
Row 18827 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 34, 3), 'ICU', 24, 51)
Row 18828 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 34, 12), 'Maternity Ward', 23, 69)
Row 18829 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 34, 14), 'Emergency Ward', 27, 60)
Row 18830 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 35, 1), 'Surgical Ward', 24, 66)
Row 18831 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 35, 23), 'ICU', 24, 51)
Row 18832 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 35, 32), 'Maternity Ward', 23, 69)
Row 18833 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 35, 35), 'Emergency Ward', 28, 60)
Row 18834 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 36, 22), 'Surgical Ward', 24, 66)
Row 18835 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 36, 42), 'ICU', 24, 51)
Row 18836 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 36, 52), 'Maternity Ward', 23, 69)
Row 18837 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 36, 56), 'Emergency Ward', 28, 60)
Row 18838 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 37, 42), 'Surgical Ward', 24, 66)
Row 18839 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 38, 1), 'ICU', 24, 51)
Row 18840 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 38, 13), 'Maternity Ward', 23, 70)
Row 18841 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 38, 17), 'Emergency Ward', 28, 60)
Row 18842 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 39, 3), 'Surgical Ward', 24, 66)
Row 18843 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 39, 20), 'ICU', 24, 51)
Row 18844 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 39, 33), 'Maternity Ward', 23, 69)
Row 18845 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 39, 38), 'Emergency Ward', 27, 60)
Row 18846 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 40, 23), 'Surgical Ward', 24, 66)
Row 18847 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 40, 39), 'ICU', 24, 51)
Row 18848 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 40, 55), 'Maternity Ward', 23, 69)
Row 18849 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 40, 59), 'Emergency Ward', 27, 60)
Row 18850 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 41, 44), 'Surgical Ward', 24, 66)
Row 18851 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 41, 58), 'ICU', 24, 51)
Row 18852 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 42, 13), 'Emergency Ward', 27, 60)
Row 18853 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 42, 14), 'Maternity Ward', 23, 69)
Row 18854 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 42, 57), 'Surgical Ward', 24, 66)
Row 18855 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 43, 17), 'ICU', 24, 51)
Row 18856 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 43, 22), 'Emergency Ward', 28, 60)
Row 18857 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 43, 27), 'Maternity Ward', 23, 69)
Row 18858 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 44, 6), 'Surgical Ward', 24, 66)
Row 18859 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 44, 29), 'ICU', 24, 51)
Row 18860 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 44, 36), 'Maternity Ward', 23, 69)
Row 18861 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 44, 43), 'Emergency Ward', 27, 60)

Row 18862 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 45, 27), 'Surgical Ward', 24, 66)
Row 18863 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 45, 37), 'ICU', 24, 51)
Row 18864 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 45, 57), 'Maternity Ward', 23, 69)
Row 18865 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 46, 4), 'Emergency Ward', 27, 60)
Row 18866 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 46, 47), 'Surgical Ward', 24, 66)
Row 18867 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 46, 56), 'ICU', 24, 51)
Row 18868 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 47, 17), 'Maternity Ward', 23, 69)
Row 18869 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 47, 25), 'Emergency Ward', 27, 60)
Row 18870 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 48, 7), 'Surgical Ward', 24, 66)
Row 18871 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 48, 15), 'ICU', 24, 51)
Row 18872 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 48, 38), 'Maternity Ward', 23, 70)
Row 18873 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 48, 46), 'Emergency Ward', 27, 60)
Row 18874 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 49, 28), 'Surgical Ward', 24, 66)
Row 18875 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 49, 34), 'ICU', 24, 51)
Row 18876 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 49, 58), 'Maternity Ward', 23, 69)
Row 18877 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 50, 7), 'Emergency Ward', 27, 60)
Row 18878 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 50, 49), 'Surgical Ward', 24, 66)
Row 18879 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 50, 53), 'ICU', 24, 51)
Row 18880 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 51, 18), 'Maternity Ward', 23, 69)
Row 18881 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 51, 28), 'Emergency Ward', 28, 60)
Row 18882 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 52, 9), 'Surgical Ward', 24, 66)
Row 18883 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 52, 13), 'ICU', 27, 54)
Row 18884 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 52, 39), 'Maternity Ward', 23, 69)
Row 18885 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 52, 49), 'Emergency Ward', 27, 60)
Row 18886 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 53, 29), 'Surgical Ward', 24, 66)
Row 18887 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 53, 32), 'ICU', 24, 51)
Row 18888 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 53, 59), 'Maternity Ward', 23, 69)
Row 18889 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 54, 10), 'Emergency Ward', 28, 60)
Row 18890 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 54, 50), 'Surgical Ward', 24, 66)
Row 18891 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 54, 51), 'ICU', 24, 51)
Row 18892 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 55, 20), 'Maternity Ward', 23, 69)
Row 18893 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 55, 31), 'Emergency Ward', 28, 60)
Row 18894 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 56, 10), 'ICU', 24, 51)
Row 18895 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 56, 11), 'Surgical Ward', 24, 66)
Row 18896 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 56, 40), 'Maternity Ward', 23, 70)
Row 18897 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 56, 45), 'Emergency Ward', 28, 60)
Row 18898 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 57, 24), 'Surgical Ward', 24, 66)
Row 18899 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 57, 29), 'ICU', 24, 51)
Row 18900 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 57, 53), 'Maternity Ward', 24, 69)
Row 18901 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 57, 54), 'Emergency Ward', 27, 60)
Row 18902 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 58, 33), 'Surgical Ward', 24, 66)
Row 18903 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 58, 41), 'ICU', 27, 54)
Row 18904 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 59, 2), 'Maternity Ward', 23, 69)
Row 18905 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 59, 15), 'Emergency Ward', 28, 60)
Row 18906 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 59, 49), 'ICU', 24, 51)
Row 18907 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 0, 59, 53), 'Surgical Ward', 24, 66)
Row 18908 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 0, 23), 'Maternity Ward', 23, 70)

Row 18909 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 1, 8), 'ICU', 24, 51)
Row 18910 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 1, 14), 'Surgical Ward', 24, 66)
Row 18911 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 1, 43), 'Maternity Ward', 23, 69)
Row 18912 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 1, 57), 'Emergency Ward', 27, 60)
Row 18913 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 2, 27), 'ICU', 24, 51)
Row 18914 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 2, 34), 'Surgical Ward', 24, 66)
Row 18915 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 3, 3), 'Maternity Ward', 23, 69)
Row 18916 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 3, 18), 'Emergency Ward', 28, 60)
Row 18917 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 3, 46), 'ICU', 24, 51)
Row 18918 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 3, 55), 'Surgical Ward', 24, 66)
Row 18919 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 4, 24), 'Maternity Ward', 23, 69)
Row 18920 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 4, 39), 'Emergency Ward', 27, 60)
Row 18921 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 5, 5), 'ICU', 24, 51)
Row 18922 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 5, 15), 'Surgical Ward', 24, 66)
Row 18923 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 5, 44), 'Maternity Ward', 23, 69)
Row 18924 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 6), 'Emergency Ward', 28, 60)
Row 18925 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 6, 24), 'ICU', 24, 51)
Row 18926 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 6, 36), 'Surgical Ward', 24, 66)
Row 18927 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 7, 5), 'Maternity Ward', 23, 69)
Row 18928 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 7, 21), 'Emergency Ward', 28, 60)
Row 18929 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 7, 43), 'ICU', 24, 51)
Row 18930 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 7, 56), 'Surgical Ward', 24, 66)
Row 18931 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 8, 25), 'Maternity Ward', 23, 69)
Row 18932 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 8, 42), 'Emergency Ward', 28, 60)
Row 18933 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 9, 2), 'ICU', 24, 51)
Row 18934 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 9, 16), 'Surgical Ward', 24, 66)
Row 18935 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 9, 46), 'Maternity Ward', 23, 69)
Row 18936 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 10, 3), 'Emergency Ward', 27, 60)
Row 18937 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 10, 21), 'ICU', 24, 51)
Row 18938 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 10, 37), 'Surgical Ward', 24, 66)
Row 18939 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 11, 6), 'Maternity Ward', 24, 70)
Row 18940 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 11, 16), 'Emergency Ward', 27, 60)
Row 18941 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 11, 40), 'ICU', 24, 51)
Row 18942 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 11, 50), 'Surgical Ward', 24, 66)
Row 18943 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 12, 19), 'Maternity Ward', 23, 70)
Row 18944 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 12, 26), 'Emergency Ward', 27, 60)
Row 18945 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 12, 53), 'ICU', 24, 51)
Row 18946 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 12, 59), 'Surgical Ward', 24, 66)
Row 18947 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 13, 28), 'Maternity Ward', 23, 70)
Row 18948 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 13, 47), 'Emergency Ward', 27, 60)
Row 18949 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 14), 'ICU', 27, 54)
Row 18950 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 14, 20), 'Surgical Ward', 24, 66)
Row 18951 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 14, 50), 'Maternity Ward', 23, 70)
Row 18952 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 15, 8), 'Emergency Ward', 27, 60)
Row 18953 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 15, 19), 'ICU', 24, 52)
Row 18954 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 15, 40), 'Surgical Ward', 24, 66)
Row 18955 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 16, 9), 'Maternity Ward', 24, 70)
Row 18956 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 16, 29), 'Emergency Ward', 27, 60)

Row 18957 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 16, 38), 'ICU', 24, 51)
Row 18958 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 17, 1), 'Surgical Ward', 24, 66)
Row 18959 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 17, 29), 'Maternity Ward', 23, 70)
Row 18960 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 17, 50), 'Emergency Ward', 27, 60)
Row 18961 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 17, 57), 'ICU', 24, 52)
Row 18962 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 18, 21), 'Surgical Ward', 24, 66)
Row 18963 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 18, 50), 'Maternity Ward', 23, 70)
Row 18964 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 19, 11), 'Emergency Ward', 27, 60)
Row 18965 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 19, 17), 'ICU', 24, 52)
Row 18966 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 19, 42), 'Surgical Ward', 24, 66)
Row 18967 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 20, 10), 'Maternity Ward', 23, 70)
Row 18968 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 20, 32), 'Emergency Ward', 27, 60)
Row 18969 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 20, 36), 'ICU', 24, 52)
Row 18970 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 21, 2), 'Surgical Ward', 24, 66)
Row 18971 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 21, 31), 'Maternity Ward', 23, 70)
Row 18972 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 21, 53), 'Emergency Ward', 27, 60)
Row 18973 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 21, 55), 'ICU', 24, 52)
Row 18974 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 22, 23), 'Surgical Ward', 24, 66)
Row 18975 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 22, 51), 'Maternity Ward', 23, 70)
Row 18976 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 23, 14), 'Emergency Ward', 27, 60)
Row 18977 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 23, 14), 'ICU', 24, 52)
Row 18978 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 23, 43), 'Surgical Ward', 24, 66)
Row 18979 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 24, 12), 'Maternity Ward', 23, 70)
Row 18980 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 24, 33), 'ICU', 24, 52)
Row 18981 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 24, 35), 'Emergency Ward', 27, 60)
Row 18982 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 25, 4), 'Surgical Ward', 24, 66)
Row 18983 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 25, 32), 'Maternity Ward', 23, 70)
Row 18984 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 25, 48), 'Emergency Ward', 27, 60)
Row 18985 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 25, 52), 'ICU', 24, 52)
Row 18986 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 26, 17), 'Surgical Ward', 24, 66)
Row 18987 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 26, 45), 'Maternity Ward', 23, 70)
Row 18988 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 26, 58), 'Emergency Ward', 27, 60)
Row 18989 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 27, 4), 'ICU', 24, 52)
Row 18990 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 27, 26), 'Surgical Ward', 24, 66)
Row 18991 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 27, 54), 'Maternity Ward', 23, 70)
Row 18992 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 28, 12), 'ICU', 24, 53)
Row 18993 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 28, 19), 'Emergency Ward', 27, 60)
Row 18994 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 28, 46), 'Surgical Ward', 24, 66)
Row 18995 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 29, 15), 'Maternity Ward', 23, 70)
Row 18996 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 29, 31), 'ICU', 24, 52)
Row 18997 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 29, 40), 'Emergency Ward', 27, 60)
Row 18998 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 30, 7), 'Surgical Ward', 24, 66)
Row 18999 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 30, 35), 'Maternity Ward', 23, 70)
Row 19000 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 30, 50), 'ICU', 27, 54)
Row 19001 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 31, 1), 'Emergency Ward', 27, 60)
Row 19002 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 31, 27), 'Surgical Ward', 24, 66)
Row 19003 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 31, 55), 'Maternity Ward', 23, 70)
Row 19004 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 32, 9), 'ICU', 24, 52)
Row 19005 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 32, 22), 'Emergency Ward', 27, 60)
Row 19006 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 32, 48), 'Surgical Ward', 24, 66)

Row 19007 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 33, 16), 'Maternity Ward', 23, 69)
Row 19008 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 33, 29), 'ICU', 24, 53)
Row 19009 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 33, 43), 'Emergency Ward', 27, 60)
Row 19010 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 34, 8), 'Surgical Ward', 24, 66)
Row 19011 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 34, 36), 'Maternity Ward', 23, 70)
Row 19012 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 34, 47), 'ICU', 24, 53)
Row 19013 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 35, 4), 'Emergency Ward', 27, 60)
Row 19014 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 35, 29), 'Surgical Ward', 24, 66)
Row 19015 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 35, 57), 'Maternity Ward', 23, 70)
Row 19016 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 36, 6), 'ICU', 24, 53)
Row 19017 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 36, 24), 'Emergency Ward', 27, 60)
Row 19018 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 36, 49), 'Surgical Ward', 24, 66)
Row 19019 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 37, 17), 'Maternity Ward', 23, 70)
Row 19020 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 37, 26), 'ICU', 24, 52)
Row 19021 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 37, 45), 'Emergency Ward', 27, 60)
Row 19022 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 38, 10), 'Surgical Ward', 24, 66)
Row 19023 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 38, 37), 'Maternity Ward', 23, 70)
Row 19024 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 38, 45), 'ICU', 24, 53)
Row 19025 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 39, 6), 'Emergency Ward', 27, 60)
Row 19026 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 39, 30), 'Surgical Ward', 24, 66)
Row 19027 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 39, 58), 'Maternity Ward', 23, 70)
Row 19028 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 40, 4), 'ICU', 24, 52)
Row 19029 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 40, 20), 'Emergency Ward', 27, 60)
Row 19030 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 40, 44), 'Surgical Ward', 24, 66)
Row 19031 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 41, 11), 'Maternity Ward', 23, 70)
Row 19032 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 41, 16), 'ICU', 24, 53)
Row 19033 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 41, 30), 'Emergency Ward', 27, 60)
Row 19034 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 41, 53), 'Surgical Ward', 24, 66)
Row 19035 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 42, 20), 'Maternity Ward', 23, 70)
Row 19036 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 42, 23), 'ICU', 24, 53)
Row 19037 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 42, 51), 'Emergency Ward', 27, 60)
Row 19038 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 43, 13), 'Surgical Ward', 24, 66)
Row 19039 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 43, 41), 'Maternity Ward', 23, 70)
Row 19040 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 43, 43), 'ICU', 24, 53)
Row 19041 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 44, 12), 'Emergency Ward', 27, 60)
Row 19042 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 44, 34), 'Surgical Ward', 24, 66)
Row 19043 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 45, 1), 'Maternity Ward', 23, 70)
Row 19044 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 45, 2), 'ICU', 24, 53)
Row 19045 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 45, 33), 'Emergency Ward', 27, 60)
Row 19046 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 45, 54), 'Surgical Ward', 24, 66)
Row 19047 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 46, 21), 'ICU', 24, 53)
Row 19048 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 46, 21), 'Maternity Ward', 23, 70)
Row 19049 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 46, 54), 'Emergency Ward', 27, 60)
Row 19050 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 47, 15), 'Surgical Ward', 24, 66)
Row 19051 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 47, 40), 'ICU', 24, 53)
Row 19052 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 47, 42), 'Maternity Ward', 23, 70)
Row 19053 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 48, 14), 'Emergency Ward', 27, 60)

Row 19054 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 48, 35), 'Surgical Ward', 24, 66)
Row 19055 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 48, 59), 'ICU', 24, 53)
Row 19056 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 49, 2), 'Maternity Ward', 23, 70)
Row 19057 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 49, 35), 'Emergency Ward', 27, 60)
Row 19058 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 49, 55), 'Surgical Ward', 24, 66)
Row 19059 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 50, 18), 'ICU', 24, 53)
Row 19060 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 50, 23), 'Maternity Ward', 23, 70)
Row 19061 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 50, 56), 'Emergency Ward', 27, 60)
Row 19062 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 51, 16), 'Surgical Ward', 24, 66)
Row 19063 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 51, 37), 'ICU', 24, 53)
Row 19064 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 51, 43), 'Maternity Ward', 23, 70)
Row 19065 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 52, 17), 'Emergency Ward', 27, 60)
Row 19066 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 52, 36), 'Surgical Ward', 24, 66)
Row 19067 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 52, 56), 'ICU', 24, 53)
Row 19068 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 53, 4), 'Maternity Ward', 23, 70)
Row 19069 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 53, 38), 'Emergency Ward', 27, 60)
Row 19070 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 53, 57), 'Surgical Ward', 24, 66)
Row 19071 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 54, 15), 'ICU', 24, 53)
Row 19072 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 54, 24), 'Maternity Ward', 23, 70)
Row 19073 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 54, 52), 'Emergency Ward', 27, 60)
Row 19074 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 55, 10), 'Surgical Ward', 24, 66)
Row 19075 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 55, 28), 'ICU', 24, 53)
Row 19076 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 55, 38), 'Maternity Ward', 23, 70)
Row 19077 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 56, 2), 'Emergency Ward', 27, 60)
Row 19078 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 56, 19), 'Surgical Ward', 24, 66)
Row 19079 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 56, 35), 'ICU', 24, 53)
Row 19080 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 56, 46), 'Maternity Ward', 23, 70)
Row 19081 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 57, 22), 'Emergency Ward', 27, 60)
Row 19082 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 57, 40), 'Surgical Ward', 24, 66)
Row 19083 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 57, 54), 'ICU', 24, 53)
Row 19084 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 58, 7), 'Maternity Ward', 23, 70)
Row 19085 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 58, 43), 'Emergency Ward', 27, 60)
Row 19086 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 59), 'Surgical Ward', 24, 66)
Row 19087 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 59, 14), 'ICU', 24, 53)
Row 19088 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 1, 59, 27), 'Maternity Ward', 23, 70)
Row 19089 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 0, 4), 'Emergency Ward', 27, 60)
Row 19090 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 0, 21), 'Surgical Ward', 24, 66)
Row 19091 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 0, 32), 'ICU', 24, 53)
Row 19092 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 0, 47), 'Maternity Ward', 23, 70)
Row 19093 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 1, 25), 'Emergency Ward', 27, 61)
Row 19094 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 1, 41), 'Surgical Ward', 24, 66)
Row 19095 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 1, 52), 'ICU', 24, 53)
Row 19096 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 2, 8), 'Maternity Ward', 23, 70)
Row 19097 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 2, 46), 'Emergency Ward', 27, 61)
Row 19098 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 3, 2), 'Surgical Ward', 24, 66)
Row 19099 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 3, 11), 'ICU', 24, 53)
Row 19100 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 3, 28), 'Maternity Ward', 23, 70)

Row 19101 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 4, 7), 'Emergency Ward', 27, 60)
Row 19102 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 4, 22), 'Surgical Ward', 24, 66)
Row 19103 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 4, 30), 'ICU', 24, 53)
Row 19104 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 4, 49), 'Maternity Ward', 23, 70)
Row 19105 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 5, 28), 'Emergency Ward', 27, 61)
Row 19106 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 5, 43), 'Surgical Ward', 24, 66)
Row 19107 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 5, 49), 'ICU', 24, 53)
Row 19108 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 6, 9), 'Maternity Ward', 23, 70)
Row 19109 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 6, 49), 'Emergency Ward', 27, 60)
Row 19110 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 7, 3), 'Surgical Ward', 24, 66)
Row 19111 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 7, 8), 'ICU', 24, 54)
Row 19112 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 7, 29), 'Maternity Ward', 23, 70)
Row 19113 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 8, 10), 'Emergency Ward', 27, 61)
Row 19114 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 8, 24), 'Surgical Ward', 24, 66)
Row 19115 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 8, 27), 'ICU', 24, 54)
Row 19116 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 8, 50), 'Maternity Ward', 23, 70)
Row 19117 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 9, 24), 'Emergency Ward', 27, 60)
Row 19118 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 9, 37), 'Surgical Ward', 24, 66)
Row 19119 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 9, 39), 'ICU', 24, 53)
Row 19120 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 10, 4), 'Maternity Ward', 23, 70)
Row 19121 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 10, 33), 'Emergency Ward', 27, 60)
Row 19122 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 10, 46), 'Surgical Ward', 24, 66)
Row 19123 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 10, 47), 'ICU', 24, 53)
Row 19124 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 11, 12), 'Maternity Ward', 23, 70)
Row 19125 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 11, 54), 'Emergency Ward', 27, 61)
Row 19126 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 12, 6), 'ICU', 24, 53)
Row 19127 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 12, 6), 'Surgical Ward', 24, 66)
Row 19128 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 12, 33), 'Maternity Ward', 23, 70)
Row 19129 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 13, 15), 'Emergency Ward', 27, 61)
Row 19130 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 13, 25), 'ICU', 24, 53)
Row 19131 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 13, 27), 'Surgical Ward', 24, 66)
Row 19132 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 13, 53), 'Maternity Ward', 23, 70)
Row 19133 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 14, 36), 'Emergency Ward', 27, 61)
Row 19134 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 14, 44), 'ICU', 24, 53)
Row 19135 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 14, 47), 'Surgical Ward', 24, 66)
Row 19136 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 15, 13), 'Maternity Ward', 23, 70)
Row 19137 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 15, 57), 'Emergency Ward', 27, 61)
Row 19138 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 16, 4), 'ICU', 24, 53)
Row 19139 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 16, 8), 'Surgical Ward', 24, 66)
Row 19140 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 16, 34), 'Maternity Ward', 23, 70)
Row 19141 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 17, 18), 'Emergency Ward', 27, 61)
Row 19142 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 17, 22), 'ICU', 24, 53)
Row 19143 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 17, 28), 'Surgical Ward', 24, 66)
Row 19144 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 17, 55), 'Maternity Ward', 23, 70)
Row 19145 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 18, 39), 'Emergency Ward', 27, 61)
Row 19146 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 18, 41), 'ICU', 24, 54)
Row 19147 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 18, 49), 'Surgical Ward', 24, 66)
Row 19148 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 19, 15), 'Maternity Ward', 23, 70)
Row 19149 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 20), 'Emergency Ward', 27, 61)
Row 19150 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 20), 'ICU', 24, 54)

Row 19151 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 20, 9), 'Surgical Ward', 24, 66)
Row 19152 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 20, 35), 'Maternity Ward', 23, 70)
Row 19153 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 21, 20), 'ICU', 24, 53)
Row 19154 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 21, 21), 'Emergency Ward', 27, 61)
Row 19155 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 21, 30), 'Surgical Ward', 24, 66)
Row 19156 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 21, 55), 'Maternity Ward', 23, 70)
Row 19157 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 22, 39), 'ICU', 24, 53)
Row 19158 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 22, 42), 'Emergency Ward', 27, 61)
Row 19159 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 22, 50), 'Surgical Ward', 24, 66)
Row 19160 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 23, 16), 'Maternity Ward', 23, 70)
Row 19161 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 23, 51), 'ICU', 27, 55)
Row 19162 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 23, 56), 'Emergency Ward', 27, 61)
Row 19163 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 24, 4), 'Surgical Ward', 24, 66)
Row 19164 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 24, 29), 'Maternity Ward', 23, 70)
Row 19165 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 24, 58), 'ICU', 24, 53)
Row 19166 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 25, 6), 'Emergency Ward', 27, 61)
Row 19167 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 25, 13), 'Surgical Ward', 24, 66)
Row 19168 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 25, 38), 'Maternity Ward', 23, 70)
Row 19169 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 26, 18), 'ICU', 24, 54)
Row 19170 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 26, 26), 'Emergency Ward', 27, 61)
Row 19171 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 26, 33), 'Surgical Ward', 24, 66)
Row 19172 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 26, 59), 'Maternity Ward', 23, 70)
Row 19173 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 27, 37), 'ICU', 24, 54)
Row 19174 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 27, 47), 'Emergency Ward', 27, 61)
Row 19175 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 27, 54), 'Surgical Ward', 24, 66)
Row 19176 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 28, 19), 'Maternity Ward', 23, 70)
Row 19177 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 28, 56), 'ICU', 27, 55)
Row 19178 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 29, 8), 'Emergency Ward', 27, 61)
Row 19179 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 29, 14), 'Surgical Ward', 24, 66)
Row 19180 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 29, 40), 'Maternity Ward', 23, 70)
Row 19181 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 30, 15), 'ICU', 24, 54)
Row 19182 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 30, 29), 'Emergency Ward', 27, 61)
Row 19183 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 30, 35), 'Surgical Ward', 24, 66)
Row 19184 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 31), 'Maternity Ward', 23, 70)
Row 19185 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 31, 34), 'ICU', 24, 54)
Row 19186 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 31, 50), 'Emergency Ward', 27, 61)
Row 19187 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 31, 55), 'Surgical Ward', 24, 66)
Row 19188 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 32, 20), 'Maternity Ward', 23, 70)
Row 19189 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 32, 53), 'ICU', 24, 54)
Row 19190 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 33, 12), 'Emergency Ward', 27, 61)
Row 19191 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 33, 16), 'Surgical Ward', 24, 66)
Row 19192 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 33, 41), 'Maternity Ward', 23, 70)
Row 19193 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 34, 12), 'ICU', 24, 54)
Row 19194 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 34, 32), 'Emergency Ward', 27, 61)
Row 19195 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 34, 36), 'Surgical Ward', 24, 66)
Row 19196 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 35, 1), 'Maternity Ward', 23, 70)
Row 19197 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 35, 31), 'ICU', 24, 54)
Row 19198 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 35, 53), 'Emergency Ward', 27, 61)
Row 19199 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 35, 57), 'Surgical Ward', 24, 66)

Row 19200 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 36, 22), 'Maternity Ward', 23, 70)
Row 19201 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 36, 50), 'ICU', 24, 54)
Row 19202 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 37, 14), 'Emergency Ward', 27, 61)
Row 19203 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 37, 17), 'Surgical Ward', 24, 66)
Row 19204 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 37, 42), 'Maternity Ward', 23, 70)
Row 19205 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 38, 3), 'ICU', 24, 54)
Row 19206 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 38, 28), 'Emergency Ward', 27, 61)
Row 19207 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 38, 30), 'Surgical Ward', 24, 66)
Row 19208 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 38, 55), 'Maternity Ward', 23, 70)
Row 19209 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 39, 10), 'ICU', 24, 54)
Row 19210 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 39, 37), 'Emergency Ward', 27, 61)
Row 19211 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 39, 39), 'Surgical Ward', 24, 66)
Row 19212 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 40, 5), 'Maternity Ward', 23, 70)
Row 19213 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 40, 29), 'ICU', 24, 54)
Row 19214 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 40, 58), 'Emergency Ward', 27, 61)
Row 19215 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 41), 'Surgical Ward', 24, 66)
Row 19216 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 41, 25), 'Maternity Ward', 23, 70)
Row 19217 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 41, 48), 'ICU', 24, 54)
Row 19218 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 42, 19), 'Emergency Ward', 27, 61)
Row 19219 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 42, 20), 'Surgical Ward', 24, 66)
Row 19220 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 42, 46), 'Maternity Ward', 23, 70)
Row 19221 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 43, 8), 'ICU', 24, 54)
Row 19222 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 43, 40), 'Emergency Ward', 27, 61)
Row 19223 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 43, 41), 'Surgical Ward', 24, 66)
Row 19224 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 44, 6), 'Maternity Ward', 23, 70)
Row 19225 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 44, 27), 'ICU', 24, 54)
Row 19226 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 45, 1), 'Emergency Ward', 27, 61)
Row 19227 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 45, 1), 'Surgical Ward', 24, 67)
Row 19228 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 45, 26), 'Maternity Ward', 23, 70)
Row 19229 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 45, 46), 'ICU', 24, 54)
Row 19230 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 46, 22), 'Emergency Ward', 27, 61)
Row 19231 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 46, 46), 'Maternity Ward', 23, 70)
Row 19232 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 47, 5), 'ICU', 24, 54)
Row 19233 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 47, 43), 'Surgical Ward', 24, 66)
Row 19234 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 47, 44), 'Emergency Ward', 27, 61)
Row 19235 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 48, 7), 'Maternity Ward', 23, 70)
Row 19236 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 48, 24), 'ICU', 24, 54)
Row 19237 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 49, 3), 'Surgical Ward', 24, 66)
Row 19238 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 49, 4), 'Emergency Ward', 27, 61)
Row 19239 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 49, 27), 'Maternity Ward', 23, 70)
Row 19240 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 49, 43), 'ICU', 24, 54)
Row 19241 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 50, 23), 'Surgical Ward', 24, 66)
Row 19242 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 50, 25), 'Emergency Ward', 27, 61)
Row 19243 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 50, 48), 'Maternity Ward', 23, 70)
Row 19244 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 51, 2), 'ICU', 24, 54)
Row 19245 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 51, 44), 'Surgical Ward', 24, 66)
Row 19246 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 51, 45), 'Emergency Ward', 27, 61)

Row 19247 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 52, 8), 'Maternity Ward', 23, 70)
Row 19248 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 52, 14), 'ICU', 24, 54)
Row 19249 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 52, 57), 'Surgical Ward', 24, 66)
Row 19250 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 52, 59), 'Emergency Ward', 27, 61)
Row 19251 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 53, 21), 'Maternity Ward', 23, 70)
Row 19252 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 53, 22), 'ICU', 24, 54)
Row 19253 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 54, 7), 'Surgical Ward', 24, 67)
Row 19254 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 54, 9), 'Emergency Ward', 27, 61)
Row 19255 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 54, 31), 'Maternity Ward', 23, 70)
Row 19256 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 54, 41), 'ICU', 24, 54)
Row 19257 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 55, 27), 'Surgical Ward', 24, 66)
Row 19258 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 55, 30), 'Emergency Ward', 27, 61)
Row 19259 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 55, 51), 'Maternity Ward', 23, 70)
Row 19260 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 56), 'ICU', 24, 54)
Row 19261 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 56, 47), 'Surgical Ward', 24, 66)
Row 19262 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 56, 51), 'Emergency Ward', 27, 61)
Row 19263 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 57, 11), 'Maternity Ward', 23, 70)
Row 19264 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 57, 19), 'ICU', 24, 54)
Row 19265 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 58, 8), 'Surgical Ward', 24, 66)
Row 19266 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 58, 12), 'Emergency Ward', 27, 61)
Row 19267 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 58, 32), 'Maternity Ward', 23, 70)
Row 19268 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 58, 38), 'ICU', 24, 54)
Row 19269 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 59, 28), 'Surgical Ward', 24, 67)
Row 19270 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 59, 33), 'Emergency Ward', 27, 61)
Row 19271 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 59, 52), 'Maternity Ward', 23, 70)
Row 19272 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 2, 59, 57), 'ICU', 24, 54)
Row 19273 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 0, 49), 'Surgical Ward', 24, 67)
Row 19274 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 0, 54), 'Emergency Ward', 27, 61)
Row 19275 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 1, 12), 'Maternity Ward', 23, 70)
Row 19276 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 1, 16), 'ICU', 24, 54)
Row 19277 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 2, 9), 'Surgical Ward', 24, 66)
Row 19278 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 2, 14), 'Emergency Ward', 27, 61)
Row 19279 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 2, 33), 'Maternity Ward', 23, 70)
Row 19280 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 2, 36), 'ICU', 24, 54)
Row 19281 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 3, 30), 'Surgical Ward', 24, 66)
Row 19282 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 3, 36), 'Emergency Ward', 27, 61)
Row 19283 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 3, 53), 'Maternity Ward', 23, 70)
Row 19284 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 3, 55), 'ICU', 24, 54)
Row 19285 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 4, 50), 'Surgical Ward', 24, 67)
Row 19286 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 4, 56), 'Emergency Ward', 27, 61)
Row 19287 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 5, 14), 'Maternity Ward', 23, 70)
Row 19288 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 5, 14), 'ICU', 24, 54)
Row 19289 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 6, 10), 'Surgical Ward', 24, 66)
Row 19290 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 6, 17), 'Emergency Ward', 27, 61)
Row 19291 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 6, 26), 'ICU', 24, 54)
Row 19292 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 6, 34), 'Maternity Ward', 23, 70)
Row 19293 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 7, 24), 'Surgical Ward', 24, 67)
Row 19294 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 7, 31), 'Emergency Ward', 27, 61)
Row 19295 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 7, 34), 'ICU', 24, 54)

Row 19296 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 7, 47), 'Maternity Ward', 23, 70)
Row 19297 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 8, 33), 'Surgical Ward', 24, 67)
Row 19298 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 8, 41), 'Emergency Ward', 27, 61)
Row 19299 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 8, 53), 'ICU', 24, 54)
Row 19300 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 8, 56), 'Maternity Ward', 23, 70)
Row 19301 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 9, 53), 'Surgical Ward', 24, 67)
Row 19302 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 10, 2), 'Emergency Ward', 27, 61)
Row 19303 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 10, 12), 'ICU', 24, 54)
Row 19304 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 10, 17), 'Maternity Ward', 24, 70)
Row 19305 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 11, 14), 'Surgical Ward', 24, 67)
Row 19306 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 11, 23), 'Emergency Ward', 27, 61)
Row 19307 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 11, 31), 'ICU', 24, 54)
Row 19308 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 11, 37), 'Maternity Ward', 23, 70)
Row 19309 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 12, 34), 'Surgical Ward', 24, 67)
Row 19310 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 12, 43), 'Emergency Ward', 27, 61)
Row 19311 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 12, 50), 'ICU', 24, 54)
Row 19312 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 12, 58), 'Maternity Ward', 23, 70)
Row 19313 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 13, 55), 'Surgical Ward', 24, 67)
Row 19314 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 14, 5), 'Emergency Ward', 27, 61)
Row 19315 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 14, 9), 'ICU', 24, 54)
Row 19316 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 14, 18), 'Maternity Ward', 23, 70)
Row 19317 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 15, 15), 'Surgical Ward', 24, 67)
Row 19318 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 15, 25), 'Emergency Ward', 27, 61)
Row 19319 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 15, 28), 'ICU', 24, 54)
Row 19320 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 15, 38), 'Maternity Ward', 23, 70)
Row 19321 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 16, 36), 'Surgical Ward', 24, 67)
Row 19322 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 16, 46), 'Emergency Ward', 27, 61)
Row 19323 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 16, 47), 'ICU', 24, 54)
Row 19324 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 16, 59), 'Maternity Ward', 23, 70)
Row 19325 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 17, 56), 'Surgical Ward', 24, 67)
Row 19326 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 18, 6), 'ICU', 24, 54)
Row 19327 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 18, 7), 'Emergency Ward', 27, 61)
Row 19328 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 18, 19), 'Maternity Ward', 23, 70)
Row 19329 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 19, 17), 'Surgical Ward', 24, 67)
Row 19330 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 19, 25), 'ICU', 24, 54)
Row 19331 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 19, 28), 'Emergency Ward', 27, 61)
Row 19332 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 19, 40), 'Maternity Ward', 23, 70)
Row 19333 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 20, 37), 'Surgical Ward', 24, 67)
Row 19334 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 20, 38), 'ICU', 24, 54)
Row 19335 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 20, 49), 'Emergency Ward', 27, 61)
Row 19336 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 21), 'Maternity Ward', 23, 70)
Row 19337 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 21, 45), 'ICU', 24, 54)
Row 19338 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 21, 51), 'Surgical Ward', 24, 67)
Row 19339 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 22, 3), 'Emergency Ward', 27, 61)
Row 19340 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 22, 13), 'Maternity Ward', 23, 70)
Row 19341 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 23), 'Surgical Ward', 24, 67)
Row 19342 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 23, 5), 'ICU', 24, 54)
Row 19343 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 23, 12), 'Emergency Ward', 27, 61)

Row 19344 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 23, 22), 'Maternity Ward', 23, 70)
Row 19345 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 24, 20), 'Surgical Ward', 24, 67)
Row 19346 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 24, 23), 'ICU', 24, 54)
Row 19347 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 24, 33), 'Emergency Ward', 27, 61)
Row 19348 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 24, 43), 'Maternity Ward', 23, 70)
Row 19349 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 25, 40), 'Surgical Ward', 24, 67)
Row 19350 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 25, 43), 'ICU', 24, 54)
Row 19351 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 25, 54), 'Emergency Ward', 27, 61)
Row 19352 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 26, 3), 'Maternity Ward', 23, 70)
Row 19353 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 27, 1), 'Surgical Ward', 24, 67)
Row 19354 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 27, 2), 'ICU', 24, 54)
Row 19355 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 27, 15), 'Emergency Ward', 27, 61)
Row 19356 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 27, 24), 'Maternity Ward', 23, 70)
Row 19357 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 28, 21), 'ICU', 24, 54)
Row 19358 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 28, 21), 'Surgical Ward', 24, 67)
Row 19359 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 28, 36), 'Emergency Ward', 27, 61)
Row 19360 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 28, 44), 'Maternity Ward', 23, 70)
Row 19361 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 29, 40), 'ICU', 24, 54)
Row 19362 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 29, 42), 'Surgical Ward', 24, 67)
Row 19363 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 29, 57), 'Emergency Ward', 27, 61)
Row 19364 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 30, 5), 'Maternity Ward', 23, 70)
Row 19365 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 30, 59), 'ICU', 27, 55)
Row 19366 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 31, 2), 'Surgical Ward', 24, 67)
Row 19367 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 31, 18), 'Emergency Ward', 27, 61)
Row 19368 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 31, 25), 'Maternity Ward', 23, 70)
Row 19369 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 32, 18), 'ICU', 24, 54)
Row 19370 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 32, 23), 'Surgical Ward', 24, 67)
Row 19371 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 32, 39), 'Emergency Ward', 27, 61)
Row 19372 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 32, 45), 'Maternity Ward', 23, 70)
Row 19373 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 33, 37), 'ICU', 24, 54)
Row 19374 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 33, 43), 'Surgical Ward', 24, 67)
Row 19375 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 34), 'Emergency Ward', 27, 61)
Row 19376 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 34, 6), 'Maternity Ward', 23, 70)
Row 19377 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 34, 49), 'ICU', 24, 54)
Row 19378 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 35, 4), 'Surgical Ward', 24, 67)
Row 19379 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 35, 21), 'Emergency Ward', 27, 61)
Row 19380 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 35, 26), 'Maternity Ward', 23, 70)
Row 19381 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 35, 57), 'ICU', 24, 55)
Row 19382 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 36, 17), 'Surgical Ward', 24, 67)
Row 19383 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 36, 35), 'Emergency Ward', 27, 61)
Row 19384 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 36, 39), 'Maternity Ward', 23, 70)
Row 19385 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 37, 16), 'ICU', 24, 55)
Row 19386 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 37, 26), 'Surgical Ward', 24, 67)
Row 19387 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 37, 44), 'Emergency Ward', 27, 61)
Row 19388 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 37, 48), 'Maternity Ward', 23, 70)
Row 19389 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 38, 35), 'ICU', 24, 54)
Row 19390 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 38, 47), 'Surgical Ward', 24, 67)

Row 19391 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 39, 5), 'Emergency Ward', 27, 61)
Row 19392 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 39, 9), 'Maternity Ward', 23, 70)
Row 19393 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 39, 54), 'ICU', 24, 55)
Row 19394 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 40, 7), 'Surgical Ward', 24, 67)
Row 19395 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 40, 26), 'Emergency Ward', 27, 61)
Row 19396 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 40, 29), 'Maternity Ward', 23, 70)
Row 19397 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 41, 13), 'ICU', 24, 55)
Row 19398 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 41, 28), 'Surgical Ward', 24, 67)
Row 19399 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 41, 47), 'Emergency Ward', 27, 61)
Row 19400 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 41, 50), 'Maternity Ward', 23, 70)
Row 19401 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 42, 32), 'ICU', 24, 55)
Row 19402 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 42, 48), 'Surgical Ward', 24, 67)
Row 19403 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 43, 8), 'Emergency Ward', 27, 61)
Row 19404 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 43, 10), 'Maternity Ward', 23, 70)
Row 19405 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 43, 52), 'ICU', 24, 55)
Row 19406 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 44, 9), 'Surgical Ward', 24, 67)
Row 19407 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 44, 29), 'Emergency Ward', 27, 61)
Row 19408 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 44, 30), 'Maternity Ward', 23, 70)
Row 19409 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 45, 11), 'ICU', 24, 55)
Row 19410 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 45, 29), 'Surgical Ward', 24, 67)
Row 19411 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 45, 50), 'Emergency Ward', 27, 61)
Row 19412 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 45, 51), 'Maternity Ward', 23, 70)
Row 19413 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 46, 30), 'ICU', 24, 55)
Row 19414 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 46, 50), 'Surgical Ward', 24, 67)
Row 19415 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 47, 11), 'Emergency Ward', 27, 61)
Row 19416 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 47, 11), 'Maternity Ward', 23, 70)
Row 19417 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 47, 49), 'ICU', 24, 54)
Row 19418 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 48, 10), 'Surgical Ward', 24, 67)
Row 19419 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 48, 32), 'Maternity Ward', 23, 70)
Row 19420 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 48, 32), 'Emergency Ward', 27, 61)
Row 19421 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 49, 1), 'ICU', 24, 55)
Row 19422 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 49, 30), 'Surgical Ward', 24, 67)
Row 19423 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 49, 52), 'Maternity Ward', 23, 70)
Row 19424 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 49, 53), 'Emergency Ward', 27, 61)
Row 19425 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 50, 9), 'ICU', 24, 55)
Row 19426 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 50, 44), 'Surgical Ward', 24, 67)
Row 19427 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 51, 6), 'Maternity Ward', 23, 70)
Row 19428 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 51, 7), 'Emergency Ward', 27, 61)
Row 19429 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 51, 28), 'ICU', 24, 55)
Row 19430 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 51, 53), 'Surgical Ward', 24, 67)
Row 19431 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 52, 14), 'Maternity Ward', 23, 70)
Row 19432 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 52, 16), 'Emergency Ward', 27, 61)
Row 19433 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 52, 47), 'ICU', 24, 55)
Row 19434 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 53, 13), 'Surgical Ward', 24, 67)
Row 19435 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 53, 35), 'Maternity Ward', 23, 70)
Row 19436 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 53, 37), 'Emergency Ward', 27, 61)
Row 19437 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 54, 6), 'ICU', 24, 55)
Row 19438 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 54, 34), 'Surgical Ward', 24, 67)
Row 19439 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 54, 55), 'Maternity Ward', 23, 70)

Row 19440 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 54, 58), 'Emergency Ward', 27, 61)
Row 19441 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 55, 25), 'ICU', 24, 55)
Row 19442 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 55, 54), 'Surgical Ward', 24, 67)
Row 19443 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 56, 16), 'Maternity Ward', 23, 70)
Row 19444 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 56, 19), 'Emergency Ward', 27, 61)
Row 19445 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 56, 45), 'ICU', 24, 55)
Row 19446 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 57, 15), 'Surgical Ward', 24, 67)
Row 19447 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 57, 36), 'Maternity Ward', 23, 70)
Row 19448 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 57, 40), 'Emergency Ward', 27, 61)
Row 19449 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 58, 3), 'ICU', 24, 55)
Row 19450 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 58, 35), 'Surgical Ward', 24, 67)
Row 19451 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 59, 1), 'Emergency Ward', 27, 61)
Row 19452 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 59, 22), 'ICU', 24, 55)
Row 19453 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 3, 59, 56), 'Surgical Ward', 24, 67)
Row 19454 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 0, 17), 'Maternity Ward', 23, 70)
Row 19455 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 0, 22), 'Emergency Ward', 27, 61)
Row 19456 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 0, 41), 'ICU', 24, 55)
Row 19457 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 1, 16), 'Surgical Ward', 24, 67)
Row 19458 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 1, 37), 'Maternity Ward', 23, 70)
Row 19459 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 1, 43), 'Emergency Ward', 27, 61)
Row 19460 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 2), 'ICU', 24, 55)
Row 19461 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 2, 37), 'Surgical Ward', 24, 67)
Row 19462 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 2, 58), 'Maternity Ward', 23, 70)
Row 19463 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 3, 4), 'Emergency Ward', 27, 61)
Row 19464 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 3, 13), 'ICU', 24, 55)
Row 19465 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 3, 57), 'Surgical Ward', 24, 67)
Row 19466 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 4, 18), 'Maternity Ward', 23, 70)
Row 19467 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 4, 20), 'ICU', 24, 55)
Row 19468 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 4, 25), 'Emergency Ward', 27, 61)
Row 19469 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 5, 11), 'Surgical Ward', 24, 67)
Row 19470 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 5, 31), 'Maternity Ward', 23, 71)
Row 19471 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 5, 38), 'Emergency Ward', 27, 61)
Row 19472 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 5, 39), 'ICU', 24, 55)
Row 19473 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 6, 20), 'Surgical Ward', 24, 67)
Row 19474 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 6, 40), 'Maternity Ward', 23, 70)
Row 19475 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 6, 48), 'Emergency Ward', 27, 61)
Row 19476 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 6, 58), 'ICU', 24, 55)
Row 19477 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 7, 40), 'Surgical Ward', 24, 67)
Row 19478 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 8, 1), 'Maternity Ward', 23, 70)
Row 19479 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 8, 9), 'Emergency Ward', 27, 61)
Row 19480 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 8, 17), 'ICU', 24, 55)
Row 19481 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 9), 'Surgical Ward', 24, 67)
Row 19482 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 9, 21), 'Maternity Ward', 23, 70)
Row 19483 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 9, 30), 'Emergency Ward', 27, 61)
Row 19484 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 9, 37), 'ICU', 24, 55)
Row 19485 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 10, 21), 'Surgical Ward', 24, 67)
Row 19486 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 10, 41), 'Maternity Ward', 23, 70)
Row 19487 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 10, 51), 'Emergency Ward', 27, 61)

Row 19488 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 10, 56), 'ICU', 24, 55)
Row 19489 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 11, 41), 'Surgical Ward', 24, 67)
Row 19490 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 12, 2), 'Maternity Ward', 23, 70)
Row 19491 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 12, 12), 'Emergency Ward', 27, 61)
Row 19492 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 12, 15), 'ICU', 24, 55)
Row 19493 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 13, 2), 'Surgical Ward', 24, 67)
Row 19494 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 13, 22), 'Maternity Ward', 23, 70)
Row 19495 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 13, 33), 'Emergency Ward', 27, 61)
Row 19496 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 13, 34), 'ICU', 27, 56)
Row 19497 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 14, 22), 'Surgical Ward', 24, 67)
Row 19498 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 14, 43), 'Maternity Ward', 23, 70)
Row 19499 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 14, 53), 'ICU', 27, 56)
Row 19500 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 14, 54), 'Emergency Ward', 27, 61)
Row 19501 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 15, 43), 'Surgical Ward', 24, 67)
Row 19502 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 16, 3), 'Maternity Ward', 23, 70)
Row 19503 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 16, 12), 'ICU', 24, 55)
Row 19504 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 16, 15), 'Emergency Ward', 27, 61)
Row 19505 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 17, 3), 'Surgical Ward', 24, 67)
Row 19506 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 17, 23), 'Maternity Ward', 23, 70)
Row 19507 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 17, 24), 'ICU', 24, 55)
Row 19508 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 17, 35), 'Emergency Ward', 27, 61)
Row 19509 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 18, 24), 'Surgical Ward', 24, 67)
Row 19510 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 18, 32), 'ICU', 24, 55)
Row 19511 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 18, 44), 'Maternity Ward', 23, 70)
Row 19512 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 18, 56), 'Emergency Ward', 27, 61)
Row 19513 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 19, 37), 'Surgical Ward', 24, 67)
Row 19514 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 19, 51), 'ICU', 24, 55)
Row 19515 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 19, 57), 'Maternity Ward', 23, 70)
Row 19516 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 20, 10), 'Emergency Ward', 27, 61)
Row 19517 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 20, 46), 'Surgical Ward', 24, 67)
Row 19518 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 21, 6), 'Maternity Ward', 23, 70)
Row 19519 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 21, 10), 'ICU', 24, 55)
Row 19520 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 21, 20), 'Emergency Ward', 27, 61)
Row 19521 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 22, 7), 'Surgical Ward', 24, 67)
Row 19522 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 22, 27), 'Maternity Ward', 23, 70)
Row 19523 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 22, 29), 'ICU', 24, 55)
Row 19524 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 22, 41), 'Emergency Ward', 27, 61)
Row 19525 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 23, 27), 'Surgical Ward', 24, 67)
Row 19526 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 23, 47), 'Maternity Ward', 23, 70)
Row 19527 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 23, 48), 'ICU', 24, 55)
Row 19528 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 24, 2), 'Emergency Ward', 27, 61)
Row 19529 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 24, 48), 'Surgical Ward', 24, 67)
Row 19530 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 25, 23), 'Emergency Ward', 27, 61)
Row 19531 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 4, 26, 8), 'Surgical Ward', 24, 67)
Row 19532 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 27, 56), 'Surgical Ward', 24, 68)
Row 19533 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 28, 14), 'Maternity Ward', 24, 71)
Row 19534 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 28, 23), 'ICU', 24, 56)
Row 19535 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 28, 54), 'Emergency Ward', 27, 62)

Row 19536 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 29, 17), 'Surgical Ward', 24, 67)
Row 19537 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 29, 31), 'ICU', 24, 56)
Row 19538 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 29, 33), 'Maternity Ward', 23, 71)
Row 19539 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 30, 15), 'Emergency Ward', 27, 62)
Row 19540 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 30, 37), 'Surgical Ward', 24, 68)
Row 19541 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 30, 50), 'ICU', 24, 56)
Row 19542 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 30, 54), 'Maternity Ward', 23, 71)
Row 19543 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 31, 36), 'Emergency Ward', 27, 62)
Row 19544 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 31, 51), 'Surgical Ward', 24, 67)
Row 19545 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 32, 7), 'Maternity Ward', 23, 71)
Row 19546 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 32, 10), 'ICU', 24, 56)
Row 19547 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 32, 50), 'Emergency Ward', 27, 62)
Row 19548 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 33), 'Surgical Ward', 24, 68)
Row 19549 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 33, 16), 'Maternity Ward', 23, 71)
Row 19550 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 33, 28), 'ICU', 24, 56)
Row 19551 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 33, 59), 'Emergency Ward', 27, 62)
Row 19552 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 34, 20), 'Surgical Ward', 24, 68)
Row 19553 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 34, 37), 'Maternity Ward', 23, 71)
Row 19554 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 34, 47), 'ICU', 24, 56)
Row 19555 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 35, 21), 'Emergency Ward', 27, 62)
Row 19556 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 35, 41), 'Surgical Ward', 24, 68)
Row 19557 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 35, 57), 'Maternity Ward', 23, 71)
Row 19558 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 36, 6), 'ICU', 24, 56)
Row 19559 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 36, 41), 'Emergency Ward', 27, 62)
Row 19560 is Updated!!!
INSERT INTO hospital_A (Timestamp, Room, Temperature, Humidity) VALUES (?, ?, ?, ?) (datetime.datetime(2018, 10, 18, 5, 37, 1), 'Surgical Ward', 24, 68)
Row 19561 is Updated!!!

In [13]:
aws_mysql_cursor.close()
aws_sql_server_cursor.close()

True

In [ ]:
aws_mysql_cnx.close()
aws_sql_server_cnx.clos()